{% extends "utils/form.html" %}
{% from "schedule/macros.html" import date_form as render_date_fom %}
{% from "utils/macros.html" import image_select %}


{% block title %}
  {% block formTitle %}Create Show{% endblock %}
{% endblock %}

{% block formID %}eventForm{% endblock %}
{% block enctype %}multipart/form-data{% endblock %}
{% block form %}
  <div id="poster-form">
    {{ render_form(poster_form) }}
    {% if images %}
      {{ image_select(request=request, images=images, id="poster", label="Poster") }}
    {% endif %}
    <script>
      {# variables for image select #}
      var selectorId = "#id_poster";
      var selectDiv  = "#div_id_poster";
      var uploadDiv  = "#div_id_image";
      {% if images %}
        var images = true;
      {% else %}
        var images = false;
      {% endif %}
    </script>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {{ render_form(show_info_form) }}
    </div>
    <div class="col-sm-6">
      {{ render_date_fom(date_form) }}
      {{ render_form(event_form) }}
    </div>
  </div>
{% endblock %}

{% block extraSubmit %}
  {{ progress_bar() }}
{% endblock %}
