{% extends "utils/form.html" %}
{% load crispy_forms_tags i18n progress_bar %}
{% crispy DateForm DateForm.helper %}
{% crispy EventForm EventForm.helper %}
{% crispy ShowInfoForm ShowInfoForm.helper %}

{% block title %}
  {% block formTitle %}Create Show{% endblock %}
{% endblock %}

{% block formID %}eventForm{% endblock %}
{% block enctype %}multipart/form-data{% endblock %}
{% block form %}
  <div id="poster-form">
    {% crispy poster_form %}
    {% if images %}
      {% include "utils/_image_select.html" with images=images id="poster" label="Poster" %}
    {% endif %}
    <script>
      {% comment %}variables for image select{% endcomment %}
      var selectorId = "#id_poster";
      var selectDiv  = "#div_id_poster";
      var uploadDiv  = "#div_id_image";
      {% if images %}
        var images = true;
      {% else %}
        var images = false;
      {% endif %}
    </script>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {% crispy show_info_form %}
    </div>
    <div class="col-sm-6">
      {% crispy date_form %}
      {% crispy event_form %}
    </div>
  </div>
{% endblock %}
{% block extraSubmit %}{% progress_bar %}{% endblock %}
