{% extends 'form.html' %}
{% load crispy_forms_tags i18n progress_bar %}
{% crispy AlbumForm AlbumForm.helper %}
{% crispy AlbumArtForm AlbumArtForm.helper %}

{% block title %}
  {% block formTitle %}{% trans "Add Album" %}{% endblock %}
{% endblock %}

{% block formID %}album-form{% endblock %}
{% block enctype %}multipart/form-data{% endblock %}
{% block form %}
    {% crispy albumArtForm %}
    {% if images %}
      {% include "utils/_image_select.html" with images=images id="album_art" label="Album Art" %}
    {% endif %}
    <script>
      {% comment %}variables for image select{% endcomment %}
      var selectorId = "#id_album_art";
      var selectDiv  = "#div_id_album_art";
      var uploadDiv  = "#div_id_image";
      {% if images %}
        var images = true;
      {% else %}
        var images = false;
      {% endif %}
    </script>
    {% crispy albumForm %}
{% endblock %}
{% block extraSubmit %}{% progress_bar %}{% endblock %}
