{% extends 'profile/artist/forms/about_modal.html' %}
{% load crispy_forms_tags %}
{% crispy ContactForm ContactForm.helper %}
{% crispy NonUserLocationForm NonUserLocationForm.helper %}

{% block contactClass %}active{% endblock %}

{% block title %}{% block formTitle %}{{ contactType|capfirst }} Contact Info{% endblock %}{% endblock %}
{% block formID %}contactMusicianForm{% endblock %}
{% block form %}
  <span>Edit: </span>
  <a class="editMusicianContact {% ifequal contactType 'band' %}text-bold{% endifequal %}" href="{% url 'artist:userContactForm' %}">Band</a>,
  <a class="editMusicianContact {% ifequal contactType 'booking' %}text-bold{% endifequal %}" href="{% url 'artist:contactForm' 'booking' %}">Booking</a>,
  <a class="editMusicianContact {% ifequal contactType 'label' %}text-bold{% endifequal %}" href="{% url 'artist:contactForm' 'label' %}">Label</a>,
  <a class="editMusicianContact {% ifequal contactType 'management' %}text-bold{% endifequal %}" href="{% url 'artist:contactForm' 'management' %}">Management</a>,
  <a class="editMusicianContact {% ifequal contactType 'press' %}text-bold{% endifequal %}" href="{% url 'artist:contactForm' 'press' %}">Press</a>
  {% crispy contactForm %}
  {% crispy locationForm %}
{% endblock %}
