

<div class="application">
  {% if application.applicant.profile.profile_type == 'm' %}
    {% include "search/_artist.html" with artist=application.applicant.profile.artist_profile %}
  {% else %}
    {% include "search/_venue.html" with venue=application.applicant.profile.venueProfile %}
  {% endif %}
  {% if user == publicRequest.requester %}
  <div class="row">
    <div class="col-xs-6">
      <a href="{{ url('application_view', kwargs={'thread_id':'application.thread.id'}) }}">View Application</a>
    </div>
    <div class="col-xs-6">
      <div class="text-right">
        <form method="POST" class="accept-form inline-block {% if application.approved %}hidden{% endif %}" action="{{ url('approve_public_request') }}">
          {% csrf_token %}
          <input type="hidden" name="application" value="{{ application.id }}">
          <button class="btn btn-success" type="submit"><span class="fa fa-check" ></span> Accept</button>
        </form>
        <form method="POST" class="decline-form inline-block {% if application.approved %}{% elif application.approved != None %}hidden{% endif %}" action="{{ url('deny_public_request') }}">
          {% csrf_token %}
          <input type="hidden" name="application" value="{{ application.id }}">
          <button class="btn btn-danger" type="submit"><span class="fa fa-ban" ></span> Decline</button>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

</div>
