{% load request %}

<div class="request">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          {% if request.headliner %}
          <div class="Headliner">
            <b>Headliner:</b>
            <a href="{{ url('redirectToProfile', kwargs={'username':request.headliner.participant.user.username, 'tab':'about'}) }}">
              {{ request.headliner.participant.user.profile }}
            </a>
            {% include "request/_accepted.html" with accepted=request.headliner.accepted %}
          </div>
          {% endif %}
          {% if request.openers %}
          <div class="Artists">
            <b>Artists:</b>
            <ul class="list-unstyled">
              {% for opener in request.openers %}
              <li>
                <a href="{{ url('redirectToProfile', kwargs={'username':opener.participant.user.username, 'tab':'about'}) }}">{{ opener.participant.user.profile }} </a>
                {% include "request/_accepted.html" with accepted=opener.accepted %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <div class="venue">
            <b>Venue:</b>
            <ul class="list-unstyled">
              <li>
                <a href="{{ url('redirectToProfile', kwargs={'username':request.venue.participant.user.username, 'tab':'about'}) }}">{{ request.venue.participant.user.profile }} </a>
                {% include "request/_accepted.html" with accepted=request.venue.accepted %}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <h4>Suggested dates:</h4>
          <p>
            {% include "utils/_date_start_end_full.html" with start=request.date.start end=request.date.end %}
          </p>
          <div>
            {% for event in events %}
            {% ifchanged event.show.date.start.day %}
            <p><b>{{ event.show.date.start|date:'N j' }}</b></p>
            {% endifchanged %}
            <p>
              {{ event.show.date.start|date:'fA' }} - {{ event.show.info.title }} {{ event.show.info.headliner }}
              {% if event.approved == None %}
              <span class="label label-warning">pending</span>
              {% endif %}
            </p>
            {% else %}
              <p>Your calendar is free</p>
            {% endfor %}
          </div>
          <a href="{{ url('request_edit', kwargs={'thread_id':'request.id'}) }}" class="">Edit</a>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="pull-right">
        <form method="POST" class="accept-form inline-block {% hide_accept request user %}" action="{{ url('request_accept') }}">
          {% csrf_token %}
          <input type="hidden" name="private_request" value="{{ request.id }}">
          <button class="btn btn-success" type="submit"><span class="fa fa-check" ></span> Accept</button>
        </form>
        <form method="POST" class="decline-form inline-block {% hide_decline request user %}" action="{{ url('request_decline') }}">
          {% csrf_token %}
          <input type="hidden" name="private_request" value="{{ request.id }}">
          <button class="btn btn-danger-inv" type="submit"><span class="fa fa-ban" ></span> Decline</button>
        </form>
      </div>
      <a href="{{ url('calendar_request_to_event', kwargs={'request_id':'request.id'}) }}" class="btn btn-link">Add to Calendar</a>
    </div>
  </div>
</div>
