<div class="request text-left">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          {% comment %}
          <div class="Headliner">
            <b>Artisit:</b>
            <a class="text-black" href="{% url 'redirectToProfile' headliner.username 'about' %}">
              {{ headliner.profile }}
            </a>
            {% include "request/_accepted.html" with accepted=headliner_accept %}
          </div>
          {% if openers.first %}
          <div class="Performers">
            <b>Performers:</b>
            {% for o in openers_accept %}
            <a class="text-black" href="{% url 'redirectToProfile' o.0.profile.user.username 'about' %}">
              {{ o.0 }}
            </a>
            {% include "request/_accepted.html" with accepted=o.1 %}
            {% endfor %}
          </div>
          {% endif %}
          <div class="host">
            <b>Host:</b>
            <a class="text-black" href="{% url 'redirectToProfile' host.username 'about' %}">{{ host.profile }}</a>
            {% include "request/_accepted.html" with accepted=host_accept %}
          </div>
          <p>Accept by: {{ request.accept_by }}</p>
          {% endcomment %}
        </div>

        <div class="col-sm-6">
          <h4>Suggested dates:</h4>
          <p>
            {% include "utils/dates/_start_end_full.html" with start=request.date.start end=request.date.end %}
          </p>
          <div>
            {% for event in events %}
            {% ifchanged event.show.date.start.day %}
            <p><b>{{ event.show.date.start|date:'N j' }}</b></p>
            {% endifchanged %}
            <p>
              {{ event.show.date.start|date:'fA' }} - {{ event.show.info.title }} {{ event.show.info.headliner }}
              {% if event.approved == None %}
              <span class="label label-warning">pending</span>
              {% endif %}
            </p>
            {% empty %}
            <p>Your calendar is free</p>
            {% endfor %}
          </div>
          <a href="{% url 'request_edit' request.id %}" class="">Edit</a>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="{% url 'calendar_request_to_event' user.calendar.slug request.id %}" class="btn btn-primary">Publish as show</a>
    </div>
  </div>
</div>
