{% from "profile/macros.html" import mugshot %}


<div class="request">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-2 col-sm-3">
        <div class="image-frame">
          <span class="frame-helper"></span>
          <a href="{{ publicRequest.requester.profile.get_absolute_url }}">
            {{ mugshot(profile==publicRequest.requester.profile, width=100, height=100) }}
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-sm-7">
        <a class="text-black" href="{{ url('redirectToProfile', kwargs={'username':publicRequest.requester.username, 'tab':'about'}) }}">
          <h3>{{ publicRequest.requester.profile }}</h3>
        </a>
        <div>
          {% for genre in publicRequest.requester.profile.genre.all() %}
            {% if loop.first %}Genres:{% else %},{% endif %}
            <span> {{ genre }}</span>
          {% endfor %}
        </div>
        <div>Apply before: {{ publicRequest.accept_by }}</div>
        <div>At: {{ publicRequest.zip_code }}</div>
        {% if publicRequest.applicants %}
        <div>Looking for {{ publicRequest.applicants.left }} bands</div>
        {% endif %}
        <p>{{ publicRequest.details }}</p>
      </div>
      <div class="col-sm-2">
        <div class="date-block">
          {% include "utils/_date_start_end_visual.html" with start=publicRequest.date.start end=publicRequest.date.end %}
        </div>
      </div>
    </div>
  </div>
</div>
