{% extends 'form.html' %}
{% load crispy_forms_tags %}
{% crispy MessageForm MessageForm.helper %}

{% block title %}
  {% block formTitle %}
    Apply to Request
  {% endblock %}
{% endblock %}

{% block formID %}applyForm{% endblock %}

{% block form %}
  <div class="well">
    {% include "request/_public_request.html" with publicRequest=publicRequest %}
  </div>
  {% crispy form %}
{% endblock %}

{% block submit %}<button type="submit" onclick="this.form.onsubmit(); return false; " class="btn btn-primary">Send</button>{% endblock %}
