{% extends "threads/view.html" %}
{% from "request/macros.html" import public_request, render_application %}


{% block from %}{% endblock %}

{% block card %}
  <div class="publicRequest">
    <div class="panel panel-default">
      {{ public_request(request=request, publicRequest=publicRequest) }}
      <div class="panel-footer">
        <h4>Applicant:</h4>
        {{ render_application(request=request, application=application, csrf_token=csrf_token) }}
      </div>
    </div>
  </div>
{% endblock %}
