{% extends "threads/compose.html" %}
{% from "utils/form_macros.html" import form as render_form %}


{% block title %}{% block formTitle %}Send Private Request{% endblock %}{% endblock %}
{% block private_request %}active{% endblock %}

{% block formID %}privateRequestForm{% endblock %}

{% block form %}
  {{ render_form(dateForm) }}
  <label>Artists*</label>
  {{ ArtistFormset.management_form }}
  {% if ArtistFormset.non_form_errors() %}
    <div class="alert alert-danger" role="alert">
      {{ ArtistFormset.non_form_errors() }}
    </div>
  {% endif %}
  {% for form in ArtistFormset %}
    {{ render_form(form) }}
  {% endfor %}
  <label>Venue*</label>
  {{ render_form(venueForm) }}
  {{ render_form(messageForm) }}
{% endblock %}
