{% from "profile/macros.html" import mugshot %}
{% from "schedule/macros.html" import day_calendar %}
{% from "search/cards.html" import artist_card, venue_card %}


{% macro public_request(request, publicRequest) -%}
  <div class="request">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2 col-sm-3">
          <div class="image-frame">
            <span class="frame-helper"></span>
            <a href="{{ publicRequest.requester.profile.get_absolute_url() }}">
              {{ mugshot(profile==publicRequest.requester.profile, width=100, height=100) }}
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-sm-7">
          <a class="text-black" href="{{ url('redirectToProfile', kwargs={'username':publicRequest.requester.username, 'tab':'about'}) }}">
            <h3>{{ publicRequest.requester.profile }}</h3>
          </a>
          <div>
            {% for genre in publicRequest.requester.profile.genre.all() %}
              {% if loop.first %}Genres:{% else %},{% endif %}
              <span> {{ genre }}</span>
            {% endfor %}
          </div>
          <div>Apply before: {{ publicRequest.accept_by }}</div>
          <div>At: {{ publicRequest.zip_code }}</div>
          {% if publicRequest.applicants %}
          <div>Looking for {{ publicRequest.applicants.left }} bands</div>
          {% endif %}
          <p>{{ publicRequest.details }}</p>
        </div>
        <div class="col-sm-2">
          <div class="date-block">
            {{ day_calendar(start=publicRequest.date.start, end=publicRequest.date.end) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}

{% macro render_application(request, application, csrf_token) -%}
  <div class="application">
    {% if application.applicant.profile.profile_type == 'm' %}
      {{ artist_card(request=request, artist=application.applicant.profile.artist_profile) }}
    {% else %}
      {{ venue_card(request=request, venue=application.applicant.profile.venueProfile) }}
    {% endif %}
    {% if user == application.public_request.requester %}
    <div class="row">
      <div class="col-xs-6">
        <a href="{{ url('application_view', kwargs={'thread_id':application.thread.id}) }}">
          View Application
        </a>
      </div>
      <div class="col-xs-6">
        <div class="text-right">
          <form method="POST" class="accept-form inline-block {% if application.approved %}hidden{% endif %}" action="{{ url('approve_public_request') }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="application" value="{{ application.id }}">
            <button class="btn btn-success" type="submit">
              <span class="fa fa-check" ></span> Accept
            </button>
          </form>
          <form method="POST" class="decline-form inline-block {% if application.approved %}{% elif application.approved != None %}hidden{% endif %}" action="{{ url('deny_public_request') }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="application" value="{{ application.id }}">
            <button class="btn btn-danger" type="submit">
              <span class="fa fa-ban" ></span> Decline
            </button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{%- endmacro %}

{% macro accepted(is_accepted) -%}
  {% if is_accepted %}
    <span class="text-success" ><span class="fa fa-check"></span>Accepted</span>
  {% elif is_accepted != None %}
    <span class="text-danger" ><span class="fa fa-ban"></span> Declined</span>
  {% endif %}
{%- endmacro %}

{% macro private_request(request, private_request, csrf_token) -%}
  <div class="request">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            {% if private_request.headliner() %}
            <div class="Headliner">
              <b>Headliner:</b>
              <a href="{{ url('redirectToProfile', kwargs={'username':private_request.headliner().participant.user.username, 'tab':'about'}) }}">
                {{ private_request.headliner().participant.user.profile }}
              </a>
              {{ accepted(is_accepted=private_request.headliner().accepted) }}
            </div>
            {% endif %}
            {% if private_request.openers() %}
            <div class="Artists">
              <b>Artists:</b>
              <ul class="list-unstyled">
                {% for opener in private_request.openers() %}
                <li>
                  <a href="{{ url('redirectToProfile', kwargs={'username':opener.participant.user.username, 'tab':'about'}) }}">
                    {{ opener.participant.user.profile }}
                  </a>
                  {{ accepted(is_accepted=opener.accepted) }}
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            <div class="venue">
              <b>Venue:</b>
              <ul class="list-unstyled">
                <li>
                  <a href="{{ url('redirectToProfile', kwargs={'username':private_request.venue().participant.user.username, 'tab':'about'}) }}">
                    {{ private_request.venue().participant.user.profile }}
                  </a>
                  {{ accepted(is_accepted=private_request.venue().accepted) }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <h4>Suggested dates:</h4>
            <p>
              {% with start=private_request.date.start, end=private_request.date.end %}
                {% if start.year == end.year %}
                  {{ local_time(start,"l") }},
                  {% if start.month == end.month %}
                    {{ local_time(start,"F") }}
                    {% if start.day == end.day %}
                      {{ local_time(start,"d, Y: P") }} - {{ local_time(end,"P") }}
                    {% else %}
                      {{ local_time(start,"d P") }} - {{ local_time(end,"d P, Y") }}
                    {% endif %}
                  {% else %}
                    {{ local_time(start,"F d, Y: P") }} - {{ local_time(end,"F d: P") }}
                  {% endif %}
                {% else %}
                  {{ local_time(start,"l, F d, Y: P") }} - {{ local_time(end,"l, F d, Y: P") }}
                {% endif %}
              {% endwith %}
            </p>
            <div>
              {% for event in events %}
              {% if event.show.date.start.day != previous_day %}
                {% set previous_day = event.show.date.start.day %}
                <p><b>{{ local_time(event.show.date.start,'N j') }}</b></p>
              {% endif %}
              <p>
                {{ local_time(event.show.date.start,'fA') }} - {{ event.show.info.title }} {{ event.show.info.headliner }}
                {% if event.approved == None %}
                <span class="label label-warning">pending</span>
                {% endif %}
              </p>
              {% else %}
                <p>Your calendar is free</p>
              {% endfor %}
            </div>
            <a href="{{ url('request_edit', kwargs={'request_id':private_request.id}) }}" class="">Edit</a>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="pull-right">
          <form method="POST" class="accept-form inline-block {{ hide_accept(private_request, request.user) }}" action="{{ url('request_accept') }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="private_request" value="{{ private_request.id }}">
            <button class="btn btn-success" type="submit">
              <span class="fa fa-check" ></span> Accept
            </button>
          </form>
          <form method="POST" class="decline-form inline-block {{ hide_decline(private_request, request.user) }}" action="{{ url('request_decline') }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="private_request" value="{{ private_request.id }}">
            <button class="btn btn-danger-inv" type="submit">
              <span class="fa fa-ban" ></span> Decline
            </button>
          </form>
        </div>
        <a href="{{ url('calendar_request_to_event', kwargs={'request_id':private_request.id}) }}" class="btn btn-link">
          Add to Calendar
        </a>
      </div>
    </div>
  </div>

{%- endmacro %}
