{% extends "threads/base.html" %}


{% block privateClass %}active{% endblock %}
{% block messageType %}Private Requests{% endblock %}

{% block send_message %}
  <a href="{% url 'request_write' %}" class="btn btn-primary">Send Private Request</a>
{% endblock %}

{% block center_nav %}
  <li class="{% if inbox %}active{% endif %}">
    <a href="{% url 'private_requests' %}"><span class="fa fa-inbox"></span> Inbox</a>
  </li>
  <li class="{% if sent %}active{% endif %}">
    <a href="{% url 'sent_private_requests' %}"><span class="fa fa-send"></span> Sent</a>
  </li>
{% endblock %}

{% block content %}
  <div>
    {% for p in participants %}
      <a href="{{ p.thread.get_absolute_url }}" class="btn btn-link pull-right" >Veiw messages</a>
      {% include "request/_private_request.html" with request=p.thread.request %}
    {% empty %}
      <p>No Public Requests</p>
    {% endfor %}
    {% include "utils/_pagination.html" with page=participants %}
  </div>
{% endblock %}
