{% extends "threads/base.html" %}
{% from "utils/macros.html" import paginate %}
{% from "request/macros.html" import private_request %}


{% block privateClass %}active{% endblock %}
{% block messageType %}Private Requests{% endblock %}

{% block send_message %}
  <a href="{{ url('request_write') }}" class="btn btn-primary">Send Private Request</a>
{% endblock %}

{% block center_nav %}
  <li class="{% if inbox %}active{% endif %}">
    <a href="{{ url('private_requests') }}"><span class="fa fa-inbox"></span> Inbox</a>
  </li>
  <li class="{% if sent %}active{% endif %}">
    <a href="{{ url('sent_private_requests') }}"><span class="fa fa-send"></span> Sent</a>
  </li>
{% endblock %}

{% block content %}
  <div class="messages">
    {% for p in participants %}
      <a href="{{ p.thread.get_absolute_url() }}" class="btn btn-link pull-right" >Veiw messages</a>
      {{ private_request(request=request, private_request=p.thread.request) }}
    {% else %}
      <div class="panel panel-default">
        <div class="panel-body">
          <p>No Private Requests</p>
        <div>
      <div>
    {% endfor %}
    {{ paginate(request=request, page=participants) }}
  </div>
{% endblock %}
