{% extends "messages/base.html" %}


{% block privateClass %}active{% endblock %}

{% block navigation %}
  <div class="navigation sub-nav">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-sm-4 left">
          <a href="{% url 'request_write' %}" class="btn btn-primary">Send Private Request</a>
        </div>
        <div class="col-sm-4 center">
          <ul class="nav nav-pills nav-centered" role="tablist">
            <li class="{% if inbox %}active{% endif %}">
              <a href="{% url 'private_requests' %}"><span class="fa fa-inbox"></span> Inbox</a>
            </li>
            <li class="{% if sent %}active{% endif %}">
              <a href="{% url 'sent_private_requests' %}"><span class="fa fa-send"></span> Sent</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div>
    <div>
      {% for p in participants %}
        <a href="{{ p.thread.get_absolute_url }}" class="btn btn-link pull-right" >Veiw messages</a>
        {% include "request/_private_request.html" with request=p.thread.request %}
      {% empty %}
        <p>No Public Requests</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
