{% extends "request/public_requests.html" %}

{% block content %}
  <div>
    {% for app in applications %}
      <div class="publicRequest">
        <div class="panel panel-default">
          {% include "request/_public_request.html" with publicRequest=app.public_request %}
          <div class="panel-footer">
            {% include "request/_application.html" with application=application %}
          </div>
        </div>
      </div>
    {% empty %}
      <p>No Public Requests</p>
    {% endfor %}
    {% include "utils/_pagination.html" with page=applications %}
  </div>
{% endblock %}
