{% extends "threads/base.html" %}


{% block publicClass %}active{% endblock %}
{% block messageType %}Public Requests{% endblock %}

{% block send_message %}
  {% if user.profile.profile_type == 'm' %}
    <a href="{{ url('public_request') }}?next={{ request.get_full_path }}" class="btn btn-primary">Post Public Request</a>
  {% else %}
    <a href="{{ url('public_band_request') }}?next={{ request.get_full_path }}" class="btn btn-primary">Post Public Request</a>
  {% endif %}
{% endblock %}

{% block center_nav %}
  <li class="{% if is_requests %}active{% endif %}">
    <a href="{{ url('public_requests') }}">Sent</a>
  </li>
  <li class="{% if is_applications %}active{% endif %}">
    <a href="{{ url('public_applications') }}">Applied For</a>
  </li>
{% endblock %}

{% block content %}
  <div class="messages">
    {% for publicRequest in requests %}
      <div class="publicRequest">
        <div class="panel panel-default">
          {% include "request/_public_request.html" with publicRequest=publicRequest %}
          <div class="panel-footer">
            {% for application in publicRequest.applications.all %}
              {% if forloop.first %}<h4>Applicants:</h4>{% endif %}
              {% include "request/_application.html" with application=application %}
            {% else %}
              <p>No applicants at this time</p>
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <p>No Private Requests</p>
    {% endfor %}
    {% include "utils/_pagination.html" with page=requests %}
  </div>
{% endblock %}
