{% extends "request/public_requests.html" %}

{% block content %}
  <div>
    {% for app in applications %}
      <div class="publicRequest">
        {% include "request/_public_request.html" with publicRequest=app.public_request %}
        <div class="container-fluid">
          <div class="panel-footer">
            {% include "request/_application.html" with application=application %}
          </div>
        </div>
      </div>
    {% empty %}
      <p>No Private Requests</p>
    {% endfor %}
  </div>
{% endblock %}
