{% extends "request/public_requests.html" %}
{% from "request/macros.html" import public_request %}


{% block content %}
  <div class="messages">
    {% for app in applications %}
      <div class="publicRequest">
        <div class="panel panel-default">
          {{ public_request(request=request, publicRequest=app.public_request) }}
          <div class="panel-footer">
            {% include "request/_application.html" with application=app %}
            <a class="text-right" href="{{ url('application_view', kwargs={'thread_id':'app.thread.id'}) }}">View Application</a>
          </div>
        </div>
      </div>
    {% else %}
      <p>No Public Requests</p>
    {% endfor %}
    {% from "utils/macros.html" import paginate %}
{{ paginate(request=request, page=applications) }}
  </div>
{% endblock %}
