{% extends "messages/base.html" %}


{% block publicClass %}active{% endblock %}

{% block navigation %}
<div class="navigation sub-nav">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-sm-4 left">
        {% if user.profile.profile_type == 'm' %}
          <a href="{% url 'public_request' %}?next={{ request.get_full_path }}" class="btn btn-primary">Post Public Request</a>
        {% else %}
          <a href="{% url 'public_band_request' %}?next={{ request.get_full_path }}" class="btn btn-primary">Post Public Request</a>
        {% endif %}
      </div>
      <div class="col-sm-4 center">
        <ul class="nav nav-pills nav-centered" role="tablist">
          <li class="{% if is_requests %}active{% endif %}">
            <a href="{% url 'public_requests' %}">Sent</a>
          </li>
          <li class="{% if is_applications %}active{% endif %}">
            <a href="{% url 'public_applications' %}">Applied For</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div>
    {% for r in requests %}
      <div class="publicRequest">
        {% include "request/_public_request.html" with publicRequest=r %}
        <div class="container-fluid">
          {% for application in publicRequest.applications %}
            <div class="panel-footer">
              {% include "request/_application.html" with application=application %}
            </div>
          {% empty %}
            <div class="panel-footer">
              <p>No applicants at this time</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% empty %}
      <p>No Private Requests</p>
    {% endfor %}
  </div>
{% endblock %}
