{% from "profile/macros.html" import mugshot %}


{% for artist in artists %}
  {% if loop.first %}<p><b>Artists</b></p>{% endif %}
  <a class="div choice" href="{{ url('artist:home', kwargs={'username':artist.profile.user.username}) }}">
    {{ mugshot(profile=artist.profile, width=45, height=45) }}
    {{ artist.name }}
  </a>
{% endfor %}

{% for venue in venues %}
  {% if loop.first %}<p><b>Venues</b></p>{% endif %}
  <a class="div choice" href="{{ url('venue:home', kwargs={'username':venue.profile.user.username}) }}">
    {{ mugshot(profile=venue.profile, width=45, height=45) }}
    {{ venue.name }}
  </a>
{% endfor %}

{% for fan in fans %}
  {% if loop.first %}<p><b>Fans</b></p>{% endif %}
  <a class="div choice" href="{{ url('fan:home', kwargs={'username':fan.profile.user.username}) }}">
    {{ mugshot(profile=fan.profile, width=45, height=45) }}
    {{ fan }}
  </a>
{% endfor %}

<span class="block" data-value="{{ choice.pk|unlocalize }}">
  {{ choice }}
  {% with choice.get_absolute_url as url %}
      {% if url %}
        <a href="{{ url }}" target="_blank" class="choice-detail">&rarr;</a>
      {% endif %}
  {% endwith %}

  {% with choice.get_absolute_update_url  as url %}
    {% if url %}
      <a href="{{ url }}" target="_blank" class="choice-update">
        <img src="{{ static('admin/img/icon_changelink.gif') }}" />
      </a>
    {% endif %}
  {% endwith %}
</span>
