
{% block widget_open %}
  <span id="{{ widget.html_id }}-wrapper">
{% endblock %}

{% block deck %}
  {# a deck that should contain the list of selected options #}
  <span id="{{ widget.html_id }}-deck" class="autocomplete-light-model-or-text-widget deck" >
    {% for choice in choices %}
      <span class="autocomplete-light-model-or-text-choice">
        <a href="#" class="remove text-muted fa fa-times-circle"></a>
        {{ autocomplete.choice_html(choice)|safe }}
      </span>
    {% endfor %}
  </span>
{% endblock %}

{% block input %}
  {# a text input, that is the 'autocomplete input' #}
  <input type="text" name="{{ name }}" id="{{ widget.html_id }}" value="{{ values }}" {{ attrs }} />
{% endblock %}

{% block remove_template %}
  {# a hidden element that serves as template for the 'remove from deck' button #}
  <a style="display:none" href="#" class="remove text-muted fa fa-times-circle"></a>
{% endblock %}

{% block choice_template %}
  <span style="display:none" class="choice-template">
    {#
      the contained element will be used to render options that are added to the select
      via javascript, for example in django admin with the + sign
      The text of the option will be inserted in the html of this tag
    #}
    <span class="choice prepend-remove append-option-html">
    </span>
  </span>
{% endblock %}

{% block widget_close %}
</span>
{% endblock %}
