{% load scheduletags i18n %}

<div class="col-xs-10 right">
  <div class="text-right">
    <div class="btn-toolbar" role="toolbar">
      <a href="{% url 'calendar' %}" class="btn btn-default">Today</a>
      <a href="{% url 'calendar' %}" class="btn btn-default pull-right"><span class="fa fa-filter"></span></a>
      <div class="btn-group hidden-xs pull-right">
        <a href="{% url 'calendar' 'day' %}{% querystring_for_date date 3 %}" class="btn btn-default {% if day %}active{% endif %}">
          {% trans "Day" %}
        </a>
        <a href="{% url 'calendar' 'week' %}{% querystring_for_date date 3 %}" class="btn btn-default {% if week %}active{% endif %}">
          {% trans "Week" %}
        </a>
        <a href="{% url 'calendar' 'month' %}{% querystring_for_date date 2 %}" class="btn btn-default {% if month %}active{% endif %}">
          {% trans "Month" %}
        </a>
        <a href="{% url 'calendar' 'year' %}{% querystring_for_date date 1 %}" class="btn btn-default {% if year %}active{% endif %}">
          {% trans "Year" %}
        </a>
      </div>
      <div class="btn-group visible-xs pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          {% if day %}Day{% elif week %}Week{% elif month %}Month{% elif year %}Year{% endif %} <span class="text-muted caret"></span>
        </button>
        <ul class="dropdown-menu text-left" role="menu">
          <li class="{% if day %}active{% endif %}">
            <a href="{% url 'calendar' 'day' %}{% querystring_for_date date 3 %}">
              {% trans "Day" %}
            </a>
          </li>
          <li class="{% if week %}active{% endif %}">
            <a href="{% url 'calendar' 'week' %}{% querystring_for_date date 3 %}">
              {% trans "Week" %}
            </a>
          </li>
          <li class="{% if month %}active{% endif %}">
            <a href="{% url 'calendar' 'month' %}{% querystring_for_date date 2 %}" >
              {% trans "Month" %}
            </a>
          </li>
          <li class="{% if year %}active{% endif %}">
            <a href="{% url 'calendar' 'year' %}{% querystring_for_date date 1 %}">
              {% trans "Year" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
