{% load scheduletags %}
<div class="calendar {{month}}">
  <div class="cal-row-fluid cal-row-head">
    <div class="hidden-xs {% if size == 'small' %}hidden-md{% endif %}">
      <div class="cal-cell1"><h5>Sunday</h5></div>
      <div class="cal-cell1"><h5>Monday</h5></div>
      <div class="cal-cell1"><h5>Tuesday</h5></div>
      <div class="cal-cell1"><h5>Wednesday</h5></div>
      <div class="cal-cell1"><h5>Thrusday</h5></div>
      <div class="cal-cell1"><h5>Friday</h5></div>
      <div class="cal-cell1"><h5>Saturday</h5></div>
    </div>
    <div class="visible-xs {% if size == 'small' %}visible-md{% endif %}">
      <div class="cal-cell1"><h5>Sun</h5></div>
      <div class="cal-cell1"><h5>Mon</h5></div>
      <div class="cal-cell1"><h5>Tue</h5></div>
      <div class="cal-cell1"><h5>Wed</h5></div>
      <div class="cal-cell1"><h5>Thr</h5></div>
      <div class="cal-cell1"><h5>Fri</h5></div>
      <div class="cal-cell1"><h5>Sat</h5></div>
    </div>
  </div>
  <div class="cal-month-box">
    {% for week in month.get_weeks %}
      <div class="week">
        <div class="cal-row-fluid row-eq-height cal-day-row">
          <div id="week-link">
            <a href="{% url 'calendar' 'week' %}{% querystring_for_date week.start %}">Week</a>
          </div>
          {% for day in week.get_days %}
            <div id="expand-day" class="cal-cell1 cal-cell day-cell expand-day
            {% if now.day == day.start.day and now.month == day.start.month %}cal-day-today{% endif %}
            {% if month.start.month != day.start.month %}cal-day-outmonth noday{% endif %}">
              <div class="dayNumber">
                <a href="{% url 'calendar' 'day' %}{% querystring_for_date day.start %}">
                  <span>{{day.start.day}}</span>
                </a>
              </div>
              {% for event in day.get_event_partials %}
                {% ifequal filter 'events' %}
                  <div class="center-block cal-event">
                    <a href="{% url 'show' request.user.calendar.slug event.show.id %}">
                      <span class="visible-xs">{{ event.show.date.start|date:'g:i' }}</span>
                      <span class="hidden-xs">
                        <b>{{ event.show.date.start|date:'fA' }}:</b>
                        {% if event.show.info.title %}
                        {{ event.show.info.title }}
                        {% else %}
                        {{ event.show.info.headliner.name }}
                        {% endif %}
                      </span>
                    </a>
                  </div>
                  <div class="hidden">
                    <li class="events"><a class="show-title" href="{% url 'show' request.user.calendar.slug event.show.id %}">
                      <b>{{ event.show.date.start|date:'fA' }}:</b>
                      {% if event.show.info.title %}
                      {{ event.show.info.title }}
                      {% else %}
                      {{ event.show.info.headliner.name }}
                      {% endif %}
                    </a></li>
                  </div>
                {% else %}
                  <div class="center-block cal-event">
                    <a href="">
                      <span class="visible-xs">{{ event.show.date.start|date:'g:i' }}</span>
                      <span class="hidden-xs">
                        <b>{{ event.date.start|date:'fA' }}:</b>
                        {% if user.profile.profile_type == 'v' %}
                          {{ event.headliner.profile }}
                        {% else %}
                          {{ event.host.profile }}
                        {% endif %}
                      </span>
                    </a>
                  </div>
                {% endifequal %}
              {% endfor %}
              <div class="links pull-right">
                {% with date=day.start  %}
                  <div>
                    <a class="btn btn-primary btn-sm" href="{% url 'calendar_create_event' request.user.calendar.slug %}?year={{date.year}}&month={{date.month}}&day={{date.day}}&hour=19">
                      <span>Create Event</span>
                    </a>
                  </div>
                  <div>
                    {% if user.profile.profile_type == 'm' %}
                      <a class="btn btn-default btn-sm" href="{% url 'available_venues' order='all' year=date.year month=date.month day=date.day %}">
                        <span class="fa fa-search"></span><span class="description"> Find Venue</span>
                      </a>
                    {% else %}
                      <a class="btn btn-default btn-sm"  href="{% url 'available_artists' order='all' year=date.year month=date.month day=date.day %}">
                        <span class="fa fa-search"></span><span class="description"> Find Artist</span>
                      </a>
                    {% endif %}
                  </div>
                {% endwith %}
              </div>
              <p></p>{% comment %}space so the chevron doesnt get covered up{% endcomment %}
              <div class="can-expand">
                <a href="javascript:void(0)"><span class="fa fa-chevron-down"></span></a>
              </div>
            </div>

          {% endfor %}
        </div>
        <div class="row expanded-day">
          <div class="col-xs-8"><ul class="event-list list-unstyled"></ul></div>
          <div class="col-xs-4 link-list"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
