{% load scheduletags %}
<div class="calendar {{month}}">
  <div class="cal-row-fluid cal-row-head">
    {% ifequal size "small" %}
      {% for day_name in weekday_names %}
        <div class="cal-cell1">
          <h5 class="visible-sm">{{ day_name }}</h5>
          <h5 class="hidden-sm">{{ day_name|slice:"3" }}
          </h5>
        </div>
      {% endfor %}
    {% else %}
      {% for day_name in weekday_names %}
        <div class="cal-cell1">
          <h5 class="hidden-xs">{{ day_name }}</h5>
          <h5 class="visible-xs">{{ day_name|slice:"3" }}</h5>
        </div>
      {% endfor %}
    {% endifequal %}
  </div>
  <div class="cal-month-box">
    {% for week in month.get_weeks %}
      <div class="week">
        <div class="cal-row-fluid row-eq-height cal-day-row">
          <div id="week-link">
            <a href="{% url 'week_calendar' request.user.calendar.slug %}{% querystring_for_date week.start %}">Week</a>
          </div>
          {% for day in week.get_days %}
            {% include "schedule/_day_cell.html" with day=day %}
          {% endfor %}
        </div>
        <div class="row expanded-day">
          <div class="col-xs-8"><ul class="event-list list-unstyled"></ul></div>
          <div class="col-xs-4 link-list"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
