{% extends "base.html" %}
{% load staticfiles scheduletags i18n %}

{% block title %}Scheduler{% endblock %}

{% block headerClass %}
  calendar-header
  {{ date|date:"F" }}
{% endblock %}

{% block header %}
  <div class="calendar-wrapper">
    <h4>{% block toptitle %}{{ date|date:"Y" }}{% endblock %}</h4>
    <div class="preiod-name">
      <div class="row no-gutter">
        <div class="col-xs-1 left">
          <a href="{% prev_url period filter %}" class="pull-left" role="button">
              <span class="fa fa-chevron-left"></span>
          </a>
        </div>
        <div class="col-xs-10 center">
          {% block periodName %}{% endblock %}
        </div>
        <div class="col-xs-1 right">
          <a href="{% next_url period filter %}" class="pull-right" role="button">
            <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block navigation %}
  <div class="navigation thread">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-sm-2 col-xs-6 left">
          <a href="{% url 'calendar_create_event' request.user.calendar.slug %}{% querystring_for_date date %}&hour=19&next={% firstof request.path '/' %}"
          class="btn btn-primary" role="button">Create Show</a>
          {% comment %}<a href="{% url 'calendar' %}" class="btn btn-default">Today</a>{% endcomment %}
        </div>
        <div class="col-sm-2 col-sm-push-8 col-xs-6 right">
          <div class="btn-group pull-right">
            <a href="{% url 'calendar' period_name 'events' %}{% querystring_for_date date %}" class="{% ifequal filter 'events' %}active{% endifequal %} btn btn-default">
              Events
            </a>
            <a href="{% url 'calendar' period_name 'requests' %}{% querystring_for_date date %}" class="{% ifequal filter 'requests' %}active{% endifequal %} btn btn-default">
              Requests
            </a>
          </div>
        </div>
        <div class="col-sm-8 col-sm-pull-2 col-xs-12 center">
          <ul class="nav nav-pills nav-centered" role="tablist">
            <li class="{% block dayClass %}{% endblock %}">
              <a href="{% url 'calendar' 'day' filter %}{% querystring_for_date date %}">Day</a>
            </li>
            <li class="{% block weekClass %}{% endblock %}">
              <a href="{% url 'calendar' 'week' filter %}{% querystring_for_date date %}">Week</a>
            </li>
            <li class="{% block monthClass %}{% endblock %}">
              <a href="{% url 'calendar' 'month' filter %}{% querystring_for_date date %}">Month</a>
            </li>
            <li class="{% block yearClass %}{% endblock %}">
              <a href="{% url 'calendar' 'year' filter %}{% querystring_for_date date %}">Year</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="calendar-wrapper">
    {% block body %}
    {% endblock %}
  </div>
{% endblock %}
