{% extends "base.html" %}
{% load staticfiles scheduletags i18n %}

{% block title %}{{ date|date:"F d" }}{% endblock %}

{% block headerClass %}
  calendar-header
  {{ date|date:"F" }}
{% endblock %}

{% block header %}
  <div class="calendar-wrapper">
    <h4>{% block toptitle %}{{ date|date:"Y" }}{% endblock %}</h4>
    <div class="preiod-name">
      <div class="row no-gutter">
        <div class="col-xs-1 left">
          <a href="{% block previousUrl %}{% endblock %}" class="pull-left" role="button">
              <span class="fa fa-chevron-left"></span>
          </a>
        </div>
        <div class="col-xs-10 center">
          {% block periodName %}{% endblock %}
        </div>
        <div class="col-xs-1 right">
          <a href="{% block nextUrl %}{% endblock %}" class="pull-right" role="button">
            <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block navigation %}
  <div class="calendar-wrapper">
    <div class="navigation">
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="col-xs-2 left">
            <a href="{% url 'calendar_create_event' request.user.calendar.slug %}?next={% firstof request.path '/' %}{% block createEventOn %}&year={{date.year}}&month={{date.month}}&day={{date.day}}&hour=19{% endblock %}
" class="btn btn-primary pull-left" role="button">Create Event</a>
          </div>
          {% block calendarNav %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="calendar-wrapper">
    {% block body %}
    {% endblock %}
  </div>

{% endblock %}
