{% extends "base.html" %}
{% load staticfiles scheduletags i18n %}

{% block title %}{{ date|date:"F d" }}{% endblock %}

{% block headerClass %}
  calendar-header
  {{ date|date:"F" }}
{% endblock %}

{% block header %}
  <div class="calendar-wrapper">
    <h4>{% block toptitle %}{{ date|date:"Y" }}{% endblock %}</h4>
    <div class="preiod-name">
      <div class="row no-gutter">
        <div class="col-xs-1 left">
          <a href="{% block previousUrl %}{% endblock %}" class="pull-left" role="button">
              <span class="fa fa-chevron-left"></span>
          </a>
        </div>
        <div class="col-xs-10 center">
          {% block periodName %}{% endblock %}
        </div>
        <div class="col-xs-1 right">
          <a href="{% block nextUrl %}{% endblock %}" class="pull-right" role="button">
            <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block navigation %}
  <div class="calendar-wrapper">
    <div class="navigation">
      <div class="container-fluid">
        <div class="row no-gutter">
          <a href="{% url 'calendar_create_event' request.user.calendar.slug %}{% querystring_for_date date 3 %}&hour=19&next={% firstof request.path '/' %}"
             class="btn btn-primary pull-left" role="button">Create Show</a>
          <div class="text-right">
           <div class="btn-toolbar" role="toolbar">
              <a href="{% url 'calendar' %}" class="btn btn-default">Today</a>
              <a href="{% url 'calendar' %}" class="btn btn-default pull-right"><span class="fa fa-filter"></span></a>
              <div class="btn-group pull-right hidden-xs">
                <a class="{% block dayClass %}{% endblock %} btn btn-default" href="{% url 'calendar' 'day' %}{% querystring_for_date date 3 %}">Day</a>
                <a class="{% block weekClass %}{% endblock %} btn btn-default" href="{% url 'calendar' 'week' %}{% querystring_for_date date 3 %}">Week</a>
                <a class="{% block monthClass %}{% endblock %} btn btn-default" href="{% url 'calendar' 'month' %}{% querystring_for_date date 2 %}" >Month</a>
                <a class="{% block yearClass %}{% endblock %} btn btn-default" href="{% url 'calendar' 'year' %}{% querystring_for_date date 1 %}">Year</a>
              </div>
              <div class="btn-group pull-right visible-xs">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  {% block dropdownTitle %}{% endblock %} <span class="text-muted caret"></span>
                </button>
                <ul class="dropdown-menu text-left" role="menu">
                  <li class="{% block dayClassDD %}{% endblock %}"><a href="{% url 'calendar' 'day' %}{% querystring_for_date date 3 %}">Day</a></li>
                  <li class="{% block weekClassDD %}{% endblock %}"><a href="{% url 'calendar' 'week' %}{% querystring_for_date date 3 %}">Week</a></li>
                  <li class="{% block monthClassDD %}{% endblock %}"><a href="{% url 'calendar' 'month' %}{% querystring_for_date date 2 %}" >Month</a></li>
                  <li class="{% block yearClassDD %}{% endblock %}"><a href="{% url 'calendar' 'year' %}{% querystring_for_date date 1 %}">Year</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="calendar-wrapper">
    {% block body %}
    {% endblock %}
  </div>

{% endblock %}
