{% extends "schedule/calendar.html" %}
{% load scheduletags %}

{% block title %}Week of {{ periods.week.start|date:"F d" }}{% endblock %}

{% block previousUrl %}{% prev_url periods.week %}{% endblock %}
{% block nextUrl %}{% next_url periods.week %}{% endblock %}
{% block periodName %}
  <span class="hidden-xs">{{ periods.week.start|date:"F j" }} -</span>
  <span class="visible-xs">{{ periods.week.start|date:"M j" }} -</span>
  {% ifequal periods.week.end.month periods.week.start.month %}
    {{ periods.week.end|date:"d" }}
  {% else %}
    <span class="hidden-xs">{{ periods.week.end|date:"F j" }}</span>
    <span class="visible-xs">{{ periods.week.end|date:"M j" }}</span>
  {% endifequal %}
{% endblock %}

{% block dropdownTitle %}Week{% endblock %}
{% block weekClass %}active{% endblock %}

{% block body %}
  <div id="week">
    {% for day in periods.week.get_days %}
      <div class="weekday weekday{{forloop.counter}}">
        <div class="weekdaytable">
          {% for event in day.get_event_partials %}
            {% include "schedule/_show.html" with show=event.show user_accept=event.approved %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
