{% extends "schedule/base.html" %}
{% load scheduletags i18n %}


{% block periodName %}
  <span class="hidden-xs">{{ date|date:"l, F j" }}</span>
  <span class="visible-xs">{{ date|date:"D, M j" }}</span>
{% endblock %}

{% block dropdownTitle %}Day{% endblock %}
{% block dayClass %}active{% endblock %}

{% block body %}
  {% for event in period.get_event_partials %}
    {% ifequal filter 'events' %}
      {% include "schedule/_show.html" with show=event.show user_accept=event.approved %}
    {% else %}
      {% include "request/_private_request.html" with request=event %}
    {% endifequal %}
  {% endfor %}
{% endblock %}
