{% extends "schedule/base.html" %}
{% load scheduletags i18n %}

{% block title %}{{ date|date:"F" }}{% endblock %}

{% block previousUrl %}{% prev_url "calendar" 'month' periods.month %}{% endblock %}
{% block nextUrl %}{% next_url "calendar" 'month' periods.month %}{% endblock %}
{% block periodName %}
  <span class="hidden-xs">{{ date|date:"F" }}</span>
  <span class="visible-xs">{{ date|date:"M" }}</span>
{% endblock %}

{% block calendarNav %}
  {% include "schedule/_calendar_nav.html" with date=periods.month.start month="Month" %}
{% endblock %}

{% block body %}
  {% include "schedule/_month_table.html" with month=periods.month weekday_names=weekday_names %}
{% endblock %}
