{% extends "schedule/base.html" %}
{% load scheduletags i18n %}


{% block periodName %}
  <span class="hidden-xs">{{ date|date:"l, F j" }}</span>
  <span class="visible-xs">{{ date|date:"D, M j" }}</span>
{% endblock %}

{% block dropdownTitle %}Day{% endblock %}
{% block dayClass %}active{% endblock %}

{% block body %}
  {% for event in period.get_event_partials %}
    {% if filter == 'shows' %}
      {% include "schedule/_show.html" with show=event.show %}
    {% else %}
      {% include "request/_private_request.html" with request=event.thread.request %}
    {% endif %}
  {% else %}
    <p class="text-left">No {{ filter }} scheduled for {{ date|date:"SHORT_DATE_FORMAT" }}</p>
  {% endfor %}
{% endblock %}
