{% extends "schedule/base.html" %}
{% load scheduletags %}

{% block title %}Week of {{ periods.week.start|date:"F d" }}{% endblock %}

{% block previousUrl %}{% prev_url periods.week %}{% endblock %}
{% block nextUrl %}{% next_url periods.week %}{% endblock %}
{% block periodName %}
  <span class="hidden-xs">
    {{ periods.week.start|date:"F j" }} - {% ifequal periods.week.end.month periods.week.start.month %}{{ periods.week.end|date:"d" }}{% else %}{{ periods.week.end|date:"F j" }}{% endifequal %}
  </span>
  <span class="visible-xs">
    {{ periods.week.start|date:"M j" }} - {% ifequal periods.week.end.month periods.week.start.month %}{{ periods.week.end|date:"d" }}{% else %}{{ periods.week.end|date:"M j" }}{% endifequal %}
  </span>
{% endblock %}

{% block dropdownTitle %}Week{% endblock %}
{% block weekClass %}{% block weekClassDD %}active{% endblock %}{% endblock %}

{% block body %}
  <div id="week">
    {% for day in periods.week.get_days %}
      <div class="weekday weekday{{forloop.counter}}">
        <div class="weekdaytable">
          {% for event in day.get_event_partials %}
            {% include "schedule/_show.html" with show=event.show user_accept=event.approved %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
