{% extends "schedule/base.html" %}
{% load scheduletags i18n %}

{% block title %}{{ date|date:"F d" }}{% endblock %}

{% block previousUrl %}{% prev_url periods.day %}{% endblock %}
{% block nextUrl %}{% next_url periods.day %}{% endblock %}
{% block periodName %}
  <span class="hidden-xs">{{ date|date:"l, F j" }}</span>
  <span class="visible-xs">{{ date|date:"D, M j" }}</span>
{% endblock %}

{% block calendarNav %}
  {% include "schedule/_calendar_nav.html" with date=periods.day.start day="Day" %}
{% endblock %}

{% block body %}
  {% for event in periods.day.get_event_partials %}
    {% include "schedule/_show.html" with show=event.show user_accept=event.approved %}
  {% endfor %}
{% endblock %}
