{% extends "schedule/calendar.html" %}
{% load scheduletags %}

{% block title %}{{ date|date:"F" }}{% endblock %}

{% block previousUrl %}{% prev_url periods.month %}{% endblock %}
{% block nextUrl %}{% next_url periods.month %}{% endblock %}
{% block periodName %}
  <span class="hidden-xs">{{ date|date:"F" }}</span>
  <span class="visible-xs">{{ date|date:"M" }}</span>
{% endblock %}

{% block dropdownTitle %}Month{% endblock %}
{% block monthClass %}active{% endblock %}

{% block body %}
  {% include "schedule/_month_table.html" with month=periods.month %}
{% endblock %}
