{% extends "schedule/base.html" %}
{% load scheduletags i18n %}

{% block toptitle %}{% endblock %}
{% block title %}{{ periods.year }}{% endblock %}

{% block previousUrl %}{% prev_url "calendar" 'year' periods.year %}{% endblock %}
{% block nextUrl %}{% next_url "calendar" 'year' periods.year %}{% endblock %}
{% block periodName %}{{ periods.year }}{% endblock %}

{% block calendarNav %}
  {% include "schedule/_calendar_nav.html" with date=periods.year.start year="Year" %}
{% endblock %}

{% block body %}
  <div class="panel year">
    <div class="row no-gutter">
      {% for month in periods.year.get_months %}
        <div class="col-md-4 center">
          <a href="{% url 'calendar' month %}{% querystring_for_date month.start 2 %}" class="text-black">
            <h3>{{month.name}}</h3>
          </a>
          {% include "schedule/_month_table.html" with month=month weekday_names=weekday_names size="small" %}
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
