{% extends "schedule/base.html" %}
{% from "schedule/macros.html" import show %}
{% from "request/macros.html" import private_request %}


{% block periodName %}
  <span class="hidden-xs">
    {{ local_time(period.start,"F j") }} - {% if period.end.month == period.start.month %}{{ local_time(period.end,"d") }}{% else %}{{ local_time(period.end,"F j") }}{% endif %}
  </span>
  <span class="visible-xs">
    {{ local_time(period.start,"M j") }} - {% if period.end.month == period.start.month %}{{ local_time(period.end,"d") }}{% else %}{{ local_time(period.end,"M j") }}{% endif %}
  </span>
{% endblock %}

{% block dropdownTitle %}Week{% endblock %}
{% block weekClass %}active{% endblock %}

{% block body %}
  <div id="week">
    {% for day in period.get_days() %}
      <div class="weekday weekday{{loop.counter}}">
        <div class="weekdaytable">
          <h4 class="text-left">
            <a href="{{ url('calendar', kwargs={'period':'day', 'filter':filter}) }}{{ querystring_for_date(date) }}" class="text-black" >{{ local_time(day.start,"l") }} the {{ local_time(day.start,"j") }}:</a>
          </h4>
          {% for event in day.get_event_partials() %}
            {% if filter == 'shows' %}
              {{ show(request=request, show=event.show) }}
            {% else %}
              {{ private_request(request=request, private_request=event.thread.request) }}
            {% endif %}
          {% else %}
            <p class="text-left">No {{ filter }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
