{% from "utils/form_macros.html" import non_field_errors, field %}


{% macro date_form(form) -%}
  {{ non_field_errors(form) }}
  <div class="row no-gutter">
    <div class="col-sm-6 left">{{ field(form.start) }}</div>
    <div class="col-sm-6 right">{{ field(form.end) }}</div>
  </div>
{%- endmacro %}

{% macro day_calendar(start, end) -%}
  <div class="date-time">
    <div class="top">
      {{ local_time(start, "l") }}
    </div>
    <div class="middle">
      {% if start.month == end.month %}
        <span class="month">{{ local_time(start, "F") }}</span>
      {% else %}
        <span class="months">{{ local_time(start, "F") }} - {{ local_time(end, "F") }}</span>
      {% endif %}
      {% if start.year != now.year %}
        <span class="year">{{ local_time(start, "Y") }}</span>
      {% endif %}
      <p class="day">{{ local_time(start, "j") }}</p>
    </div>
    <div class="bottom">
      {% if start.time == end.time %}
        <p class="time">{{ local_time(start, "fA") }}</p>
      {% else %}
        <p class="time">{{ local_time(start, "f") }} - {{ local_time(end, "fA") }}</p>
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro show(show, request) -%}
  {% with info=show.info %}
  <div class="show cards">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-2 col-sm-3">
            <div class="image-frame">
              <span class="frame-helper"></span>
              {% if info.get_poster() %}
                <img class="image-center" src="{{ MEDIA_URL }}{{ info.get_poster() }}" alt="{{ info.title }}" width="100" height="100" />
              {% else %}
                <img class="image-center" src="{{ static('img/logo.png') }}" alt="Composers Couch logo"  width="200" />
              {% endif %}
            </div>
          </div>
          <div class="col-lg-8 col-sm-7">
            <div>
              {% if info.title %}
                <h3>{{ info.title }}</h3>
              {% endif %}
              {% if info.headliner_id %}
                <a class="text-black" href="{{ url('artist:news', kwargs={'username':info.headliner.user.username}) }}">
                  <h4>{{ info.headliner }}</h4>
                </a>
              {% elif info.headliner_text %}
                <h4>{{ info.headliner_text }}</h4>
              {% endif %}
              <div class="openers">
                {# {% if info.opener.first %}
                  {% for opener in info.openers.all() %}
                    {% if loop.first %}with:{% else %},{% endif %}
                    <a class="text-black" href="{{ url('artist:news', kwargs={'username':opener.user.username}) }}" > {{ opener }}</a>
                    {% endfor %} #}
                {% if info.openers_text %}
                  <span>with: {{ info.openers_text }}</span>
                {% endif %}
              </div>
            </div>
            <div>
              <p>
                <span class="fa fa-map-marker text-muted"></span>
                {% if info.venue_id %}
                  <a class="text-black" href="{{ url('redirectToProfile', kwargs={'username':info.venue.username, 'tab':'about'}) }}">
                    {{ info.venue.profile }}
                  </a>
                {% else %}
                  {{ info.venue_text }}
                {% endif %}
              </p>
            </div>
            <p>{{ info.disciption|default("") }}</p>
          </div>
          <div class="col-sm-2">
            <div class="date-block">
              <a href="{{ url('calendar', kwargs={'period':'day'}) }}{{ querystring_for_date(show.date.start) }}" class="text-black">
                {{ day_calendar(start=show.date.start, end=show.date.end) }}
              </a>
            </div>
          </div>
        </div>
      </div>
      {% if has_event_for_show(request.user, show) %}
          <div class="panel-footer">
            <div class="pull-right">
            <form method="POST" class="decline-form inline-block {{ hide_deny(show, request.user) }}" action="{{ url('show_deny') }}">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <input type="hidden" name="show" value="{{ show.id }}">
              <div class="dropdown pull-right">
                <a class="btn btn-default dropdown-toggle" href="javascript:void(0)" type="button" data-toggle="dropdown" aria-expanded="true">
                  <span class="fa fa-ellipsis-h text-muted"></span>
                </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{{ url('export_event', kwargs={'show_id':show.id}) }}">Export</a></li>
                    <li class="dropdown-item"><a>
                      <button class="btn btn-link" onclick="this.form.onsubmit(); return false; " type="submit">
                        Remove
                      </button>
                    </a></li>
                  </ul>
              </div>
            </form>
          </div>
            <div class="pull-right">
              <form method="POST" class="accept-form inline-block {{ hide_confirm(show, request.user) }}" action="{{ url('show_confirm') }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="hidden" name="show" value="{{ show.id }}">
                <button class="btn btn-success" onclick="this.form.onsubmit(); return false; " type="submit"><span class="fa fa-check" ></span> Confirm</button>
              </form>
            </div>
            <p class="text-left"><a href="{{ url('edit_event', kwargs={'show_id':show.id}) }}">Edit</a></p>
          </div>
      {% endif %}
    </div>
  </div>
  {% endwith %}
{%- endmacro %}

{% macro month_table(request, month, filter, period_name, size="normal") -%}
  <div class="calendar {{month}}">
    <div class="cal-row-fluid cal-row-head">
      <div class="hidden-xs {% if size == 'small' %}hidden-md{% endif %}">
        <div class="cal-cell1"><h5>Sunday</h5></div>
        <div class="cal-cell1"><h5>Monday</h5></div>
        <div class="cal-cell1"><h5>Tuesday</h5></div>
        <div class="cal-cell1"><h5>Wednesday</h5></div>
        <div class="cal-cell1"><h5>Thrusday</h5></div>
        <div class="cal-cell1"><h5>Friday</h5></div>
        <div class="cal-cell1"><h5>Saturday</h5></div>
      </div>
      <div class="visible-xs {% if size == 'small' %}visible-md{% endif %}">
        <div class="cal-cell1"><h5>Sun</h5></div>
        <div class="cal-cell1"><h5>Mon</h5></div>
        <div class="cal-cell1"><h5>Tue</h5></div>
        <div class="cal-cell1"><h5>Wed</h5></div>
        <div class="cal-cell1"><h5>Thr</h5></div>
        <div class="cal-cell1"><h5>Fri</h5></div>
        <div class="cal-cell1"><h5>Sat</h5></div>
      </div>
    </div>
    <div class="cal-month-box">
      {% for week in month.get_weeks() %}
        <div class="week">
          <div class="cal-row-fluid row-eq-height cal-day-row">
            <div id="week-link">
              <a href="{{ url('calendar', kwargs={'period':'week', 'filter':filter}) }}{{ querystring_for_date(week.start) }}">Week</a>
            </div>
            {% for day in week.get_days() %}
              <div id="expand-day" class="cal-cell1 cal-cell day-cell expand-day
              {% if now.day == day.start.day and now.month == day.start.month %}cal-day-today{% endif %}
              {% if month.start.month != day.start.month %}cal-day-outmonth noday{% endif %}">
                <div class="dayNumber">
                  <a href="{{ url('calendar', kwargs={'period':'day'}) }}{{ querystring_for_date(day.start) }}">
                    <span>{{ day.start.day }}</span>
                  </a>
                </div>
                {% for event in day.get_event_partials() %}
                  {% if filter == 'shows' %}
                    <div class="center-block cal-event">
                      <a href="{{ url('show', kwargs={'show_id':event.show.id}) }}">
                        <span class="visible-xs">{{ local_time(event.show.date.start,'g:i') }}</span>
                        <span class="hidden-xs">
                          <b>{{ local_time(event.show.date.start,'fA') }}:</b>
                          {% if event.show.info.title %}
                            {{ event.show.info.title }}
                          {% else %}
                            {{ event.show.info.headliner }}
                          {% endif %}
                        </span>
                      </a>
                    </div>
                    <div class="hidden">
                      <li class="events"><a class="show-title" href="{{ url('show', kwargs={'show_id':event.show.id}) }}">
                        <b>{{ local_time(event.show.date.start,'fA') }}:</b>
                        {% if event.show.info.title %}
                          {{ event.show.info.title }}
                        {% else %}
                          {{ event.show.info.headliner }}
                        {% endif %}
                      </a></li>
                    </div>
                  {% else %}
                    {% with private_request=event.thread.request %}
                      <div class="center-block cal-event">
                        <a href="{{ url('request_detail', kwargs={'thread_id':private_request.thread.id}) }}">
                          <span class="visible-xs">{{ local_time(private_request.date.start,'g:i') }}</span>
                          <span class="hidden-xs">
                            <b>{{ local_time(private_request.date.start,'fA') }}:</b>
                            {% if request.user.profile.profile_type == 'v' %}
                              {{ private_request.headliner().participant.user.profile }}
                            {% else %}
                              {{ private_request.venue().participant.user.profile }}
                            {% endif %}
                          </span>
                        </a>
                      </div>
                      <div class="hidden">
                        <li class="events"><a class="show-title" href="{{ url('request_detail', kwargs={'thread_id':private_request.thread.id}) }}">
                          <b>{{ local_time(private_request.date.start,'fA') }}:</b>
                          {% if request.user.profile.profile_type == 'v' %}
                            {{ private_request.headliner().participant.user.profile }}
                          {% else %}
                            {{ private_request.venue().participant.user.profile }}
                          {% endif %}
                        </a></li>
                      </div>
                    {% endwith %}
                  {% endif %}
                {% endfor %}
                <div class="links pull-right">
                  {% with date=day.start  %}
                    <div>
                      <a class="btn btn-primary btn-sm" href="{{ url('calendar_create_event') }}{{ querystring_for_date(date) }}&hour=19&next={{ url('calendar', kwargs={'period':period_name, 'filter':'shows'}) }}"
                        <span>Add Show</span>
                      </a>
                    </div>
                    <div>
                      {% if request.user.profile.profile_type == 'm' %}
                        <a class="btn btn-default btn-sm" href="{{ url('available_venues', kwargs={'order':'all', 'year':date.year, 'month':date.month, 'day':date.day}) }}">
                          <span class="fa fa-search"></span><span class="description"> Find Venue</span>
                        </a>
                      {% else %}
                        <a class="btn btn-default btn-sm"  href="{{ url('available_artists', kwargs={'order':'all', 'year':date.year, 'month':date.month, 'day':date.day}) }}">
                          <span class="fa fa-search"></span><span class="description"> Find Artist</span>
                        </a>
                      {% endif %}
                    </div>
                  {% endwith %}
                </div>
                <p></p>{# space so the chevron doesn't get covered up #}
                <div class="can-expand">
                  <a href="javascript:void(0)"><span class="fa fa-chevron-down"></span></a>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row expanded-day">
            <div class="col-xs-8"><ul class="event-list list-unstyled"></ul></div>
            <div class="col-xs-4 link-list"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{%- endmacro %}
