{% extends 'artist/forms_about_modal.html' %}



{% block title %}
  {% block formTitle %}
    Edit Member
  {% endblock %}
{% endblock %}

{% block memberClass %}active{% endblock %}

{% block formID %}membersMusicianForm{% endblock %}

{% block form %}
  <div>
    {% if members %}
      <span>Edit members: </span>
      {% for m in members %}
        <a class="{% if m == member %}text-bold{% endif %} editMusicianMembers" href="{{ url('artist:memberForm', kwargs={'member_id':m.id}) }}">
          {{m.name}},
        </a>
      {% endfor %}
      <span>or </span>
      <a class="editMusicianMembers text-success" href="{{ url('artist:memberForm') }}">
        Add New
      </a>
    {% endif %}
  </div>
  <div class="text-muted">
    {% if past_members %}
      <span>Edit past members: </span>
      {% for m in past_members %}
        <a class="{% if m == member %}text-bold{% endif %} editMusicianMembers" href="{{ url('artist:memberForm', kwargs={'member_id':m.id}) }}">
          {{m.name}}{% if not loop.last %},{% endif %}
        </a>
      {% endfor %}
    {% endif %}
  </div>
  {{ render_form(form) }}
{% endblock %}
