{% extends 'artist/detail.html' %}


{% block videosClass %}active{% endblock %}
{% block dropdownTitle %}Videos{% endblock %}

{% block panelBody %}
  <div class="videos">
    <div class="row profile-page-header">
      <div class="col-xs-6">
        <a class="{{ isEditable }} btn btn-success" href="{{ url('artist:video_form') }}">
          <span class="fa fa-plus"></span> Add Video
        </a>
      </div>
      <div class="col-xs-6 social-links text-right">
        <a href="{{ url('artist:videoLinksForm') }}" class="{{ isEditable }}">
          Edit<span class="hidden-xs"> Links</span>
        </a>
        {% if profile.social_links %}
          {% with social=profile.social_links %}
            {% if social.vimeo %}
              <a href="{{ social.vimeo }}" target="_blank" class="btn btn-vimeo">
                <span class="fa fa-vimeo-square"></span>
              </a>
            {% endif %}
            {% if social.youtube %}
              <a href="{{ social.youtube }}" target="_blank" class="btn btn-youtube">
                <span class="fa fa-youtube-play"></span>
              </a>
            {% endif %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% for video in request.user.videos.all() %}
        {% if (loop.index - 1) is divisibleby(4) %}
          </div>
          <div class="row">
        {% endif %}
        <div class="col-sm-3">
          <div class="video">
            <div class="image-frame">
              <span class="frame-helper"></span>
              {{ embed(video.video, 'tiny') }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% for album in artist_profile.albums.all() %}
      <div class="album">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>{{ album.title }} {% if album.year %}({{album.year}}){% endif %}</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-2">
                <img width="120" height="120" alt="{{ album.title }} Album Art" src="{{media_url}}{{ album.album_art.image }}">
              </div>
              <div class="col-sm-10">
                <div class="jp-playlist">
                  <ul class="jp-track-list">
                    {% for track in album.track_set.all() %}
                      <li>
                        {% if track.video %}
                          <h5 class="video-title">
                            <a data-toggle="collapse" href="#{{ track.id }}" aria-expanded="false" aria-controls="{{ track.id }}">
                              {{ track.title }}
                            </a>
                          </h5>
                          <div class="collapse" id="{{ track.id }}">
                            <div class="album-video" >
                              {{ embed(track.video, 'tiny') }}
                            </div>
                          </div>
                        {% else %}
                        <h5 class="video-title">
                          {{ track.title }}
                        </h5>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <a class="text-primary {{ isEditable }}" href="{{ url('artist:video_edit_album', kwargs={'album_id':album.id}) }}">
                  <span class="fa fa-pencil"> Edit Album</span>
                </a>
              </div>
              <div class="col-sm-10">
                <a class="text-primary {{ isEditable }}" href="{{ url('artist:video_tracks_form', kwargs={'album_id':album.id}) }}">
                  <span class="fa fa-pencil"> Edit Tracks</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <p>This artist has not added any videos yet.</p>
      <p class="{{ isEditable }}">Videos must be attached to an album. <a href="{{ url('artist:albumForm') }}">Add an album</a> to get started.</p>
    {% endfor %}
  </div>
{% endblock %}
