{% extends 'profile/detail.html' %}
{% load i18n %}


{% block title %}{{ artist_profile.name}}{% endblock %}
{% block content_title %}<h2>{{ artist_profile.name }}</h2>{% endblock %}

{% block name %}{{ artist_profile.name }}{% endblock %}

{% block tabs %}
  {% block dropdownTabs %}
    <li class="left {% block aboutClass %}{% endblock %}">
      <a href="{% url 'artist:about' username  %}">About</a>
    </li>
    <li class="{% block newsClass %}{% endblock %}">
      <a href="{% url 'artist:news' username  %}">News</a>
    </li>
    <li class="{% block showsClass %}{% endblock %}">
      <a href="{% url 'artist:shows' username  %}">Shows</a>
    </li>
    <li class="{% block musicClass %}{% endblock %}">
      <a href="{% url 'artist:music' username  %}">Music</a>
    </li>
    <li class="{% block photosClass %}{% endblock %}">
      <a href="{% url 'artist:photos' username  %}">Photos</a>
    </li>
    <li class="{% block videosClass %}{% endblock %}">
      <a href="{% url 'artist:videos' username  %}">Videos</a>
    </li>
  {% endblock %}
{% endblock %}
