{% extends 'profile/artist/detail.html' %}
{% load crispy_forms_tags i18n progress_bar %}
{% crispy PostForm PostForm.helper %}

{% block newsClass %}active{% endblock %}
{% block dropdownTitle %}News{% endblock %}

{% block panelBody %}
  {% if user.is_authenticated %}
    {% include "profile/_news.html" with post_form=post_form photo_form=photo_form %}
    <script>
      {% comment %}variables for image select{% endcomment %}
      var selectorId = "#id_photo";
      var selectDiv  = "#div_id_photo";
      var uploadDiv  = "#div_id_image";
      {% if images %}
        var images = true;
      {% else %}
        var images = false;
      {% endif %}
    </script>
  {% endif %}
  {% for activity in activities %}
    {% include "feeds/_post.html" with post=activity.post %}
  {% empty %}
    <p>No news to display.</p>
  {% endfor %}
{% endblock %}
