{% extends 'profile/artist/detail.html' %}
{% load i18n %}

{% load embed_video_tags %}
{% load thumbnail %}

{% block videosClass %}active{% endblock %}
{% block dropdownTitle %}Videos{% endblock %}

{% block panelBody %}
  <div class="videos">
    <div class="row page-header">
      <div class="col-xs-12">
        <div class="pull-right social-links">
          <a href="{% url 'artist:videoLinksForm' %}" class="{{isEditable}}">Edit<span class="hidden-xs"> Links</span></a>
          {% with social=profile.social_links %}
            {% if social.vimeo %}<a href="{{ social.vimeo }}" target="_blank" class="btn btn-vimeo"><span class="fa fa-vimeo-square"></span></a>{% endif %}
            {% if social.youtube %}<a href="{{ social.youtube }}" target="_blank" class="btn btn-youtube"><span class="fa fa-youtube-play"></span></a>{% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
    {% for album in artist_profile.albums.all %}
      <div class="album">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>{{ album.title }} {% if album.year %}({{album.year}}){% endif %}</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-2">
                <div id="image-thumbnails">
                  <div class='image-preview'>
                    {% thumbnail album.album_art.image "120x120" as im %}
                      <img style="margin:{{ im|margin:'120x120' }}" width="{{im.x}}" height="{{im.y}}" alt="{{ album.title }} Album Art" src="{{media_url}}{{ im }}">
                    {% endthumbnail %}
                  </div>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="jp-playlist">
                  <ul class="jp-track-list">
                    {% for track in album.track_set.all %}
                      <li>
                        <h5 class="video-title">{{ track.media.title }}</h5>
                        {% if track.media.video %}
                        <a  class="btn btn-default btn-video" data-toggle="collapse" href="#{{ track.id }}" aria-expanded="false" aria-controls="{{ track.id }}">
                          <span class="fa fa-video-camera"></span><sub class="caret"></sub>
                        </a>
                        <div class="collapse" id="{{ track.id }}">
                          <div class="album-video" >
                            {% video track.media.video 'tiny' %}
                          </div>
                        </div>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <a class="text-primary {{isEditable}}" href="{% url 'artist:video_edit_album' album %}">
                  <span class="fa fa-pencil"> Edit Album</span>
                </a>
              </div>
              <div class="col-sm-10">
                <a class="text-primary {{isEditable}}" href="{% url 'artist:video_tracks_form' album %}">
                  <span class="fa fa-pencil"> Edit Tracks</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <p>This artist has not added any videos yet.</p>
      <p class="{{isEditable}}">Videos must be attached to an album. <a href="{% url 'artist:albumForm' %}">Add an album</a> to get started.</p>
    {% endfor %}
  </div>
{% endblock %}
