{% extends 'base.html' %}
{% load static from staticfiles %}

{% block headerClass %}dark-blue{% endblock %}

{% block header%}
  <div class="page-header text-white">
    <h2>{% block title %}About{% endblock %}</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="about container">
    <div class="panel">
      <div class="panel-body">
        <div id="about">
          <div class="page-header"><h2>Composer's Couch</h2></div>
          <h4>
            A booking service to connect local venues, artists, and fans.
          </h4>
          <p>
            We strive to be the most effective way book and promote a show.
            To do this we created Composer's Couch allowing users to request and
            schedule shows. By having these features in one service we hope to
            be able provide a better booking experience by making booking
            suggestions and estimating fan turn out. Right no we are working on
            expanding the site's users base and functionality.
            <a href="{% url 'learn' %}">
              Learn more <small><span class="fa fa-chevron-right"></span></small>
            </a>
          </p>
        </div>
        <div class="contact" id="contact">
          <div class="page-header"><h2>Contact</h2></div>
          <p>
            We are always looking for feedback to better our services. Feel free to email us at:
            <a href="mailto:contact@composerscouch.com">contact@composerscouch.com</a>
            We will do our best to reply to emails as quickly as possible.
          </p>
        </div>
        <div class="brand" id="brand">
          <div class="page-header"><h2>Logo & Colors</h2></div>
          <div class="row">
            <div class="col-xs-12">
              <div class="image-frame">
                <span class="frame-helper"></span>
                <img class="image-center" id="logo" alt="Composers Couch" src="{% static 'img/logo.png' %}">
              </div>
              <div class="color-blocks">
                <div class="row no-gutter colors">
                  <div class="left col-sm-2"></div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color dark-blue"></div>
                  </div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color blue"></div>
                  </div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color light-blue"></div>
                  </div>
                  <div class="right col-sm-2 col-xs-3">
                    <div class="color faded-blue"></div>
                  </div>
                </div>
                <div class="row no-gutter colors">
                  <div class="left col-sm-2"></div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color dark-green"></div>
                  </div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color green"></div>
                  </div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color light-green"></div>
                  </div>
                  <div class="right col-sm-2 col-xs-3">
                    <div class="color faded-green"></div>
                  </div>
                </div>
                <div class="row no-gutter colors">
                  <div class="left col-sm-2"></div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color black"></div>
                  </div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color gray"></div>
                  </div>
                  <div class="center col-sm-2 col-xs-3">
                    <div class="color gray-light"></div>
                  </div>
                  <div class="right col-sm-2 col-xs-3">
                    <div class="color silver"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
