{% extends 'base.html' %}

{% block headerClass %}dark-blue{% endblock %}

{% block header%}
  <div class="dark-blue">
    <div class="page-header text-white">
      <h2>{% block title %}Pipeline{% endblock %}</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="static-page container">
    <div class="panel">
      <div class="panel-body">
        <p>
          Have a feature request or found a bug? Drop us a line at
          <a href="mailto:contact@composerscouch.com">contact@composerscouch.com</a>
        </p>
        <h3>Improvements:</h3>
        <ul>
          <li> Use city instead of zip code to track location </li>
          <li> Improve location accuracy </li>
          <li> Remove zip code from sign up form </li>
          <li> Fix accept and decline buttons on the private request so that they display the current state of the request </li>
          <li> Clean up venues about page </li>
          <li> Unify Messages, private requests, and public requests into one inbox </li>
          <li> Allow genre editing from the about page </li>
          <li> Allow editing of profile picture by clicking on it </li>
          <li> Clean up artist music tab </li>
          <li> Improve the add music/video form </li>
          <li> Add ordering and weight of updates/news </li>
          <li> Add image field for band members and venue staff </li>
          <li> SEO on users profiles to increase visibility </li>
          <li> Replace 'Save and add more' with dynamically added fields </li>
          <li> Combine public request, private request, and message form into one form </li>
        </ul>
        <h3>New Features:</h3>
        <ul>
          <li> Prompt users if they want to change their location when they sign in from a location over X distance from their account location </li>
          <li> Add social stats to profile (Facebook likes, Twitter followers, etc.) </li>
          <li> Support locations out side of the US </li>
          <li> Background images for profiles </li>
          <li> Fans can request Artist to areas or venues </li>
          <li> Allow users to pin site content onto their profiles </li>
          <li> Booking suggestions </li>
          <li> Hotel and restaurant recommendations </li>
          <li> Online ticket sales </li>
          <li> Merchandise sales </li>
          <li> Create social media accounts for Composer's Couch </li>
          <li> Add report bug and request feature form </li>
          <li> Email users new features and what's currently trending on the site  </li>
          <li> Site wide music player </li>
          <li> Login with Google </li>
          <li> Add/remove authentication method </li>
          <li> Option to deactive/remove account </li>
          <li> Style profiles based on colors pulled from users images </li>
          <li> Recurring events </li>
          <li> Mark messages as read/unread </li>
          <li> Make forms inline </li>
          <li> Add RSS for shows and updates/news </li>
          <li> Fan requesting and booking of artists </li>
        </ul>
        <h3>Known Bugs:</h3>
        <ul>
          <li> Fix shows i'm following. so that it includes all the appropriate shows </li>
          <li> Next button on photo select brings user back to the file upload </li>
          <li> Deleting news item doesn't always remove index to the item </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
