Django==1.7.1
Pillow==2.6.1
Wand==0.3.8
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.19
boto==2.34.0
cassandra-driver==2.1.3
celery==3.1.17
cqlengine==0.20.0
django-annoying==0.8.0
django-appconf==0.6
django-autocomplete-light==2.0.3
django-celery==3.1.16
django-compressor==1.4
django-crispy-forms==1.4.0
django-embed-video==0.11
django-feedly==0.6.4
django-guardian==1.2.4
django-multiupload==0.3
django-pagination==1.0.7
django-social-auth==0.7.28
django-static-precompiler==0.8
django-storages==1.1.8
futures==2.2.0
html2text==2014.12.5
httplib2==0.9
kombu==3.0.24
mutagen==1.27
oauth2==1.5.211
psycopg2==2.5.4
pysolr==3.2.0
python-dateutil==2.3
python-memcached==1.53
python-openid==2.2.5
pytz==2014.10
redis==2.10.3
requests==2.5.0
simplejson==3.6.5
six==1.8.0
stream-framework==1.1.1
wsgiref==0.1.2
