{% extends 'feeds/base.html' %}


{% block showsClass %}active{% endblock %}
{% block feedType %}Concerts{% endblock %}
{% block bgColor %}muted-green{% endblock %}

{% block scopeNav %}
  <li class="{% block localClass %}{% endblock %}">
    <a href="{% url 'shows' order 'local' zipcode %}?{{ request.GET.urlencode }}">Local</a>
  </li>
  <li class="{% block globalClass %}{% endblock %}">
    <a href="{% url 'shows' order 'all' zipcode %}?{{ request.GET.urlencode }}">All</a>
  </li>
  {% if user.is_authenticated %}
    <li class="{% block followingClass %}{% endblock %}">
      <a href="{% url 'shows' order 'following' zipcode %}?{{ request.GET.urlencode }}">Following</a>
    </li>
  {% endif %}
{% endblock %}

{% block orderOptions %}
  <li class="{% ifequal order 'all' %}text-bold{% endifequal %}">
    <a href="{% url 'shows' 'all' scope zipcode %}?{{ request.GET.urlencode }}">All</a>
  </li>
  <li class="{% ifequal order 'upcoming' %}text-bold{% endifequal %}">
    <a href="{% url 'shows' 'upcoming' scope zipcode %}?{{ request.GET.urlencode }}">Upcoming</a>
  </li>
  <li class="{% ifequal order 'new' %}text-bold{% endifequal %}">
    <a href="{% url 'shows' 'new' scope zipcode %}?{{ request.GET.urlencode }}">New </a>
  </li>
{% endblock %}
{% block availabilityForm %}{% endblock %}
