{% extends 'feeds/base.html' %}

{% block showsClass %}active{% endblock %}
{% block bgColor %}dark-green{% endblock %}

{% block scope %}
  <span class="dropdown">
    <a class="btn btn-transparent-dropdown dropdown-toggle" href="javascript:void(0)" type="button" data-toggle="dropdown" aria-expanded="true">
      <span class="dotted-bottom text-white">{% block currentScope %}within{% endblock %}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="{% block withinClass %}active{% endblock %}">
          <a href="{% url feedType order 'any-distance' zipcode %}?{{ request.GET.urlencode }}">within</a>
        </li>
        <li class="{% block followingClass %}{% endblock %}">
          <a href="{% url feedType order 'following' zipcode %}?{{ request.GET.urlencode }}">I'm following</a>
        </li>
    </ul>
  </span>
{% endblock %}

{% block orderOptions %}
  <li class="{% ifequal order 'all' %}active{% endifequal %}">
    <a href="{% url feedType 'all' scope zipcode %}?{{ request.GET.urlencode }}">All</a>
  </li>
  <li class="{% ifequal order 'upcoming' %}active{% endifequal %}">
    <a href="{% url feedType 'upcoming' scope zipcode %}?{{ request.GET.urlencode }}">Upcoming</a>
  </li>
  <li class="{% ifequal order 'latest' %}active{% endifequal %}">
    <a href="{% url feedType 'latest' scope zipcode %}?{{ request.GET.urlencode }}">Latest</a>
  </li>
{% endblock %}

{% block availabilityForm %}{% endblock %}

{% block feed %}
  {% include "feeds/shows/_feed.html" with title="Local Shows" shows=object_list %}
{% endblock %}
