{% extends 'feeds/base.html' %}


{% block showsClass %}active{% endblock %}
{% block feedType %}Concerts{% endblock %}
{% block bgColor %}muted-green{% endblock %}

{% block scopeNav %}
  <li class="{% if scope == 'local' %}active{% endif %}">
    <a href="{% url 'shows' order 'local' zipcode %}?{{ request.GET.urlencode }}">Local</a>
  </li>
  <li class="{% block globalClass %}{% endblock %}">
    <a href="{% url 'shows' order 'all' zipcode %}?{{ request.GET.urlencode }}">All</a>
  </li>
  {% if user.is_authenticated %}
    <li class="{% block followingClass %}{% endblock %}">
      <a href="{% url 'shows' order 'following' zipcode %}?{{ request.GET.urlencode }}">Following</a>
    </li>
  {% endif %}
{% endblock %}

{% block orderOptions %}
  <a class="list-group-item {% ifequal order 'all' %}active{% endifequal %}"
     href="{% url 'shows' 'all' scope zipcode %}?{{ request.GET.urlencode }}">
     All
  </a>
  <a class="list-group-item {% ifequal order 'upcoming' %}active{% endifequal %}"
     href="{% url 'shows' 'upcoming' scope zipcode %}?{{ request.GET.urlencode }}">
     Upcoming
  </a>
  <a class="list-group-item {% ifequal order 'new' %}active{% endifequal %}"
     href="{% url 'shows' 'new' scope zipcode %}?{{ request.GET.urlencode }}">
     New
  </a>
{% endblock %}
{% block availabilityForm %}{% endblock %}

{% block feed %}
  {% include "feeds/shows/_feed.html" with title="Local Shows" shows=posts %}
{% endblock %}
