.header {
  &.feed {
    padding: 0px;
    font-size: 16px;
    .main-nav {
      .title {
        margin:10px 0px 10px 0px;
        font-size:30px;
      }
      .description {
        margin-left:15px;
        a {
          margin-right:3px;
        }
      }
    }
    .nav-options {
      color:@silver-light;
      .feed-type {
        padding: 0px 5px;
      }
      .nav {
        margin-top:20px;
        border-bottom: 0px;
        .dropdown,
        .popover-form {
          padding-right: 10px;
          margin-bottom: 5px;
          @media (min-width: @screen-sm-min) {
            padding-right: 0px;
            margin-bottom: 0px;
          }
        }
        .last {
          margin-bottom: 0px;
        }
        .popover-form {
          color:@black;
        }
        .nav-form {
          float: left;
          div {
            float:left;
          }
        }
      }
    }
  }
}

.feed.sub-nav {
  .filter {
    //top:13px;
    //padding: 10px 10px;
  }
}


.feed {
  .genre-form{
    max-width:200px;
  }
  .cards {
    text-align:left;
    @media (max-width: @screen-xs-max) {
      text-align:center;
    }
  }
  .nav-text {
    float:left;
    position: relative;
    display: block;
    padding: 8px 5px;
    margin-bottom:0px;
  }
}
