{% extends 'utils/form.html' %}
{% from "utils/macros.html" import image_select %}
{% from "utils/form_macros.html" import non_field_errors, field %}


{% block title %}
  {% block formTitle %}Add Album{% endblock %}
{% endblock %}

{% block formID %}album-form{% endblock %}
{% block enctype %}multipart/form-data{% endblock %}

{% block form %}
    {{ render_form(albumArtForm) }}
    {% if images %}
      {{ image_select(request=request, images=images, id="album_art", label="Album Art") }}
    {% endif %}
    <script>
      {# variables for image select #}
      var selectorId = "#id_album_art";
      var selectDiv  = "#div_id_album_art";
      var uploadDiv  = "#div_id_image";
      {% if images %}
        var images = true;
      {% else %}
        var images = false;
      {% endif %}
    </script>
    {{ non_field_errors(albumForm) }}
    <div class="row no-gutter">
      <div class="col-sm-6 left">{{ field(albumForm.title) }}</div>
      <div class="col-sm-6 right">{{ field(albumForm.year) }}</div>
    </div>
    {{ field(albumForm.genre) }}
    {{ field(albumForm.description) }}
{% endblock %}

{% block extraSubmit %}
  {{ progress_bar() }}
{% endblock %}
