{% extends 'artist/forms/about_modal.html' %}
{% from "profile/macros.html" import contact_form, location_form %}


{% block contactClass %}active{% endblock %}

{% block title %}{% block formTitle %}{{ contact_type|title }} Contact Info{% endblock %}{% endblock %}
{% block formID %}contactMusicianForm{% endblock %}
{% block form %}
  <span>Edit: </span>
  <a class="editMusicianContact {% if contact_type == 'band' %}text-bold{% endif %}" href="{{ url('artist:userContactForm') }}">Band</a>,
  <a class="editMusicianContact {% if contact_type == 'booking' %}text-bold{% endif %}" href="{{ url('artist:contactForm', kwargs={'contact_type':'booking'}) }}">Booking</a>,
  <a class="editMusicianContact {% if contact_type == 'label' %}text-bold{% endif %}" href="{{ url('artist:contactForm', kwargs={'contact_type':'label'}) }}">Label</a>,
  <a class="editMusicianContact {% if contact_type == 'management' %}text-bold{% endif %}" href="{{ url('artist:contactForm', kwargs={'contact_type':'management'}) }}">Management</a>,
  <a class="editMusicianContact {% if contact_type == 'press' %}text-bold{% endif %}" href="{{ url('artist:contactForm', kwargs={'contact_type':'press'}) }}">Press</a>
  {{ contact_form(contactForm) }}
  {{ location_form(locationForm) }}
{% endblock %}
