{% extends 'utils/form.html' %}
{% from "utils/form_macros.html" import non_field_errors, field %}


{% block title %}
  {% block formTitle %}Add Tracks{% endblock %}
{% endblock %}

{% block formID %}tracks-form{% endblock %}

{% block form %}
  {{ formset.management_form }}
  {% for form in formset %}
    {{ non_field_errors(form) }}
    {{ field(form.id) }}
    <div class="hidden">{{ field(form.album) }}</div>
    <div class="row audio-layout no-gutter">
      <div class="col-sm-2 left">{{ field(form.order) }}</div>
      <div class="col-sm-5 center">{{ field(form.title) }}</div>
      <div class="col-sm-5 right">{{ field(form.video) }}</div>
    </div>
  {% endfor %}
{% endblock %}
