container_commands:
  01_migrate:
    command: "django_admin.py migrate"
    leader_only: true
    ignoreErrors: true
  02_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true



option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: composersCouch/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: composersCouch.settings
