packages:
  apt-get:
    libjpeg-dev: []
    libjpeg62: []
    libjpeg62-dev: []
    zlib1g-dev: []
    redis: []
    redis-server: []
    python-dev: []
    build-essential: []
    libev4: []
    libev-dev: []
    imagemagick: []
    graphicsmagick: []
    libmagickwand-dev: []
  yum:
    GraphicsMagick-c++-devel: []
    boost-devel: []
    geos: []
    rubygems: []
    gcc-c++: []
    ruby-devel: []
  gem:
    less:[]
    therubyracer:[]

container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: composersCouch/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: composersCouch.settings
