packages:
  apt-get:
    binutils: []
    libgdal-dev: []
    gdal-bin: []
    libgdal1-dev: []
    postgresql-9.3: []
    postgresql-contrib-9.3: []
    postgresql-server-dev-9.3: []
    postgresql-9.3-postgis-2.0: []
    python-psycopg2: []
    pgadmin3: []

container_commands:
  01_syncdb:
    command: "manage.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: composersCouch/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: composersCouch.settings
