{% extends 'profile/musician/forms/about_modal.html' %}
{% load i18n crispy_forms_tags %}
{% crispy ContactForm ContactForm.helper %}
{% crispy NonUserLocationForm NonUserLocationForm.helper %}

{% block contactClass %}active{% endblock %}

{% block title %}{% block formTitle %}{% trans "Edit Contact Info" %}{% endblock %}{% endblock %}
{% block formID %}contactMusicianForm{% endblock %}
{% block form %}
  <span>Edit: </span>
  <a class="editMusicianContact" href="{% url 'musician:userContactForm' username %}">Band</a>,
  <a class="editMusicianContact" href="{% url 'musician:contactForm' username 'booking' %}">Booking</a>,
  <a class="editMusicianContact" href="{% url 'musician:contactForm' username 'label' %}">Label</a>,
  <a class="editMusicianContact" href="{% url 'musician:contactForm' username 'management' %}">Management</a>,
  <a class="editMusicianContact" href="{% url 'musician:contactForm' username 'press' %}">Press</a>
  {% crispy contactForm %}
  {% crispy locationForm %}
{% endblock %}

{% block script %}
  {{ script.super }}
  <script type="text/javascript" >
    $(document).ready(function() {
      $("form").on('submit', function() {
        zipcode_fix();
      });
    });
  </script>
{% endblock %}
