{% extends 'form.html' %}
{% load crispy_forms_tags progress_bar %}
{% crispy AlbumTrackForm AlbumTrackForm.helper %}
{% crispy TracksForm TracksForm.helper %}

{% block title %}{% block formTitle %}Add Tracks{% endblock %}{% endblock %}

{% block formID %}tracks-form{% endblock %}
{% block enctype %}multipart/form-data{% endblock %}
{% block form %}
  {% csrf_token %}
  {% if messages %}
    <div class="alert alert-danger">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {{ formset.management_form }}
  {% for form,track in formset_tracks %}
    {{ form.id }}
    {% crispy form %}
  {% endfor %}
  {% crispy tracks_form %}

{% endblock %}
{% block extraSubmit %}{% progress_bar %}{% endblock %}

{% block script %}
  {{ block.super }}
  {% progress_bar_media %}
{% endblock %}
