{% extends 'utils/form.html' %}
{% from "request/macros.html" import public_request %}


{% block title %}
  {% block formTitle %}
    Apply to Request
  {% endblock %}
{% endblock %}

{% block formID %}applyForm{% endblock %}

{% block form %}
  <div class="well">
    {{ public_request(request=request, publicRequest=publicRequest) }}
  </div>
  {{ render_form(form) }}
{% endblock %}

{% block submit %}<button type="submit" onclick="this.form.onsubmit(); return false; " class="btn btn-primary">Send</button>{% endblock %}
