{% extends "threads/compose.html" %}
{% load crispy_forms_tags %}
{% crispy DateForm DateForm.helper %}
{% crispy MessageForm MessageForm.helper %}
{% crispy ParticipantForm ParticipantForm.helper %}


{% block title %}{% block formTitle %}Send Private Request{% endblock %}{% endblock %}
{% block private_request %}active{% endblock %}

{% block formID %}privateRequestForm{% endblock %}

{% block form %}
  {% crispy dateForm %}
  <label>Artists*</label>
  {{ ArtistFormset.management_form|crispy }}
  {% if ArtistFormset.non_form_errors %}
    <div class="alert alert-danger" role="alert">
      {{ ArtistFormset.non_form_errors }}
    </div>
  {% endif %}
  {% for form in ArtistFormset %}
    {% crispy form %}
  {% endfor %}
  <label>Venue*</label>
  {% crispy venueForm %}
  {% crispy messageForm %}
{% endblock %}
