{% extends 'profile/musician/forms/about_modal.html' %}
{% load i18n crispy_forms_tags %}
{% crispy ContactForm ContactForm.helper %}
{% crispy NonUserLocationForm NonUserLocationForm.helper %}

{% block title %}{% block formTitle %}{% trans "Edit Contact Info" %}{% endblock %}{% endblock %}

{% block form %}
  {% crispy contactForm %}
  {% crispy locationForm %}
{% endblock %}


{% block script %}
  {{ script.super }}
  <script type="text/javascript" >
    $(document).ready(function() {
      zipcode_fix();
    });
  </script>
{% endblock %}
