@rowHeightMonth: 100px;
@rowHeightYear:  60px;

// Seanonal
@winter:          @dark-blue;
@winter-bg:       @faded-blue;
@spring:          @dark-purple;
@spring-bg:       @faded-purple;
@summer:          @dark-green;
@summer-bg:       @faded-green;
@fall:            @dark-orange;
@fall-bg:         @faded-orange;

// Day Cells
@today-bg:        #deffdb;
@today-color:     @black;
@weekend-bg:      #deffdb;
@weekend-color:   @black;
@holiday-bg:      #deffdb;
@holiday-color:   @black;
@outmonth-color:  @gray-light;
@outmonth-bg:     darken(@white, 3);

// Month view
@rowHover:        @gray-lighter;
@dayHover:        #DDD;
@borderColor:     #DDD;
@borderSize:      1px;
@borderSizehoriz: 1px;
@borderSizevert:  1px;
@borderStyle:     solid;
