{% extends "base.html" %}
{% load i18n thumbnail %}

{% block title %}Photo: {{ image.title }}{% endblock %}

{% block header %}
  <h3>{{ image.title }}</h3>
  {% if request.user == image.user %}
    <a href="{% url 'photos:update-image' image.id %}">{% include "_editLink.html" with text="Edit" %}</a>
    <a class="pull-right" href="{% url 'photos:delete-image' image.id %}">{% include "_deleteLink.html" with text="Remove" %}</a>
  {% endif %}
{% endblock %}

{% block content %}
  <a href="{{ image.image.url }}">
    <img class="img-responsive" alt="{{ image.title }}" src="{{ image.image.url }}">
  </a>
{% endblock %}
