{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Photo: {{ image.title }}{% endblock %}

{% block header %}
  <h3>{{ image.title }}</h3>
  {% if request.user == image.user %}
    <a href="{{ url('photos:update-image', kwargs={'pk':'image.id'}) }}">
      <span class="fa fa-pencil"> Edit</span>
    </a>
    <a class="pull-right" href="{{ url('photos:delete-image', kwargs={'pk':'image.id'}) }}">
      <span class="text-danger fa fa-times"> Remove</span>
    </a>
  {% endif %}
{% endblock %}

{% block content %}
  <a href="{{ image.image.url }}">
    <img class="img-responsive" alt="{{ image.title }}" src="{{ image.image.url }}">
  </a>
{% endblock %}
