{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-xs-12"><img class="centerimg" id="logo" alt="Composers Couch" src="{% static 'img/logo.png' %}"></div>
  </div>
  <div class="row">
    <div class="col-md-12 centerText">
      <h2>Under Construction</h2>
      <p>Comments? Questions? Concerns?</p>
      <p>Feel free to drop us a line at: <a href="mailto:contact@composerscouch.com">contact@composerscouch.com</a></p>
    </div>
  </div>
{% endblock %}
