{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Form{% endblock %}

{% block header %}
<form id="{% block formID %}{% endblock %}" method="post"
      enctype="{% block enctype %}{% endblock %}" class="non-modal-form modal-dialog"
      action="{% block FormURL %}{{ request.path }}{% endblock %}">
    <div class="modal-content">
        {% block modalHeader %}
        <div class="modal-header">
          <h3>{% block formTitle %}Form{% endblock %}</h3>
          {% block modalNav %}
          {% endblock %}
        </div>
        {% endblock %}
        <div class="modal-body">
          {% block form %}
            {% csrf_token %}
            {% crispy form %}
          {% endblock %}
          <input type="hidden" name="next" value="{{next|default:""}}"/>
        </div>
        <div class="modal-footer">
          {% block extraSubmit %}{% endblock %}
          {% block submit %}<button type="submit" onclick="this.disabled=true" class="btn btn-primary">Save</button>{% endblock %}
        </div>
    </div>
</form>
{% endblock %}
