{% extends 'base.html' %}
{% load static from staticfiles %}


{% block overwriteHeader %}
  <div class="landing-page">
    <div class="jumbotron composers-couch">
      <div class="image-frame">
        <span class="frame-helper"></span>
        <img class="image-center" id="logo" alt="Composers Couch" src="{% static 'img/logo.png' %}">
      </div>
      <div class="text-center container">
        <div class="moto">
          <h2>A booking service that connects local venues, artists, and fans.</h2>
        </div>
        {% if not user.is_authenticated %}
          <a href="{% url 'signup' %}?next={% firstof request.path '/' %}" type="button" class="btn btn-lg btn-primary">Join For Free</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block overwriteContent %}
  <div class="landing-page">
    {% if not user.is_authenticated %}
      <div class="jumbotron profile-types text-center">
        <div class="row">
          <div class="col-sm-4">
            <span class="fa fa-ticket fa-5x"></span>
            <h2>Venues</h2>
            <p>Book more show by discovering local artists, manage show requests, and easily fill gaps in your schedule.</p>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-music fa-5x"></span>
            <h2>Artists</h2>
            <p>Host your press kit and find local venues or while on tour.</p>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-users fa-5x"></span>
            <h2>Fans</h2>
            <p>Find concerts in your area and follow your favorite artists.</p>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="jumbotron requests">
      <div class="row">
        <div class="col-sm-6">
          <h2><a href="{% url 'requests' 'expiring' 'default' 'all' %}">
            Requests
          </a></h2>
          <p>Publically ask to see who is available. Quickly find who is looking for show in your area.</p>
          <a href="{% url 'requests' 'expiring' 'default' 'all' %}" class="pull-right btn btn-transparent">
            Requests <small><span class="fa fa-chevron-right text-white"></span></small>
          </a>
        </div>
      </div>
    </div>
    <div class="jumbotron shows">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2>Concerts</h2>
          <p>See what shows are coming up. Filterable by genre and location</p>
          <a href="{% url 'shows' 'upcoming' 'all' %}" class="pull-right btn btn-transparent">
            Concerts <small><span class="fa fa-chevron-right text-white"></span></small>
          </a>
        </div>
      </div>
    </div>
    <div class="jumbotron artists-venues">
      <div class="row">
        <div class="col-sm-6">
          <h2>Artists</h2>
          <p>Find artists by location, genre and availability. Never have a hole in your schedule again.</p>
          <a href="{% url 'artists' 'all' 'all' %}" class="pull-right btn btn-danger">
            Artists <small><span class="fa fa-chevron-right"></span></small>
          </a>
        </div>
        <div class="col-sm-6">
          <h2>Venues</h2>
          <p>Find venues by location, genre and availability. Never have a hole in your schedule again.</p>
          <a href="{% url 'venues' 'all' 'all' %}" class="pull-right btn btn-warning">
            Venues <small><span class="fa fa-chevron-right"></span></small>
          </a>
        </div>
      </div>
    </div>
    <div class="jumbotron updates">
      <div class="row">
        <div class="col-sm-6">
          <h2>Updates</h2>
          <p>Find out what you favorite venues and artists are up to.</p>
          <a href="{% url 'updates' 'all' %}" class="pull-right btn btn-transparent">
            Updates <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
