{% extends 'base.html' %}
{% load static from staticfiles %}


{% block overwriteHeader %}
  <div class="landing-page">
    <div class="jumbotron composers-couch">
      <div class="image-frame">
        <span class="frame-helper"></span>
        <img class="image-center" id="logo" alt="Composers Couch" src="{% static 'img/logo.png' %}">
      </div>
      <div class="text-center container">
        <div class="moto">
          <h2>A booking service that connects local venues, artists, and fans.</h2>
        </div>
        {% if not user.is_authenticated %}
          <a href="{% url 'signup' %}?next={% firstof request.path '/' %}" type="button" class="btn btn-lg btn-primary">Join For Free</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block overwriteContent %}
  <div class="landing-page">
    {% if not user.is_authenticated %}
      <div class="jumbotron black text-center">
        <div class="row">
          <div class="col-sm-4">
            <span class="fa fa-ticket fa-5x"></span>
            <h2>Venues</h2>
            <p>Book more shows by discovering local artists, managing show requests, and filling gaps in your schedule.</p>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-music fa-5x"></span>
            <h2>Artists</h2>
            <p>Find local venues, manage your tour, and host your press kit.</p>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-users fa-5x"></span>
            <h2>Fans</h2>
            <p>Discover local artists, find concerts in your area and follow your favorites.</p>
          </div>
        </div>
      </div>
      <div class="sub-nav" data-spy="affix" data-offset-top="805" data-offset-bottom="200">
    {% else %}
      <div class="sub-nav" data-spy="affix" data-offset-top="395" data-offset-bottom="200">
    {% endif %}
        <ul class="nav nav-pills nav-centered">
          <li class="active"><a href="#requests">Requests</a></li>
          <li class=""><a href="#concerts">Concerts</a></li>
          <li class=""><a href="#artists">Artists</a></li>
          <li class=""><a href="#venues">Venues</a></li>
          <li class=""><a href="#updates">Updates</a></li>
        </ul>
    </div>
    <div class="requests section" id="requests">
      <div class="jumbotron stretchMe" data-stretch="{% static 'img/Requests.jpg' %}">
        <div class="row">
          <div class="col-sm-6">
            <h2><a class="text-white" href="{% url 'requests' 'expiring' 'default' 'all' %}">
              Requests
            </a></h2>
            <p>Find artist and venues looking to put on shows in your area.</p>
            <a href="{% url 'requests' 'expiring' 'default' 'all' %}" class="pull-right btn btn-transparent">
              View Requests <small><span class="fa fa-chevron-right text-white"></span></small>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="concerts section" id="concerts">
      <div class="jumbotron stretchMe" data-stretch="{% static 'img/Concert.jpg' %}">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6">
            <h2><a class="text-white" href="{% url 'shows' 'upcoming' 'all' %}">
              Concerts
            </a></h2>
            <p>See who is playing in your area. Filter concerts by venue genre and location.</p>
            <a href="{% url 'shows' 'upcoming' 'all' %}" class="pull-right btn btn-transparent">
              View Concerts <small><span class="fa fa-chevron-right text-white"></span></small>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="artists section" id="artists">
      <div class="jumbotron stretchMe" data-stretch="{% static 'img/Artist.jpg' %}">
        <div class="row">
          <div class="col-sm-6">
            <h2><a class="text-white" href="{% url 'artists' 'all' 'all' %}">
              Artists
            </a></h2>
            <p>Discover local artists by genre. Use the
              <a class="text-white" href="{% url 'available_artists' 'all' 2014 32 32 %}">
              availability feed</a> to find local artists or ones that are
              passing through by date.</p>
            <a href="{% url 'artists' 'all' 'all' %}" class="pull-right btn btn-transparent">
              View Artists <small><span class="fa fa-chevron-right"></span></small>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="venues section" id="venues">
      <div class="jumbotron stretchMe" data-stretch="{% static 'img/venue.jpg' %}">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6">
            <h2>Venues</h2>
            <p>Find local venues by genre. Use the
              <a class="text-white" href="{% url 'available_venues' 'all' 2014 32 32 %}">
              availability feed</a> to find local venues by location or between
              stops on your tour.</p>
            <a href="{% url 'venues' 'all' 'all' %}" class="pull-right btn btn-transparent">
              View Venues <small><span class="fa fa-chevron-right"></span></small>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="updates section" id="updates">
      <div class="jumbotron stretchMe" data-stretch="{% static 'img/Updates.jpg' %}">
        <div class="row">
          <div class="col-sm-6">
            <h2>Updates</h2>
            <p>Find out what you favorite venues and artists are up to.</p>
            <a href="{% url 'updates' 'all' %}" class="pull-right btn btn-transparent">
              View Updates <span class="fa fa-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
  $(".stretchMe").anystretch();

  var sections = $('.section'),
      nav = $('.sub-nav'),
      nav_height = nav.outerHeight();

  $(window).on('scroll', function () {
    var cur_pos = $(this).scrollTop();

    sections.each(function() {
      var top = $(this).offset().top - nav_height,
          bottom = top + $(this).outerHeight();

      if (cur_pos >= top && cur_pos <= bottom) {
        nav.find('li').removeClass('active');
        sections.removeClass('active');

        $(this).addClass('active');
        nav.find('a[href="#'+$(this).attr('id')+'"]').parent().addClass('active');
      }
    });
  });

  nav.find('a').on('click', function () {
    var $el = $(this)
      , id = $el.attr('href');

    $('html, body').animate({
      scrollTop: $(id).offset().top - nav_height
    }, 500);

    return false;
});
</script>

{% endblock %}
