{% extends "base.html" %}


{% block headerClass %}dark-blue{% endblock %}

{% block header%}
  <div class="text-white">
    <h2>Messages {% block messageType %}{% endblock %}</h2>
  </div>
  <div class="row no-gutter">
    <div class="col-xs-6 left sub-nav">
      <ul class="nav nav-pills " role="tablist">
        <li class="{% block inboxClass %}{% endblock %}">
          {% set unread = inbox_count(request.user)  %}
          <a href="{{ url('threads:inbox') }}"><span class="fa fa-inbox"></span> Inbox {% if unread %}<strong>({{ unread }})</strong>{% endif %}</a>
        </li>
        <li class="{% block sentClass %}{% endblock %}">
          <a href="{{ url('threads:sent') }}"><span class="fa fa-send"></span> Sent</a>
        </li>
        <li class="{% block trashClass %}{% endblock %}">
          <a href="{{ url('threads:trash') }}"><span class="fa fa-trash-o"></span> Trash</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 right text-right">
      <span class="dropdown text-left">
        <a class="btn btn-transparent-dropdown dropdown-toggle"
           data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
           <span class="dotted-bottom">{% block title %}{% block messageTypeDropdown %}All Messages{% endblock %}{% endblock %}</span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="{% block messageClass %}{% endblock %}">
              <a href="{{ url('threads:inbox') }}">All Messages</a>
            </li>
            <li class="{% block privateClass %}{% endblock %}">
              <a href="{{ url('private_requests') }}">Private Requests</a>
            </li>
            <li class="{% block publicClass %}{% endblock %}">
              <a href="{{ url('public_requests') }}">Public Requests</a>
            </li>
        </ul>
      </span>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="messages">
    {% if not request.user.email %}
      <div class="alert alert-warning" role="alert">
        To receive notifications for show requests please <a href="{{ url('profile_edit') }}">Add an Email</a> to your profile.
      </div>
    {% endif %}
    <form action="{{ url('threads:batch_update') }}" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      {% block send_message %}
        <a href="{{ url('threads:compose') }}" class="btn btn-primary">Send message</a>
      {% endblock %}
      <div class="btn-group request-folder-actions">
        {% block markAsRead %}
        <button type="submit" onclick="this.form.onsubmit(); return false; " name="action" value="read" class="btn btn-default">
          mark as read
        </button>
        <button type="submit" onclick="this.form.onsubmit(); return false; " name="action" value="unread" class="btn btn-default">
          mark as unread
        </button>
        {% endblock %}
        {% block delete %}
        <button type="submit" onclick="this.form.onsubmit(); return false; " name="action" value="delete" class="btn btn-default">
          <span class="fa fa-trash-o"></span> delete
        </button>
        {% endblock %}
        {% block restore %}
        <button type="submit" onclick="this.form.onsubmit(); return false; " name="action" value="restore" class="btn btn-default">
          <span class="fa fa-reply"></span> restore
        </button>
        {% endblock %}
      </div>
      <p></p>
      <div class ="panel">
        <table class="table table-hover">
          <tbody>
            {% for message in message_list %}
              <tr class="message {% if message.new %}unread{% endif %}">
                <td><input class="request-folder-checkbox" name="batchupdateids" type="checkbox" value="{{message.thread.pk}}" /></td>
                <td>
                  {% for participant in message.others() %}
                    <a href="{{ participant.user.get_absolute_url() }}">{{ participant.user.profile }}</a>
                    {% if not loop.last %},{% endif %}
                  {% else %}
                    <a href="{{ message.thread.latest_msg.sender.get_absolute_url() }}">{{ message.thread.latest_msg.sender.profile }}</a>
                  {% endfor %}
                </td>
                <td>
                  <a href="{{ message.thread.get_absolute_url() }}">{% if message.new %}<b>{% endif %}
                  {% with truncated_subject = message.thread.subject|truncate(50) %}
                    <span class="text-black">{{ truncated_subject }}</span>
                    {% with subject_len = truncated_subject|length %}
                      {% with len = 100 - subject_len %}
                        {% if message.thread.latest_msg.body %}
                         <span class="text-muted"> - {{ message.thread.latest_msg.body|truncate(len)|safe }}</span>
                        {% endif %}
                      {% endwith %}
                    {% endwith %}
                  {% endwith %}
                  {% if message.new %}</b>{% endif %}</a>
                </td>
                <td>
                  {#{% localtime on %}#}
                    <span class="date pull-right">{{ compact_date(message.thread.latest_msg.sent_at, "g:i A","M j","n/j/y") }}</span>
                  {#{% endlocaltime %}#}
                </td>
              </tr>
            {% else %}
              <tr class="message unread">
                <td class="no-message">No messages</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
    {% from "utils/macros.html" import paginate %}
{{ paginate(request=request, page=thread_list) }}
  </div>
{% endblock %}
