{% extends "base.html" %}
{% load i18n %}
{% load inbox %}
{% load tz %}

{% block title %}Messages{% endblock %}

{% block headerClass %}thread{% endblock %}

{% block header%}
  <h2 class="text-white">{% block messageType %}All Messages{% endblock %}</h2>
{% endblock %}

{% block navigation %}
  <div class="navigation sub-nav thread">
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-sm-4 col-xs-6 left">
          {% block send_message %}
            <a href="{% url 'threads:compose' %}" class="btn btn-primary">Send message</a>
          {% endblock %}
        </div>
        <div class="col-sm-4 col-sm-push-4 col-xs-6 right">
          <div class="btn-group pull-right">
            <a href="{% url 'threads:inbox' %}" class="{% block messageClass %}{% endblock %} btn btn-sm btn-default">
              All
            </a>
            <a href="{% url 'private_requests' %}" class="{% block privateClass %}{% endblock %} btn btn-sm btn-default">
              Private Requests
            </a>
            <a href="{% url 'public_requests' %}" class="{% block publicClass %}{% endblock %} btn btn-sm btn-default">
              Public Requests
            </a>
          </div>
        </div>
        <div class="col-sm-4 col-sm-pull-4 col-xs-12 center">
          <ul class="nav nav-pills nav-centered" role="tablist">
            {% block center_nav %}
              <li class="{% block inboxClass %}{% endblock %}">
                <a href="{% url 'threads:inbox' %}"><span class="fa fa-inbox"></span> {% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a>
              </li>
              <li class="{% block sentClass %}{% endblock %}">
                <a href="{% url 'threads:sent' %}"><span class="fa fa-send"></span> {% trans "Sent" %}</a>
              </li>
              <li class="{% block trashClass %}{% endblock %}">
                <a href="{% url 'threads:trash' %}"><span class="fa fa-trash-o"></span> {% trans "Trash" %}</a>
              </li>
            {% endblock %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="messages">
    <form action="{% url 'threads:batch_update' %}" method="post">{% csrf_token %}
      <div class="btn-group request-folder-actions">
        {% block markAsRead %}
        <button type="submit" onclick="this.form.onsubmit(); return false; " name="action" value="read" class="btn btn-default">mark as read</button>
        <button type="submit" onclick="this.form.onsubmit(); return false; " name="action" value="unread" class="btn btn-default">mark as unread</button>
        {% endblock %}
        {% block delete %}
        <button type="submit" onclick="this.form.onsubmit(); return false; " name="action" value="delete" class="btn btn-default">
          <span class="fa fa-trash-o"></span> delete
        </button>
        {% endblock %}
        {% block restore %}
        <button type="submit" onclick="this.form.onsubmit(); return false; " name="action" value="restore" class="btn btn-default">
          <span class="fa fa-reply"></span> restore
        </button>
        {% endblock %}
      </div>
      <p></p>
      <div class ="panel">
        <table class="table table-hover">
          <tbody>
            {% for message in message_list %}
              <tr class="message {% if message.new %}unread{% endif %}">
                <td><input class="request-folder-checkbox" name="batchupdateids" type="checkbox" value="{{message.thread.pk}}" /></td>
                <td>
                  {% for participant in message.others.all %}
                    <a href="{{ participant.user.get_absolute_url }}">{{ participant.user.profile }}</a>
                    {% if not forloop.last %},{% endif %}
                  {% empty %}
                    <a href="{{ message.thread.latest_msg.sender.get_absolute_url }}">{{ message.thread.latest_msg.sender.profile }}</a>
                  {% endfor %}
                </td>
                <td>
                  <a href="{{ message.thread.get_absolute_url }}">{% if message.new %}<b>{% endif %}
                  {% with message.thread.subject|truncatewords:5 as truncated_subject %}
                    <span class="text-black">{{ truncated_subject }}</span>
                    {% with truncated_subject|wordcount as subject_wc %}{% with 12|sub:subject_wc as wc %}
                      {% if message.thread.latest_msg.body and wc > 0 %} - <span class="text-muted">{{ message.thread.latest_msg.body|safe|truncatewords:wc }}</span>{% endif %}
                    {% endwith %}{% endwith %}
                  {% endwith %}
                  {% if message.new %}</b>{% endif %}</a>
                </td>
                <td>
                  {% localtime on %}
                    <span class="date pull-right">{{ message.thread.latest_msg.sent_at|compact_date:_("g:i A,M j,n/j/y") }}</span>
                  {% endlocaltime %}
                </td>
              </tr>
            {% empty %}
              <tr class="message unread">
                <td class="no-message">No messages</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
    {% include "utils/_pagination.html" with page=thread_list %}
  </div>
{% endblock %}
