{% extends "utils/form.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% block formTitle %}Send Message{% endblock %}
{% endblock %}

{% block modalHeader %}
  <div class="nav nav-justified nav-tabs nav-no-colapse">
    <li class="{% block message %}{% endblock %}"><a href="{{ url('threads:compose') }}">Send Message</a></li>
    <li class="{% block private_request %}{% endblock %}"><a href="{{ url('request_write') }}">Send Private Request</a></li>
    <li class="{% block public_request %}{% endblock %}">
      {% if user.profile.profile_type == 'm' %}
        <a href="{{ url('public_request') }}">Post Public Request</a>
      {% else %}
        <a href="{{ url('public_band_request') }}">Post Public Request</a>
      {% endif %}
    </li>
  </div>
{% endblock %}

{% block submit %}
  <button type="submit" onclick="this.form.onsubmit(); return false; " class="btn btn-primary">Send</button>
{% endblock %}
