{% extends "threads/base.html" %}
{% from "profile/macros.html" import mugshot %}
{% from "utils/form_macros.html" import form as render_form %}


{% block header %}
  <div class="text-white">
    <h3 class="page-header">{{ thread.subject }}</h3>
    {% block from %}
      <h5>
        {% for participant in participant.others %}
          <a href="{{ participant.user.get_absolute_url() }}" class="text-white">{{ participant.user.profile }}</a>
          {% if not loop.last %},{% endif %}
        {% endfor %}
      </h5>
    {% endblock %}
  </div>
{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
  <div class="messages">
    {% block card %}{% endblock %}
    <div class="message-thread">
      <div class="message-list">
        {% for message_tuple in message_list %}
          {% with message=message_tuple.0 %}
            <div class="message">
              <div class="panel">
                <div class="panel-body">
                  <div class="message-row {% if message.sender == request.user %}sender{% else %}reciver{% endif %}">
                    <div class="message-image-col">
                      <div class="message-image">
                        <a href="{{ message.sender.profile.get_absolute_url() }}">
                          {{ mugshot(profile=message.sender.profile, width=50, height=50) }}
                        </a>
                      </div>
                    </div>
                    <div class="message-content-col">
                      <div class="message-content">
                        <div class="body">
                          <p>{{ message.body|linebreaks|safe }}</p>
                        </div>
                        <div class="footer text-muted">
                          <span class="sender">{{ message.sender.profile }}</span>
                          <span> | </span>
                          <span class="date">
                            {{ compact_date(message.sent_at, "g:i A", "M j", "n/j/y") }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
      <form action="{{ url('threads:reply', kwargs={'thread_id':thread.pk}) }}?next={{ request.path }}" class="reply-form" method="post">
        {{ render_form(form) }}
        <button type="submit" class="btn btn-primary">
          <span class="fa fa-send" ></span> Send
        </button>
      </form>
    </div>
  </div>

{% endblock %}
