{% extends "threads/base.html" %}
{% load  inbox  %}


{% block header %}
  <div class="text-white">
    <h3 class="page-header">{{ thread.subject }}</h3>
    {% block from %}
      <h5>
        {% for participant in participant.others %}
          <a href="{{ participant.user.get_absolute_url() }}" class="text-white">{{ participant.user.profile }}</a>
          {% if not loop.last %},{% endif %}
        {% endfor %}
      </h5>
    {% endblock %}
  </div>
{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
  <div class="messages">
    {% block card %}{% endblock %}
    <div class="message-thread">
      <div class="message-list">
        {% for message_tuple in message_list %}
          {% with message_tuple.0 as message %}
            {% include "threads/_message.html" with message=message user=user %}
          {% endwith %}
        {% endfor %}
      </div>
      <form action="{{ url('threads:reply', kwargs={'thread_id':'thread.pk'}) }}?next={{ request.path }}" class="reply-form" method="post">
        {{ render_form(form) }}
        <button type="submit" class="btn btn-primary"><span class="fa fa-send" ></span> 'Send'</button>
      </form>
    </div>
  </div>

{% endblock %}
