{% extends 'base.html' %}
{% block title %}About Composers Couch{% endblock %}
{% load static %}

{% block header %}
  <h2>About</h2>
{% endblock %}

{% block content %}
  <div class="TimBest">
    <div class="panel">
      <div class="panel-body">
        <div class="row ">
          <div class="col-xs-12">
            <p>Mission Statement:
            To provide a useful and convenient way to discover and  interact with the information associated with booking and promoting a concert.
            Company Goals:
            Our goal is to form a profitable company that can maintain and expand a service that creates an avenue for independent musicians to prosper by minimizing their logistical overhead. Providing a free to use service that allows for music discovery and musician booking.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
