{% extends 'base.html' %}
{% block title %}About Composers Couch{% endblock %}
{% load static from staticfiles %}

{% block header %}
  <div class="about container">
    <div class="panel">
      <div class="panel-body">
        <div id="about">
          <div class="page-header"><h2>About</h2></div>
          <h4>
            Composer's Couch A booking service that connects local venues,
            artists, and fans.
          </h4>
          <p>
            We strive to minimize the time spent on booking and promoting. To do
            this we have created a service that allows you
            Allowing for everyone to focus on what really matters, the music.
            Currently we are in beta this means that our work is not done yet.
            With the feedback of early adopters we hope to greatly improve and
            and expand upon or current functionality.
          </p>
        </div>
        <div class="contact" id="contact">
          <div class="page-header"><h2>Contact</h2></div>
          <p>
            We are always looking for feedback to better our services. We will
            take the time to listen to and respond to any of our users needs or
            requests. So feel free to drop us a line at:
            <a href="mailto:contact@composerscouch.com">contact@composerscouch.com</a>
          </p>
        </div>
        <div class="team" id="team">
          <div class="page-header"><h2>Team</h2></div>
          <div class="TimBest">
            <div class="row ">
              <div class="col-sm-3 col-md-2">
                <div class="image-frame">
                  <span class="frame-helper"></span>
                  <img class="image-center img-circle" alt="Tim Best" src="{% static 'img/TimBest.jpg' %}" height"125" width="125"/>
                </div>
              </div>
              <div class="col-sm-9 col-md-10">
                <h4>Tim Best</h4>
                <span class="text-muted">PRESIDENT AND CEO</span>
                <p>
                  A computer scientist with a passion for music. Tim is looking
                  to improve how artists are booked and promoted by
                  creating Composers Couch a website dedicated to minimizing
                  time it takes to book an artist.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="brand" id="brand">
          <div class="row">
            <div class="col-xs-12">
              <div class="page-header"><h2>Brand guidelines</h2></div>
              <h3>Logo</h3>
              <div class="image-frame">
                <span class="frame-helper"></span>
                <img class="image-center" id="logo" alt="Composers Couch" src="{% static 'img/logo.png' %}">
              </div>
              <h3>Colors</h3>
              <div class="color-blocks">
                <div class="row colors">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-2">
                    <div class="color black"></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="color gray"></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="color gray-light"></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="color silver"></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="color silver-light"></div>
                  </div>
                </div>
                <div class="row colors">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-2">
                    <div class="color dark-blue"></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="color muted-blue"></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="color blue"></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="color light-blue"></div>
                  </div>
                  <div class="col-xs-2">
                    <div class="color faded-blue"></div>
                  </div>
                </div>
                <div class="row colors">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-2 ">
                    <div class="color dark-green"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color muted-green"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color green"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color light-green"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color faded-green"></div>
                  </div>
                </div>
                <div class="row colors">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-2 ">
                    <div class="color dark-orange"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color muted-orange"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color orange"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color light-orange"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color faded-orange"></div>
                  </div>
                </div>
                <div class="row colors ">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-2 ">
                    <div class="color dark-red"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color muted-red"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color red"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color light-red"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color faded-red"></div>
                  </div>
                </div>
                <div class="row colors ">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-2 ">
                    <div class="color dark-purple"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color muted-purple"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color purple"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color light-purple"></div>
                  </div>
                  <div class="col-xs-2 ">
                    <div class="color faded-purple"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
