{% extends 'base.html' %}
{% block title %}Color Scheme{% endblock %}

{% block header %}
  <h2>Color Scheme</h2>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-1 white">
      <p class="color" id="black">Porcelain</p>
    </div>
    <div class="col col-md-1 silver-light">
      <p class="color" id="black">Light Silver</p>
    </div>
    <div class="col col-md-1 faded-blue">
      <p class="color" id="white">Faded Blue</p>
    </div>
    <div class="col col-md-1 light-blue">
      <p class="color" id="white">Light Blue</p>
    </div>
    <div class="col col-md-1 faded-purple" >
      <p class="color" id="white">Faded Purple</p>
    </div>
    <div class="col col-md-1 light-purple" >
      <p class="color" id="white">Light Purple</p>
    </div>
    <div class="col col-md-1 faded-green">
      <p class="color" id="white">Faded Green</p>
    </div>
    <div class="col col-md-1 light-green">
      <p class="color" id="white">Light Green</p>
    </div>
    <div class="col col-md-1 faded-orange">
      <p class="color" id="white">Faded Orange</p>
    </div>
    <div class="col col-md-1 light-orange">
      <p class="color" id="white">Light Orange</p>
    </div>
    <div class="col col-md-1 faded-red">
      <p class="color" id="white">Faded Red</p>
    </div>
    <div class="col col-md-1 light-red">
      <p class="color" id="white">Light Red</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-1 silver">
      <p class="color" id="black">Silver</p>
    </div>
    <div class="col col-md-1 gray-light">
      <p class="color" id="white">Gray</p>
    </div>
    <div class="col col-md-2 blue">
      <p class="color" id="white">Blue</p>
    </div>
    <div class="col col-md-2 purple" >
      <p class="color" id="white">Purple</p>
    </div>
    <div class="col col-md-2 green">
      <p class="color" id="white">Green</p>
    </div>
    <div class="col col-md-2 orange">
      <p class="color" id="white">Orange</p>
    </div>
    <div class="col col-md-2 red">
      <p class="color" id="white">Red</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-1 black-light">
      <p class="color" id="white">Charcoal</p>
    </div>
    <div class="col col-md-1 black">
      <p class="color" id="white">Black</p>
    </div>
    <div class="col col-md-1 muted-blue">
      <p class="color" id="white">Muted Blue</p>
    </div>
    <div class="col col-md-1 dark-blue">
      <p class="color" id="white">Dark Blue</p>
    </div>
    <div class="col col-md-1 muted-purple" >
      <p class="color" id="white">Muted Purple</p>
    </div>
    <div class="col col-md-1 dark-purple" >
      <p class="color" id="white">Dark Purple</p>
    </div>
    <div class="col col-md-1 muted-green">
      <p class="color" id="white">Muted Green</p>
    </div>
    <div class="col col-md-1 dark-green">
      <p class="color" id="white">Dark Green</p>
    </div>
    <div class="col col-md-1 muted-orange">
      <p class="color" id="white">Muted Orange</p>
    </div>
    <div class="col col-md-1 dark-orange">
      <p class="color" id="white">Dark Orange</p>
    </div>
    <div class="col col-md-1 muted-red">
      <p class="color" id="white">Muted Red</p>
    </div>
    <div class="col col-md-1 dark-red">
      <p class="color" id="white">Dark Red</p>
    </div>
  </div>
{% endblock %}
