{% extends 'base.html' %}
{% block title %}Color Scheme{% endblock %}

{% block header %}
  <h2>Color Scheme</h2>
{% endblock %}

{% block content %}
  <div class="color-scheme">
    <div class="row">
      <div class="col col-md-1 white">
        <p class="color text-black">Porcelain</p>
      </div>
      <div class="col col-md-1 silver-light">
        <p class="color text-black">Gray lighter</p>
      </div>
      <div class="col col-md-1 silver-light">
        <p class="color text-black">Light Silver</p>
      </div>
      <div class="col col-md-1 silver">
        <p class="color text-black">Silver</p>
      </div>
      <div class="col col-md-1 gray-light">
        <p class="color">Gray light</p>
      </div>
      <div class="col col-md-1 gray">
        <p class="color">Gray</p>
      </div>
      <div class="col col-md-1 black-light">
        <p class="color">Charcoal</p>
      </div>
      <div class="col col-md-1 gray-dark">
        <p class="color">Gray Dark</p>
      </div>
      <div class="col col-md-1 black">
        <p class="color">Black</p>
      </div>
      <div class="col col-md-1 gray-darker">
        <p class="color">Gray Darker</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-1 faded-blue">
        <p class="color">Faded Blue</p>
      </div>
      <div class="col col-md-1 light-blue">
        <p class="color">Light Blue</p>
      </div>
      <div class="col col-md-1 faded-purple" >
        <p class="color">Faded Purple</p>
      </div>
      <div class="col col-md-1 light-purple" >
        <p class="color">Light Purple</p>
      </div>
      <div class="col col-md-1 faded-green">
        <p class="color">Faded Green</p>
      </div>
      <div class="col col-md-1 light-green">
        <p class="color">Light Green</p>
      </div>
      <div class="col col-md-1 faded-orange">
        <p class="color">Faded Orange</p>
      </div>
      <div class="col col-md-1 light-orange">
        <p class="color">Light Orange</p>
      </div>
      <div class="col col-md-1 faded-red">
        <p class="color">Faded Red</p>
      </div>
      <div class="col col-md-1 light-red">
        <p class="color">Light Red</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-2 blue">
        <p class="color">Blue</p>
      </div>
      <div class="col col-md-2 purple" >
        <p class="color">Purple</p>
      </div>
      <div class="col col-md-2 green">
        <p class="color">Green</p>
      </div>
      <div class="col col-md-2 orange">
        <p class="color">Orange</p>
      </div>
      <div class="col col-md-2 red">
        <p class="color">Red</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-1 muted-blue">
        <p class="color">Muted Blue</p>
      </div>
      <div class="col col-md-1 dark-blue">
        <p class="color">Dark Blue</p>
      </div>
      <div class="col col-md-1 muted-purple" >
        <p class="color">Muted Purple</p>
      </div>
      <div class="col col-md-1 dark-purple" >
        <p class="color">Dark Purple</p>
      </div>
      <div class="col col-md-1 muted-green">
        <p class="color">Muted Green</p>
      </div>
      <div class="col col-md-1 dark-green">
        <p class="color">Dark Green</p>
      </div>
      <div class="col col-md-1 muted-orange">
        <p class="color">Muted Orange</p>
      </div>
      <div class="col col-md-1 dark-orange">
        <p class="color">Dark Orange</p>
      </div>
      <div class="col col-md-1 muted-red">
        <p class="color">Muted Red</p>
      </div>
      <div class="col col-md-1 dark-red">
        <p class="color">Dark Red</p>
      </div>
    </div>
  </div>
{% endblock %}
