{% extends 'base.html' %}
{% block title %}Color Scheme{% endblock %}

{% block header %}
  <h2>Color Scheme</h2>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col col-md-1 white">
      <p class="color" id="black">Porcelain</p>
    </div>
    <div class="col col-md-1 silver-light">
      <p class="color" id="black">Light Silver</p>
    </div>
    <div class="col col-md-1 blue-lighter">
      <p class="color" id="white">Faded Blue</p>
    </div>
    <div class="col col-md-1 blue-light">
      <p class="color" id="white">Light Blue</p>
    </div>
    <div class="col col-md-1 purple-lighter" >
      <p class="color" id="white">Faded Purple</p>
    </div>
    <div class="col col-md-1 purple-light" >
      <p class="color" id="white">Light Purple</p>
    </div>
    <div class="col col-md-1 green-lighter">
      <p class="color" id="white">Faded Green</p>
    </div>
    <div class="col col-md-1 green-light">
      <p class="color" id="white">Light Green</p>
    </div>
    <div class="col col-md-1 orange-lighter">
      <p class="color" id="white">Faded Orange</p>
    </div>
    <div class="col col-md-1 orange-light">
      <p class="color" id="white">Light Orange</p>
    </div>
    <div class="col col-md-1 red-lighter">
      <p class="color" id="white">Faded Red</p>
    </div>
    <div class="col col-md-1 red-light">
      <p class="color" id="white">Light Red</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-1 silver">
      <p class="color" id="black">Silver</p>
    </div>
    <div class="col col-md-1 gray-light">
      <p class="color" id="white">Gray</p>
    </div>
    <div class="col col-md-2 blue">
      <p class="color" id="white">Blue</p>
    </div>
    <div class="col col-md-2 purple" >
      <p class="color" id="white">Purple</p>
    </div>
    <div class="col col-md-2 green">
      <p class="color" id="white">Green</p>
    </div>
    <div class="col col-md-2 orange">
      <p class="color" id="white">Orange</p>
    </div>
    <div class="col col-md-2 red">
      <p class="color" id="white">Red</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-1 black-light">
      <p class="color" id="white">Charcoal</p>
    </div>
    <div class="col col-md-1 black">
      <p class="color" id="white">Black</p>
    </div>
    <div class="col col-md-1 blue-dark">
      <p class="color" id="white">Muted Blue</p>
    </div>
    <div class="col col-md-1 blue-darker">
      <p class="color" id="white">Deep Blue</p>
    </div>
    <div class="col col-md-1 purple-dark" >
      <p class="color" id="white">Muted Purple</p>
    </div>
    <div class="col col-md-1 purple-darker" >
      <p class="color" id="white">Deep Purple</p>
    </div>
    <div class="col col-md-1 green-dark">
      <p class="color" id="white">Muted Green</p>
    </div>
    <div class="col col-md-1 green-darker">
      <p class="color" id="white">Deep Green</p>
    </div>
    <div class="col col-md-1 orange-dark">
      <p class="color" id="white">Muted Orange</p>
    </div>
    <div class="col col-md-1 orange-darker">
      <p class="color" id="white">Deep Orange</p>
    </div>
    <div class="col col-md-1 red-dark">
      <p class="color" id="white">Muted Red</p>
    </div>
    <div class="col col-md-1 red-darker">
      <p class="color" id="white">Deep Red</p>
    </div>
  </div>
{% endblock %}
