{% extends 'base.html' %}
{% block title %}About Composers Couch{% endblock %}
{% load static from staticfiles %}

{% block header %}
  <div class="container">
    <div class="panel">
      <div class="panel-body">
        <div class="row ">
          <div class="col-xs-12">
            <h2>Contact</h2>
            <p>
              Composers Couch is currently in beta and we are always looking to
              better our services. We will take the time to listen to and respond
              to any of our users needs. So feel free to drop us a line at:
              <a href="mailto:contact@composerscouch.com">contact@composerscouch.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
