{% extends 'base.html' %}
{% block title %}Composers Couch Team{% endblock %}
{% load static %}

{% block content %}
  <div id="TimBest">
    <div class="row">
      <div class="col-lg-2">
        <div class="TimBestimage"><img class="img-responsize img-rounded" alt="Tim Best" src="{% static 'img/TimBest.jpg' %}"></div>
      </div>
      <div class="col-lg-10">
        <h2>Tim Best</h2>
        <p>PRESIDENT AND OWNER</p>
        <p>After Graduating from Clarkson University with his BS in computer science and a minor in mathematics.  Tim went on to found
        Composers Couch LLC to build a website dedicated to improving the music industry.  He is currently in charge of managing all daily operations. </p>
      </div>
    </div>
  </div>
{% endblock %}
