{% autoescape off %}

Request to play a show on: {{ request.date.start|date:"F d" }}

At: {{ request.venue.user.profile }} ({{ proto }}://{{ domain }}{{ request.venue.user.profile.get_absolute_url }})


With:
{% if request.headliner %}Headliner: {{ request.headliner.user.profile }} {{ proto }}://{{ domain }}{{ request.headliner.user.profile.get_absolute_url }}{% endif %}
{% if request.openers %}Artists:{% endif %}
  {% for opener in request.openers %}{{ opener.user.profile }} ({{ proto }}://{{ domain }}{{ opener.user.profile.get_absolute_url }}){% endfor %}

{{ request.thread.latest_msg.body }}


Sincerely,
{{ request.thread.latest_msg.sender.profile }}

{% endautoescape %}
