{% extends 'base.html' %}
{% load i18n %}

{% block header %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{% block title %}Sign Up{% endblock %}</h3>
      </div>
      <div class="modal-body">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          <b>There was an error in sending the email. Please try again.</b>
          <p>If this problem presists please contact:
            <a class="text-danger" href="mailto:help@composerscouch.com">help@composerscouch.com</a>
          </p>
        </div>
        {% endif %}
        <p>Please confirm that this is your email:
          <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></p>
        <p>This will send an email with a one time link that can be used to sign on to this account</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'claim_profile' username %}" class="btn btn-primary pull-right">Send Email</a>
      </div>
    </div>
  </div>
{% endblock %}
