{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="modal-content">
    <div class="modal-header">
      <h3>{% block title %}{% trans "Join" %} Composers Couch{% endblock %}</h3>
    </div>
    <div class="modal-body">
      {% if error %}
      <div class="alert alert-danger" role="alert">
        <b>There was an error in sending the email. Please try again.</b>
        <p>If this problem presists please contact:
          <a class="text-danger" href="mailto:help@composerscouch.com">help@composerscouch.com</a>
        </p>
      </div>
      {% endif %}
      <p>Clicking 'Claim this profile' will send an email to:
        <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></p>
      <p>In said email will be a one time link that can be used to sign on to this account</p>
    </div>
    <div class="modal-footer">
      <a href="{% url 'claim_profile' username %}" class="btn btn-primary pull-right">Claim this profile</a>
    </div>
</div>
{% endblock %}
