{% extends 'form.html' %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}
{% crispy signupForm signupForm.helper %}
{% crispy zipcodeForm zipcodeForm.helper %}
{% crispy emailForm emailForm.helper %}

{% block title %}
  {% block formTitle %}Sign up{% endblock %}
{% endblock %}

{% block headerClass %}authentication{% endblock %}
{% block formID %}sign-up-form{% endblock %}

{% block form %}
  <div class="sign-up">
    {% crispy signupForm %}
    {% crispy zipcodeForm %}
    {% crispy emailForm %}
  </div>
{% endblock %}

{% block submit %}
<button id="sign-up-submit" onclick="this.form.onsubmit(); return false;" type="submit" class="btn btn-primary">Sign up</button>
{% endblock %}
