{% extends 'form.html' %}


{% block headerClass %}authentication text-center{% endblock %}

{% block modalHeader %}
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-12">
      <p class="pull-right">Already have an account? <a href="{% url 'login' %}">Login</a></p>
      <h3 class="text-left">Sign up</h3>
    </div>
    </div>
  </div>
{% endblock %}

{% block form %}
  <div class="sign-up">
    <div class="social-links">
      <div class="row">
        <div class="col-xs-4 text-right">
          <a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-facebook" role="button">
            <span class="fa fa-facebook"></span>
            <label>Facebook</label>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="{% url 'socialauth_begin' 'twitter' %}" class="btn btn-twitter" role="button">
            <span class="fa fa-twitter"></span>
            <label>Twitter</label>
          </a>
        </div>
        <div class="col-xs-4 text-left">
          <a href="{% url 'signup_email' %}" class="btn btn-default" role="button">
            <span class="fa fa-envelope-o"></span>
            <label>Email</label>
          </a>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="next" value="{{next|default:""}}"/>
{% endblock %}

{% block submit %}{% endblock %}
