{% extends 'utils/form.html' %}
{% from "utils/form_macros.html" import form as render_form %}

{% block title %}Login{% endblock %}

{% block headerClass %}authentication{% endblock %}
{% block modalHeader %}
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-12">
      <p class="pull-right">Don't have an account? <a href="{{ url('signup') }}">Sign up</a></p>
      <h3>Login</h3>
    </div>
    </div>
  </div>
{% endblock %}
{% block formID %}sign-in-form{% endblock %}

{% block form %}
<div class="sign-in">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <ul class="social-links text-center">
        <li>
          <a href="{{ url('socialauth_begin', kwargs={'backend':'twitter'}) }}" class="btn btn-twitter-inv" role="button">
            <i class="fa fa-twitter"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="{{ url('socialauth_begin', kwargs={'backend':'facebook'}) }}" class="btn btn-facebook-inv" role="button">
            <i class="fa fa-facebook"></i>
            <span>Facebook</span>
          </a>
        </li>
      </div>
    </ul>
    <div class="col-md-9 col-sm-8">
      {{ render_form(login_form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block submit %}<button type="submit" onclick="this.form.onsubmit(); return false; " class="btn btn-primary">Login</button>{% endblock %}
