{% extends "utils/form.html" %}{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post" id="password_change_form">
  <fieldset>
    <legend>Change Password</legend>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p }}
  </fieldset>
  <input type="submit" onclick="this.form.onsubmit(); return false; " value="Change password" />
</form>
{% endblock %}



{% from "utils/form_macros.html" import form as render_form %}


{% block title %}{% block formTitle %}Change password{% endblock %}{% endblock %}

{% block form %}
  {{ render_form(form) }}
{% endblock %}

{% block submit %}
<button onclick="this.form.onsubmit(); return false;" type="submit" class="btn btn-primary">Change password</button>
{% endblock %}
