{% extends 'utils/form.html' %}
{% from "utils/form_macros.html" import form as render_form %}

{% block title %}
  {% block formTitle %}Sign up{% endblock %}
{% endblock %}

{% block headerClass %}authentication{% endblock %}

{% block modalHeader %}
  <div class="modal-header">
    <div class="row">
      <div class="col-xs-12">
      <p class="pull-right">Already have an account? <a href="{{ url('login') }}">Login</a></p>
      <h3 class="text-left">Sign up</h3>
    </div>
    </div>
  </div>
{% endblock %}


{% block formID %}sign-up-form{% endblock %}

{% block form %}
  <div class="sign-in">
    <div class="row no-gutter">
      <div class="col-md-3 col-sm-4 left">
        <ul class="social-links text-center">
          <li>
            <a href="{{ url('socialauth_begin', kwargs={'backend':''twitter''}) }}" class="btn btn-twitter-inv" role="button">
              <i class="fa fa-twitter"></i>
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a href="{{ url('socialauth_begin', kwargs={'backend':''facebook''}) }}" class="btn btn-facebook-inv" role="button">
              <i class="fa fa-facebook"></i>
              <span>Facebook</span>
            </a>
          </li>
        </div>
      </ul>
      <div class="col-md-9 col-sm-8 right">
        {{ render_form(signupForm) }}
        {{ render_form(zipcodeForm) }}
        {{ render_form(emailForm) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block submit %}
<button id="sign-up-submit" onclick="this.form.onsubmit(); return false;" type="submit" class="btn btn-primary">Sign up</button>
{% endblock %}
