{% extends 'utils/form.html' %}
{% from "accounts/macros.html" import singup_form %}
{% from "utils/form_macros.html" import form as render_form %}

{% block title %}
  {% block formTitle %}Sign up{% endblock %}
{% endblock %}

{% block headerClass %}authentication{% endblock %}
{% block formID %}sign-up-form{% endblock %}

{% block form %}
  <div class="sign-up">
    {{ singup_form(signupForm) }}
    {{ render_form(zipcodeForm) }}
  </div>
{% endblock %}

{% block submit %}<button type="submit" onclick="this.form.onsubmit(); return false; " class="btn btn-primary">Sign up</button>{% endblock %}
