{% load i18n feed %}



<div class="artist">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="image-frame">
            <span class="frame-helper"></span>
            <a href="{{ url('artist:home', kwargs={'username':'artist.profile.user.username'}) }}">
              {% include "utils/_mugshot.html" with profile=artist.profile height=125 width=125 %}
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <h3><a class="text-black" href="{{ url('artist:home', kwargs={'username':'artist.profile.user.username'}) }}">
            {{ artist.name }}
          </a></h3>
          <div class="btn-group">
            <form method="POST" action="{{ url('follow') }}">
              {% csrf_token %}
              <input type="hidden" name="target" value="{{ artist.profile.user.id }}">
              <button class="btn btn-sm btn-primary {% if request.user.is_authenticated() %}{% is_following request.user artist.profile.user %}{% endif %}" onclick="this.form.onsubmit(); return false; " type="submit">
                <span class="follow">Follow</span>
                <span class="following">Following</span>
                <span class="unfollow">Unfollow</span>
              </button>
            </form>
          </div>
          <div class="btn-group">
            <a href="{{ url('request_write', kwargs={'username':'artist.profile.user.username'}) }}" class="btn btn-sm btn-default">{% trans "Request" %}</a>
          </div>
          <p>
            {% for genre in artist.profile.genre.all %}
              {% if forloop.first %}Genres:{% else %},{% endif %}
              <span> {{ genre }}</span>
            {% endfor %}
          </p>
          {% with biography=artist.biography|safe|urlize|linebreaksbr %}
            <p>
              {{ biography|truncatewords_html:75 }}
              {% ifnotequal biography|truncatewords_html:75|length biography|truncatewords_html:76|length %}
                <a href="{{ url('artist:about', kwargs={'username':'artist.profile.user.username'}) }}#biography">Continue reading </a>
                {% endifnotequal %}
            </p>
          {% endwith %}
        </div>
        <div class="col-sm-3">
          {% include "profile/_contact.html" with contact_info=artist.profile.contact_info %}
        </div>
      </div>
    </div>
  </div>
</div>
