{% load i18n feed %}
{% load static from staticfiles %}

<div class="fan">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="image-frame">
            <span class="frame-helper"></span>
            <a href="{% url 'fan:home' fan.profile.user.username %}">
              {% include "utils/_mugshot.html" with profile=fan.profile height=125 width=125  %}
            </a>
          </div>
        </div>
        <div class="col-sm-9">
          <h3><a class="text-black" href="{% url 'fan:home' fan.profile.user.username %}">{{ fan }}</a></h3>
          <div class="btn-group">
            <form method="POST" action="{% url 'follow' %}">
              {% csrf_token %}
              <input type="hidden" name="target" value="{{ fan.profile.user.id }}">
              <button class="btn btn-sm btn-primary {% if user.is_authenticated %}{% is_following request.user fan.profile.user %}{% endif %}" type="submit">
                <span class="follow">Follow</span>
                <span class="following">Following</span>
                <span class="unfollow">Unfollow</span>
              </button>
            </form>
          </div>
          <p>
            {% for genre in fan.profile.genre.all %}
              {% if forloop.first %}Genres:{% else %},{% endif %}
              <span> {{ genre }}</span>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
