{% load i18n feed %}
{% load static from staticfiles %}

<div class="venue">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="image-frame">
            <span class="frame-helper"></span>
            <a href="{% url 'venue:home' venue.profile.user.username %}">
              {% include "utils/_mugshot.html" with profile=venue.profile height=125 width=125  %}
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <h3><a class="text-black" href="{% url 'venue:home' venue.profile.user.username %}">{{ venue.name }}</a></h3>
          <div class="btn-group">
            <form method="POST" action="{% url 'follow' %}">
              {% csrf_token %}
              <input type="hidden" name="target" value="{{ venue.profile.user.id }}">
              <button class="btn btn-sm btn-primary {% if user.is_authenticated %}{% is_following request.user venue.profile.user %}{% endif %}" type="submit">
                <span class="follow">Follow</span>
                <span class="following">Following</span>
                <span class="unfollow">Unfollow</span>
              </button>
            </form>
          </div>
          <div class="btn-group">
            <a href="{% url 'request_write' venue.profile.user.username %}" class="btn btn-sm btn-default">{% trans "Request" %}</a>
          </div>
          {% if venue.biography %}<p>{{ venue.biography }}</p>{% endif %}
        </div>
        <div class="col-sm-3">
          {% include "profile/_contact.html" with contact_info=venue.profile.contact_info %}
        </div>
      </div>
    </div>
  </div>
</div>
