{% extends 'base.html' %}
{% load i18n %}


{% block title %}
  Search: {{ date|date:"F d, Y" }}
{% endblock %}

{% block header %}
  <h2>{% block ContentType %}Users{% endblock %} available on: {{ date|date:"F d, Y" }}</h2>
<form class="navbar-form availability-form" action="{% firstof request.path '/' %}" method="get" role="filter">
  <div class="form-group">
    <label for="date">Date</label>
    <input class="dateinput form-control" id="date" name="date" type="text" />
  </div>
  <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
</form>
{% endblock %}

{% block content %}

{% endblock %}


{% block script %}
  {{ block.super }}
  <script type="text/javascript">
    $(function () {
        $('#date').datetimepicker({pickTime: false});
    });
  </script>
{% endblock %}
