{% from "profile/macros.html" import contact, mugshot %}


{% macro card(request, profile, profile_type, home, name, biography) -%}
  <div class="{{ profile_type }}">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="age-frame">
              <span class="frame-helper"></span>
              <a href="{{ home }}">
                {{ mugshot(profile=profile, width=125, height=125) }}
              </a>
            </div>
          </div>
          <div class="col-sm-6">
            <h3><a class="text-black" href="{{ home }}">
              {{ name }}
            </a></h3>
            <div class="btn-group">
              <form method="POST" action="{{ url('follow') }}">
                {% block csrf_token %}
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {% endblock %}
                <input type="hidden" name="target" value="{{ profile.user.id }}">
                <button class="btn btn-sm btn-primary {% if request.user.is_authenticated() %}{{ is_following(request.user, profile.user) }}{% endif %}" onclick="this.form.onsubmit(); return false; " type="submit">
                  <span class="follow">Follow</span>
                  <span class="following">Following</span>
                  <span class="unfollow">Unfollow</span>
                </button>
              </form>
            </div>
            <div class="btn-group">
              <a href="{{ url('request_write', kwargs={'username': profile.user.username}) }}" class="btn btn-sm btn-default">Request</a>
            </div>
            <p>
              {% for genre in profile.genre.all() %}
                {% if loop.first %}Genres:{% else %},{% endif %}
                <span> {{ genre }}</span>
              {% endfor %}
            </p>
            {% if biography %}
              {% with biography=biography|urlize|linebreaks|replace("&lt;br /&gt;", "<br/>")|safe %}
                <p>
                  {{ biography|truncate(455) }}
                  {% if biography|truncate(455)|length != biography|truncate(456)|length %}
                    <a href="{{ url('artist:about', kwargs={'username':'artist.profile.user.username'}) }}#biography">Continue reading </a>
                    {% endif %}
                </p>
              {% endwith %}
            {% endif %}
          </div>
          <div class="col-sm-3">
            {{ contact(contact_info=profile.contact_info) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}

{% macro artist_card(request,artist) -%}
  {{ card(
      request = request,
      profile = artist.profile,
      profile_type = "artist",
      home = url('artist:home', kwargs={'username':artist.profile.user.username}),
      name = artist.name,
      biography = artist.biography,
    ) }}
{%- endmacro %}

{% macro fan_card(request, fan) -%}
  {{ card(
      request = request,
      profile = fan.profile,
      profile_type = "fan",
      home = url('fan:home', kwargs={'username':fan.profile.user.username}),
      name = fan,
      biography = "",
    ) }}
{%- endmacro %}

{% macro venue_card(request, venue) -%}
{{ card(
    request = request,
    profile = venue.profile,
    profile_type = "venue",
    home = url('venue:home', kwargs={'username':venue.profile.user.username}),
    name = venue.name,
    biography = venue.biography,
  ) }}
{%- endmacro %}

{% macro post_card(request, post) -%}
  {#{% load inbox %}#}
  {% if post %}
    <div class="post message">
      <div class="panel">
        <div class="panel-body">
          <div class="message-row reciver">
            <div class="message-image-col">
              <div class="message-image">
                <a href="{{ post.user.profile.get_absolute_url() }}">
                  {{ mugshot(profile=post.user.profile, width=50, height=50) }}
                </a>
              </div>
            </div>
            <div class="message-content-col">
              <div class="message-content">
                {% if request.user == post.user or request.user == post.target %}
                  <form method="POST" action="{{ url('remove_post') }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="post" value="{{ post.id }}">
                    <div class="dropdown pull-right">
                      <a class="btn btn-default dropdown-toggle" href="javascript:void(0)" type="button" data-toggle="dropdown" aria-expanded="true">
                        <span class="fa fa-ellipsis-v text-muted"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><input class="btn btn-link" type="submit" onclick="this.form.onsubmit(); return false; " value="Remove Post"></li>
                      </ul>
                    </div>
                  </form>
                {% endif %}
              </div>
              <div class="body"><p>{{ post.message|urlize|linebreaks|safe }}</p></div>
              {% if post.photo %}
                <img src="{{ post.photo.image.url }}" alt="{{ post.title }}" width="200" height="200"/>
              {% endif %}
              <div class="footer text-muted">
                <a class="text-muted" href="{{ post.user.profile.get_absolute_url() }}">{{ post.user.profile }}</a>
                <span> | </span>
                <span class="date">{{ post.created_at|timesince }} ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="panel">
      <div class="panel-body">
        <p class="text-muted" >Removed</p>
      </div>
    </div>
  {% endif %}

{%- endmacro %}
