{% from "profile/macros.html" import contact, mugshot %}


{% macro card(request, profile, profile_type, home, name, biography) -%}
  <div class="{{ profile_type }}">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="age-frame">
              <span class="frame-helper"></span>
              <a href="{{ home }}">
                {{ mugshot(profile=profile, width=125, height=125) }}
              </a>
            </div>
          </div>
          <div class="col-sm-6">
            <h3><a class="text-black" href="{{ home }}">
              {{ name }}
            </a></h3>
            <div class="btn-group">
              <form method="POST" action="{{ url('follow') }}">
                {% block csrf_token %}
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                {% endblock %}
                <input type="hidden" name="target" value="{{ profile.user.id }}">
                <button class="btn btn-sm btn-primary {% if request.user.is_authenticated() %}{{ is_following(request.user, profile.user) }}{% endif %}" onclick="this.form.onsubmit(); return false; " type="submit">
                  <span class="follow">Follow</span>
                  <span class="following">Following</span>
                  <span class="unfollow">Unfollow</span>
                </button>
              </form>
            </div>
            <div class="btn-group">
              <a href="{{ url('request_write', kwargs={'username': profile.user.username}) }}" class="btn btn-sm btn-default">Request</a>
            </div>
            <p>
              {% for genre in profile.genre.all() %}
                {% if loop.first %}Genres:{% else %},{% endif %}
                <span> {{ genre }}</span>
              {% endfor %}
            </p>
            {% if biography %}
              {% with biography=biography|safe|urlize|linebreaksbr %}
                <p>
                  {{ biography|truncate(455) }}
                  {% if biography|truncate(455)|length != biography|truncate(456)|length %}
                    <a href="{{ url('artist:about', kwargs={'username':'artist.profile.user.username'}) }}#biography">Continue reading </a>
                    {% endif %}
                </p>
              {% endwith %}
            {% endif %}
          </div>
          <div class="col-sm-3">
            {{ contact(contact_info=profile.contact_info) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}








{% macro artist_card(request,artist) -%}
  {{ card(
      request = request,
      profile = artist.profile,
      profile_type = "artist",
      home = url('artist:home', kwargs={'username':artist.profile.user.username}),
      name = artist.name,
      biography = artist.biography,
    ) }}
{%- endmacro %}

{% macro fan_card(request, fan) -%}
  {{ card(
      request = request,
      profile = fan.profile,
      profile_type = "fan",
      home = url('fan:home', kwargs={'username':fan.profile.user.username}),
      name = fan,
      biography = "",
    ) }}
{%- endmacro %}

{% macro venue_card(request, venue) -%}
{{ card(
    request = request,
    profile = venue.profile,
    profile_type = "venue",
    home = url('venue:home', kwargs={'username':venue.profile.user.username}),
    name = venue.name,
    biography = venue.biography,
  ) }}
{%- endmacro %}
