{% extends 'base.html' %}
{% from "search/cards.html" import artist_card, venue_card, fan_card %}
{% from "utils/macros.html" import paginate %}

{% block title %}
  Search: {{ q }}
{% endblock %}

{% block header %}
  <h2>Search results for: {{ q }}</h2>
{% endblock %}

{% block content %}
  {% for profile in profiles %}
    {% if profile.profile_type == 'm' %}
      {{ artist_card(request, profile.artist_profile) }}
    {% elif profile.profile_type == 'v' %}
      {{ venue_card(request, profile.venueProfile) }}
    {% else %}
      {{ fan_card(request, profile.fanProfile) }}
    {% endif %}
  {% endfor %}
  {% if page %}
    <div class="row no-gutter">
      <div class="col-xs-6 left">
        {% if page.has_previous %}
          <a class="btn btn-default" href="{{ append_to_get(page.previous_page_number) }}"><span class="fa fa-chevron-left"></span> previous</a>
        {% endif %}
      </div>
      <div class="col-xs-6 right">
        {% if page.has_next %}
          <a class="btn btn-default pull-right"  href="{{ append_to_get(page.next_page_number) }}">next <span class="fa fa-chevron-right"></span></a>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {#{{ paginate(page=profiles) }}#}
{% endblock %}
