{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  Search: {{ q }}
{% endblock %}

{% block header %}
  <h2>Search results for: {{ q }}</h2>
{% endblock %}

{% block content %}
  {% for profile in profiles %}
    {% if profile.profile_type == 'm' %}
      {% include "search/_artist.html" with artist=profile.artist_profile %}
    {% elif profile.profile_type == 'v' %}
      {% include "search/_venue.html" with venue=profile.venueProfile %}
    {% else %}
      {% include "search/_fan.html" with fan=profile.fanProfile %}
    {% endif %}
  {% endfor %}
  {% include "utils/_pagination.html" with page=profiles %}
{% endblock %}
