{% extends 'venue/detail.html' %}
{% from "profile/macros.html" import contact %}
{% from "venue/macros.html" import render_equipment %}


{% block aboutClass %}active{% endblock %}
{% block dropdownTitle %}About{% endblock %}

{% block panelBody %}
  <div class='about'>
    <div class="row profile-page-header">
      <div class="col-xs-6">
        {% for genre in profile.genre.all() %}
          {% if loop.first %}Genres:{% else %},{% endif %}
          <span> {{ genre }}</span>
        {% endfor %}
      </div>
      <div class="col-xs-6 social-links text-right">
        <a href="{{ url('artist:socialLinksForm') }}" class="{{ isEditable }}">Edit <span class="hidden-xs">Social Media Links</span></a>
        {% if profile.social_links %}
          {% with social=profile.social_links %}
            {% if social.facebook %}<a href="{{ social.facebook }}" target="_blank" class="btn btn-facebook"><span class="fa fa-facebook"></span></a>{% endif %}
            {% if social.twitter %}<a href="{{ social.twitter }}" target="_blank" class="btn btn-twitter"><span class="fa fa-twitter"></span></a>{% endif %}
            {% if social.google_plus %}<a href="{{ social.google_plus }}" target="_blank" class="btn btn-google"><span class="fa fa-google-plus"></span></a>{% endif %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
    <div class="row no-gutter">
      <div class="col-sm-4 left">
        <div class="hours">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Hours</h3>
            </div>
            <div class="panel-body">
              {% for day in venueProfile.hours.all() %}
                <div class="row no-gutter {% if today == loop.counter0 %}text-bold{% endif %}">
                  <div class="col-xs-4 left">{{ day }}</div>
                  {% if day.start and day.end %}
                    <div class="col-xs-8 right">{{ day.start|time('P') }} - {{ day.end|time('P') }}</div>
                  {% else %}
                    <div class="col-xs-8 right">Closed</div>
                  {% endif %}
                </div>
              {% endfor %}
              <a class="{{ isEditable }} editHours" href="{{ url('venue:hoursForm') }}">Edit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 center">
        <div class="contactInfo">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row no-gutter">
                <div class="col-sm-6 left">
                  <h3 class="pull-left">Contact</h3>
                </div>
                <div class="col-sm-6 right">
                  <a href="{{ url('threads:compose', kwargs={'recipient':username}) }}" class="pull-right btn btn-default">Contact</a>
                </div>
              </div>
            </div>
            <div class="panel-body">
              {{ contact(contact_info=profile.contact_info) }}
              <a class="{{ isEditable }} editContact" href="{{ url('venue:contactForm') }}">Edit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 right">
        <div class='seating'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Seating</h3>
            </div>
            <div class="panel-body">
              {% if venueProfile.seating %}
                {% with image=venueProfile.seating.seating_chart %}
                  <a class="thumb" rel='gallery-image[ilist]' href="{{ image.image.url }}">
                    <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ image.image.url }}" width="120" height="120">
                  </a>
                {% endwith %}
                <p>Capacity: {{venueProfile.seating.capacity}}</p>
              {% endif %}
              <a class="{{ isEditable }} editSeating" href="{{ url('venue:seatingForm') }}">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='equipment'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Equipment</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4">
              <h4>Sound</h4>
              {{ render_equipment(sound) }}
            </div>
            <div class="col-xs-4">
              <h4>Effects</h4>
              {{ render_equipment(effects) }}

            </div>
            <div class="col-xs-4">
              <h4>Accessories</h4>
              {{ render_equipment(accessories) }}
            </div>
          </div>
          <a class="{{ isEditable }} editEquipment" href="{{ url('venue:equipmentForm', kwargs={'category':'sound'}) }}">Edit</a>
        </div>
      </div>
    </div>
    <div class='policies'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Policies</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            {% for policy in venueProfile.policies.all() %}
              <tr>
                <td>{{ policy.title }}</td>
                <td>{{ policy.description|linebreaks|replace("&lt;br /&gt;", "<br/>")|safe }}</td>
              <tr>
            {% endfor %}
          </table>
          <a class="{{ isEditable }} editPolicies" href="{{ url('venue:policiesForm') }}">Edit</a>
        </div>
      </div>
    </div>
    <div class='biography' id="biography">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Biography</h3>
        </div>
        <div class="panel-body">
          <p>{{ venueProfile.biography|urlize|linebreaks|replace("&lt;br /&gt;", "<br/>")|safe }}</p>
          <a class="{{ isEditable }} editBiography" href="{{ url('venue:biographyForm') }}">Edit</a>
        </div>
      </div>
    <div class='staff'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Staff</h3>
        </div>
        <div class="panel-body">
          {% for person in venueProfile.staff.all() %}
            <h5>{{person.contact.name}}</h5>
            <p>{{person.job_title}}</p>
            <p>{{person.biography|linebreaks|replace("&lt;br /&gt;", "<br/>")|safe}}</p>
            <p>{{person.contact.email}}</p>
            <p>{{person.contact.phone}}</p>
          {% endfor %}
          <a class="{{ isEditable }} editStaff" href="{{ url('venue:staffForm') }}">Edit</a>
        </div>
      </div>
    </div>
    <div class="modal" id=""  tabindex="-1" role="dialog" aria-hidden="true"></div>
  </div>
{% endblock %}
