{% extends 'profile/detail.html' %}



{% block title %}{{ venueProfile.name}}{% endblock %}
{% block content_title %}<h2>{{ venueProfile.name}}</h2>{% endblock %}

{% block name %}{{ venueProfile.name}} {% endblock %}

{% block tabs %}
  {% block dropdownTabs %}
    <li class="left {% block aboutClass %}{% endblock %}">
      <a href="{{ url('venue:about', kwargs={'username':username}) }}">About</a>
    </li>
    <li class="{% block newsClass %}{% endblock %}">
      <a href="{{ url('venue:news', kwargs={'username':username}) }}">News</a>
    </li>
    <li class="{% block showsClass %}{% endblock %}">
      <a href="{{ url('venue:shows', kwargs={'username':username}) }}">Shows</a>
    </li>
    <li class="{% block photosClass %}{% endblock %}">
      <a href="{{ url('venue:photos', kwargs={'username':username}) }}">Photos</a>
    </li>
  {% endblock %}
{% endblock %}
