{% extends 'venue/forms_about_modal.html' %}




{% block title %}Edit Staff{% endblock %}

{% block staffClass %}active{% endblock %}

{% block formID %}staffForm{% endblock %}

{% block formTitle %}Edit Staff{% endblock %}

{% block form %}
    <span>Edit: </span>
  {% for s in staff %}
    <a class="{{isEditable}} editStaff" href="{{ url('venue:staffForm', kwargs={'staff_id':'s.id'}) }}">
      {{s.contact.name}},
    </a>
  {% endfor %}
  <span>or </span>
    <a class="{{isEditable}} editStaff text-success" href="{{ url('venue:staffForm') }}">
      Add New
    </a>
  {{ render_form(contactForm) }}
  {{ render_form(staffForm) }}

{% endblock %}
