{% extends 'venue/forms_about_modal.html' %}



{% block title %}{% block formTitle %}Edit Hours{% endblock %}{% endblock %}
{% block formID %}hoursForm{% endblock %}
{% block hoursClass %}active{% endblock %}

{% block form %}
  {{ form.management_form }}
  <div class="row no-gutter">
    <div class="col-sm-2 left"></div>
    <div class="col-sm-5 center">
      <label class="control-label" for='equipmentForm'>Open</label>
    </div>
    <div class="col-sm-5 right">
      <label class="control-label" for='equipmentForm'>Close</label>
    </div>
  </div>
  {% for day, form in forms %}
    {% with day=day %}
      {{ render_form(form) }}
    {% endwith %}
  {% endfor %}
{% endblock %}
