{% extends 'venue/forms_about_modal.html' %}
{% load crispy_forms_tags i18n progress_bar %}


{% block title %}{% trans "Edit Seating" %}{% endblock %}
{% block seatingClass %}active{% endblock %}

{% block formID %}seatingForm{% endblock %}
{% block formTitle %}Edit Seating{% endblock %}
{% block enctype %}multipart/form-data{% endblock %}
{% block form %}
    {{ render_form(seatingChartForm) }}
    {{ render_form(seatingForm) }}
{% endblock %}
{% block extraSubmit %}{% progress_bar %}{% endblock %}
