{% extends 'venue/forms_about_modal.html' %}




{% block title %}{% block formTitle %}Edit Policies{% endblock %}{% endblock %}
{% block formID %}policiesForm{% endblock %}
{% block policiesClass %}active{% endblock %}

{% block form %}
  {{ form.management_form }}
  {% for f in form %}
    {{ render_form(f) }}
  {% endfor %}
{% endblock %}

{% block extraSubmit %}
  <button type="submit" onclick="this.form.onsubmit(); return false; " class="addMore btn btn-primary">Save & Add More</button>
{% endblock %}
