{% extends 'venue/detail.html' %}
{% from "profile/pages.html" import photos %}



{% block photosClass %}active{% endblock %}
{% block dropdownTitle %}Photos{% endblock %}

{% block panelBody %}
  <div class="row profile-page-header">
    <div class="col-xs-6">
      <a class="{{ isEditable }} btn btn-success" href="{{ url('photos:upload') }}">
        <span class="fa fa-plus"></span> Add Photo
      </a>
    </div>
    <div class="col-xs-6 social-links text-right">
      <a href="{{ url('venue:photoLinksForm') }}" class="{{ isEditable }}">Edit<span class="hidden-xs"> Links</span></a>
      {% if profile.social_links %}
        {% with social=profile.social_links %}
          {% if social.instagram %}<a href="{{ social.instagram }}" target="_blank" class="btn btn-instagram"><span class="fa fa-instagram"></span></a>{% endif %}
          {% if social.tumblr %}<a href="{{ social.tumblr }}" target="_blank" class="btn btn-tumblr"><span class="fa fa-tumblr"></span></a>{% endif %}
        {% endwith %}
      {% endif %}
    </div>
  </div>

  <div class="{% if not images %}{{ isEditable }}{% endif %}">
    {{ photos(request=request, images=images, isEditable=isEditable) }}
  </div>
{% endblock %}
