{% extends 'feeds/venues/venues.html' %}
{% load crispy_forms_tags %}

{% block currentScope %}available on{% endblock %}
{% block withinClass %}{% endblock %}
{% block followingClass %}{% endblock %}
{% block availableClass %}active{% endblock %}
{% block distance %}<span class="text-white">near</span>{% endblock %}

{% block zipcodeForm %}
  <span class="dropdown">
    <a class="btn btn-transparent-dropdown dropdown-toggle" href="#" type="button" data-toggle="dropdown" aria-expanded="true">
      <span class="dotted-bottom text-white">{% block nearActive %}near{% endblock %}</span>
    </a>
    <ul class="dropdown-menu">
      <li class="{% block near %}active{% endblock %}">
        <a href="{% url 'available_venues' order year month day zipcode %}?{{ request.GET.urlencode }}">near</a>
      </li>
      <li class="{% block between %}{% endblock %}">
        <a href="{% url 'available_venues_between' order year month day %}?{{ request.GET.urlencode }}">between my shows</a>
      </li>
    </ul>
  </span>
  {% block betweenForm %}
    <a href="#" role="button" data-toggle="popover"
       id="zipcode-select" class="toggle btn btn-transparent-dropdown text-white" title="Zipcode">
      <span class="dotted-bottom text-white">{% if zipcode %}{{ zipcode }}{% else %}location{% endif %}</span>
    </a>
    <div class="zipcode-content hide">
      <form class="nav-form" role="filter" method="POST" action="{% url 'zipcode' %}">
        <input type="hidden" name="path" value="{% firstof request.path '/' %}">
        {% crispy zipcodeForm %}
      </form>
    </div>
  {% endblock %}
{% endblock %}
