{% extends 'feeds/venues/venues.html' %}
{% load crispy_forms_tags %}

{% block currentScope %}available on{% endblock %}
{% block withinClass %}{% endblock %}
{% block followingClass %}{% endblock %}
{% block availableClass %}active{% endblock %}
{% block distance %}<span class="text-white">near</span>{% endblock %}

{% block locationForm %}
  <span class="dropdown">
    <a class="btn btn-transparent-dropdown dropdown-toggle" href="javascript:void(0)" type="button" data-toggle="dropdown" aria-expanded="true">
      <span class="dotted-bottom text-white">{% block nearActive %}near{% endblock %}</span>
    </a>
    <ul class="dropdown-menu">
      <li class="{% block near %}active{% endblock %}">
        <a href="{% url 'available_venues' order year month day zipcode %}?{{ request.GET.urlencode }}">near</a>
      </li>
      <li class="{% block between %}{% endblock %}">
        <a href="{% url 'available_venues_between' order year month day %}?{{ request.GET.urlencode }}">between my shows</a>
      </li>
    </ul>
  </span>
  {% block betweenForm %}
    <span class="dropdown">
      <a class="btn btn-transparent-dropdown dropdown-toggle"
         data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
         <span class="dotted-bottom text-white">{% if zipcode %}{{ zipcode }}{% else %}location{% endif %}</span>
      </a>
      <ul class="dropdown-menu dropdown-form" role="menu">
        <li>
          <div class="row">
            <label>Zipcode:</label>
            <form class="nav-form" role="filter" method="POST" action="{% url 'zipcode' %}">
              <input type="hidden" name="path" value="{% firstof request.path '/' %}">
              {% crispy locationForm %}
            </form>
          </div>
        </li>
      </ul>
    </span>
  {% endblock %}
{% endblock %}
