<script type="text/javascript">
  $(document).ready(function() {
    $("#div_{{ id }}_select").hide();
  });
  $('#{{ id }}').yourlabsTextWidget({
  }).input.bind('selectChoice', function(e, choice, autocomplete) {
    value = $("#div_{{ id }} .hilight").attr("data-value");
    $("#{{ id }}_select").append("<option value='"+value+"' selected='selected'>"+value+"</option>");

    $("#div_{{ id }} .controls").prepend(
      "<div id='selected-choice'><button class='btn btn-link remove' data-value="+value+" type='button'><span class='fa fa-times-circle text-muted'></span></button>"
      +$(choice).html()+"</div>"
    );
  });
  $("#div_{{ id }}").on("click", ".remove", function() {
    value = $(this).attr("data-value");
    $("#{{ id }}_select option[value="+value+"]").remove()
    $(this).parent().remove()
  });
</script>
