<script type="text/javascript">
  $(document).ready(function() {
    $("#div_{{ id }}").hide();
    /* get initial data */
    $("#div_{{ id }} .{{ choice_class }} .remove").replaceWith(
      "<button class='btn btn-link remove' type='button'><span class='fa fa-times-circle text-muted'></span></button>"
    )
    $("#div_{{ id }}_text .controls").prepend(
      $("#div_{{ id }} #{{ id }}-deck").html()
    );
  });

  $('#{{ id }}_text').yourlabsTextWidget({
  }).input.bind('selectChoice', function(e, choice, autocomplete) {
    value = $("#div_{{ id }}_text .hilight").attr("data-value");
    /* if no selection then add on else remove old selection then add new one */
    $("#{{ id }}").append("<option value='"+value+"' selected='selected'>"+value+"</option>");
    /* display to user whom they selected */
    $("#div_{{ id }}_text .controls").prepend(
      "<div class='{{ choice_class }}' data-value="+value+">"+
      "<button class='btn btn-link remove' type='button'><span class='fa fa-times-circle text-muted'></span></button>"
      +$(choice).html()+
      "</div>"
    );
  });
  /* remove selection display and value */
  $("#div_{{ id }}_text").on("click", ".remove", function() {
    value = $(this).parent().attr("data-value");
    $("#{{ id }} option[value="+value+"]").remove();
    name = $(this).parent().find(".musician-name").text();
    choices = $("#{{ id }}_text").val();
    choices = choices.replace(name, "");
    $("#{{ id }}_text").val(choices);
    $(this).parent().remove()
  });
</script>
