
<script type="text/javascript">
  $(document).ready(function() {
    $("#{{ id }}_select-autocomplete").hide();
  });
  $("#div_{{ id }}").on("click", "{{ choice_class }}", function() {
    value = $(this).attr("data-value");
    if ($('#{{ id }}_select option:selected').length==0) {
      $("#{{ id }}_select").append("<option value='"+value+"' selected='selected'>"+value+"</option>");
    } else {
      $("#{{ id }}_select option").replaceWith("<option value='"+value+"' selected='selected'>"+value+"</option>");
    }
  });
</script>
