

{% macro paginate(request, page) -%}
  {% if page %}
    <div class="row no-gutter">
      <div class="col-xs-6 left">
        {% if page.has_previous() %}
          <a class="btn btn-default" href="{{ append_to_get(request.get_full_path(), {'page':page.previous_page_number()}) }}">
            <span class="fa fa-chevron-left"></span> previous</a>
        {% endif %}
      </div>
      <div class="col-xs-6 right">
        {% if page.has_next() %}
          <a class="btn btn-default pull-right"  href="{{ append_to_get(request.get_full_path(), {'page':page.next_page_number()}) }}">
            next <span class="fa fa-chevron-right"></span></a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{%- endmacro %}

{% macro day_calendar(start, end) -%}
  <div class="date-time">
    <div class="top">
      {{ start|date("l") }}
    </div>
    <div class="middle">
      {% if start.month == end.month %}
        <span class="month">{{ start|date("F") }}</span>
      {% else %}
        <span class="months">{{ start|date("F") }} - {{ end|date("F") }}</span>
      {% endif %}
      {% if start.year != now.year %}
        <span class="year">{{ start|date("Y") }}</span>
      {% endif %}
      <p class="day">{{ start|date("j") }}</p>
    </div>
    <div class="bottom">
      {% if start.time == end.time %}
        <p class="time">{{ start|time("fA") }}</p>
      {% else %}
        <p class="time">{{ start|time("f") }} - {{ end|time("fA") }}</p>
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro image_select(request, images, id, label) -%}
  <div id="div_id_{{ id }}" class="form-group">
    <label for="id_{{ id }}" class="control-label ">{{ label }}</label>
    <div class="controls ">
      <select class="image-picker imageselectwidget form-control" id="id_{{ id }}" name="{{ id }}">
        <option value="" selected="selected">---------</option>
        {% for image in images %}
            <option value="{{ image.id }}" data-img-src="{{ MEDIA_URL }}{{ image.image }}">{{ image.title }}</option>
        {% endfor %}
      </select>
      {{ paginate(request=request, page=images) }}
    </div>
  </div>
{%- endmacro %}
