

{% macro paginate(page) -%}
  {% if page %}
    <div class="row no-gutter">
      <div class="col-xs-6 left">
        {% if page.has_previous %}
          <a class="btn btn-default" href="{{ append_to_get(page.previous_page_number) }}"><span class="fa fa-chevron-left"></span> previous</a>
        {% endif %}
      </div>
      <div class="col-xs-6 right">
        {% if page.has_next %}
          <a class="btn btn-default pull-right"  href="{{ append_to_get(page.next_page_number) }}">next <span class="fa fa-chevron-right"></span></a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{%- endmacro %}
