{% extends "admin/change_form.html" %}


{% block extrahead %}{{ block.super }}
{{ form.media }}
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../../../">Home</a> &rsaquo;
     <a href="../../../../../">{{ app_label|title|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../../../../">{{ opts.verbose_name_plural|title }}</a>{% else %}{{ opts.verbose_name_plural|title }}{% endif %} &rsaquo;
     {% if has_change_permission %}<a href="../../../">{{ original|truncatewords:"18" }}</a>{% else %}{{ original|truncatewords:"18" }}{% endif %} &rsaquo;
     {% if has_change_permission %}<a href="../../">Object permissions</a>{% else %}Object permissions{% endif %} &rsaquo;
     Manage group: {{ group_obj|truncatewords:"18" }}
</div>
{% endif %}{% endblock %}


{% block content %}
<div id="content-main">
<form action="." method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <fieldset class="module aligned">
        <h2>Object permissions</h2>
        <div class="form-row">
            <label>Object</label>{{ object }}
        </div>
        <div class="form-row">
            <label>Group</label>{{ group_obj }}
        </div>
        {% for field in form %}
            {% include "admin/guardian/model/field.html" %}
        {% endfor %}
    </fieldset>
    <div class="submit-row">
        <input id="submit" type="submit" value="Save"/>
    </div>
</form>
</div>
{% endblock %}
