{% extends 'venue/forms/about_modal.html' %}
{% from "utils/form_macros.html" import non_field_errors, field %}


{% block title %}{% block formTitle %}Edit Hours{% endblock %}{% endblock %}
{% block formID %}hoursForm{% endblock %}
{% block hoursClass %}active{% endblock %}

{% block form %}
  {{ form.management_form }}
  <div class="row no-gutter">
    <div class="col-sm-2 left"></div>
    <div class="col-sm-5 center">
      <label class="control-label" for='equipmentForm'>Open</label>
    </div>
    <div class="col-sm-5 right">
      <label class="control-label" for='equipmentForm'>Close</label>
    </div>
  </div>
  {% for day, form in forms %}
    {{ non_field_errors(form) }}
    <div style='display:none;'>{{ field(form.id) }}</div>
    <div class="row no-gutter">
      <div class="col-sm-2 left">{{ day }}</div>
      <div class="col-sm-5 left">{{ field(form.start, hide_label=True) }}</div>
      <div class="col-sm-5 right">{{ field(form.end, hide_label=True) }}</div>
    </div>
  {% endfor %}
{% endblock %}
