{% load crispy_forms_tags i18n progress_bar %}

<div class="panel panel-default">
  <form  method="post" id="post-form" enctype="multipart/form-data">
    <div class="panel-body">
      {% crispy post_form %}
      <div id="attach-photo-form">
        {% crispy photo_form %}
        {% if images %}
          {% include "utils/_image_select.html" with images=images id="photo" label="Photo" %}
        {% endif %}
      </div>
    </div>
    <div class="panel-footer">
      <div class="row no-gutter" >
        <div class="col-xs-12 center" >
          <button type="button" id="attach-photo" class="btn btn-default"><span class='fa fa-camera'></span> Add Photo</button>
          <div class="pull-right">
            <button type="submit" onclick="this.form.onsubmit(); return false; " class="btn btn-primary">{% trans 'Post' %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
