<div class="row">
  <div class="col-xs-6">
    {% if currentYear %}
      <h3>Upcoming shows</h3>
    {% else %}
      <h3>Shows in {{year}}</h3>
    {% endif %}
  </div>
  <div class="col-xs-6">
    <div class="pull-right">
      {%comment%}<p><a class="btn btn-default"  href="{% url 'month_calendar' slug %}">
          <span class="fa fa-calendar-o"></span> {{name}}'s Calendar</a></p>{%endcomment%}
    </div>
  </div>
</div>
{% if events %}
  {% for event in events %}
    {% include "schedule/_show.html" with show=event.show %}
  {% endfor %}
{% else %}
  <div class="panel panel-default">
    <div class="panel-body">
      <p>No Shows</p>
    </div>
  </div>
{% endif %}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4">
        {% if currentYear  %}
          <a href="{{ request.path }}?year={{year}}">Past Shows</a>
        {% else %}
          <a href="{{ request.path }}?year={{year|add:"-1"}}">Shows in {{year|add:"-1"}}</a>
        {% endif %}
      </div>
      {% if not currentYear %}
        <div class="col-xs-4 text-center">
          <a  href="{{ request.path }}">Upcoming shows</a>
        </div>
        <div class="col-xs-4">
      {% else %}
        <div class="col-xs-offset-4 col-xs-4">
      {% endif %}
        <div class="pull-right">
          <a href="{{ request.path }}?year={{year|add:"1"}}">Shows in {{year|add:"1"}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
