{% extends 'utils/form.html' %}
{% load crispy_forms_tags i18n progress_bar %}





{% block title %}{% block formTitle %}{% trans "Edit Profile" %}{% endblock %}{% endblock %}

{% block formID %}edit-profile-form{% endblock %}
{% block enctype %}multipart/form-data{% endblock %}
{% block form %}
  {% if images %}
    {% include "utils/_image_select.html" with images=images id="mugshot" label="Mugshot" %}
  {% endif %}
  <script>
    {# variables for image select #}
    var selectorId = "#id_mugshot";
    var selectDiv  = "#div_id_mugshot";
    var uploadDiv  = "#div_id_image";
    {% if images %}
      var images = true;
    {% else %}
      var images = false;
    {% endif %}
  </script>
  {{ render_form(mugshotFrom) }}
  {{ render_form(typedForm) }}
  {{ render_form(usernameForm) }}
  {{ render_form(profileForm) }}
{% endblock %}
{% block extraSubmit %}{% progress_bar %}{% endblock %}
