{% extends 'utils/form.html' %}






{% block title %}{% block formTitle %}Edit Profile{% endblock %}{% endblock %}

{% block formID %}edit-profile-form{% endblock %}
{% block enctype %}multipart/form-data{% endblock %}
{% block form %}
  {% if images %}
    {% from "utils/macros.html" import image_select %} {{ image_select(images=images, id="mugshot", label="Mugshot") }}
  {% endif %}
  <script>
    {# variables for image select #}
    var selectorId = "#id_mugshot";
    var selectDiv  = "#div_id_mugshot";
    var uploadDiv  = "#div_id_image";
    {% if images %}
      var images = true;
    {% else %}
      var images = false;
    {% endif %}
  </script>
  {{ render_form(mugshotFrom) }}
  {{ render_form(typedForm) }}
  {{ render_form(usernameForm) }}
  {{ render_form(profileForm) }}
{% endblock %}
{% block extraSubmit %}{{ progress_bar() }}{% endblock %}
