{% load static from staticfiles %}
{% load thumbnail %}

<div class="photos">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        {% for image in images %}
          {% if forloop.counter0|divisibleby:6 %}
            </div>
            <div class="row">
          {% endif %}
          <div class="col-sm-2">
            <div class="photo">
              {% thumbnail image.image "120x120" crop="center" as im %}
                <div class="image-frame">
                  <span class="frame-helper"></span>
                  <a class="thumb" rel='gallery-image[ilist]' href="{{ image.get_absolute_url }}">
                    <img class="img-responsive" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                  </a>
                </div>
              {% endthumbnail %}
            </div>
          </div>
        {% empty %}
          <p>
            <span>No photos.</span>
            {% if user.is_authenticated %}
              <a class="{{isEditable}}" href="{% url 'photos:upload' %}">Add a photo</a>
              <span> to get started.</span>
            {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include "utils/_pagination.html" with page=images %}
