/* Social Media Buttons */
.social-media-btn(@color;) {
  .button-variant(@white, @color, darken(@color, 2%));
}

.btn-twitter {
  .social-media-btn(@twitter);
}
.btn-twitter-inv {
  .button-variant(@twitter; @white; @twitter);
  &:hover,
  &:focus,
  .open .dropdown-toggle& {
    color: @twitter;
    border-color: @twitter;
  }
}
.btn-facebook {
  .social-media-btn(@facebook);
}
.btn-facebook-inv {
  .button-variant(@facebook; @white; @facebook);
  &:hover,
  &:focus,
  .open .dropdown-toggle& {
    color: @facebook;
    border-color: @facebook;
  }
}
.btn-google {
  .social-media-btn(@google);
}
.btn-google-inv {
  .button-variant(@google; @white; @google);
  &:hover,
  &:focus,
  .open .dropdown-toggle& {
    color: @google;
    border-color: @google;
  }
}
.btn-instagram {
  .social-media-btn(@instagram);
}
.btn-tumblr {
  .social-media-btn(@tumblr);
}
.btn-youtube {
  .social-media-btn(@youtube);
}
.btn-bandcamp {
  .social-media-btn(@bandcamp);
}
.btn-itunes {
  .social-media-btn(@itunes);
}
.btn-spotify {
  .social-media-btn(@spotify);
}
.btn-soundcloud {
  .social-media-btn(@soundcloud);
}
.btn-vimeo {
  .social-media-btn(@vimeo);
}

.btn-danger-inv {
  .button-variant(@dark-red; @white; @dark-red);
  &:hover,
  &:focus,
  .open .dropdown-toggle& {
    color: @red;
    border-color: @red;
  }
}
.btn-transparent {
  .button-variant(@white; transparent; @white);
  &:hover,
  &:focus,
  .open .dropdown-toggle& {
    color: @white;
    background-color: rgba(0,0,0,0.2);;
    border-color: @silver-light;
    box-shadow: none
  }
}

.btn-header {
  .button-variant(@white; transparent; transparent);
  border:none;
  font-size:24px;
  &:hover,
  &:focus,
  .open .dropdown-toggle& {
    color: @white;
    background-color: rgba(0,0,0,0.2);;
    box-shadow: none
  }
}

.btn-transparent-dropdown {
  .button-variant(@white; transparent; transparent);
  border:none;
  &:hover,
  &:focus,
  .open .dropdown-toggle& {
    color: @white;
    background-color: rgba(0,0,0,0.1);;
    box-shadow: none
  }
}

/* Tweeks to bootstraps buttons */
button::-moz-focus-inner {
  border:0;
}

.btn-default-nav {
  .button-variant(@black; @btn-default-bg; @white);
}
.btn {
  &:active,
  &.active {
    box-shadow: none;
  }
}
/* remove double border */
.btn-border-right-none {
  border-right-width:0px;
}
