{% extends 'feeds/base.html' %}


{% block bgColor %}dark-blue{% endblock %}
{% block requestsClass %}active{% endblock %}
{% block forForm %}
  <span class="text-white">Looking for</span>
  <span class="dropdown">
    <a class="btn btn-transparent-dropdown dropdown-toggle" href="#" type="button" data-toggle="dropdown" aria-expanded="true">
      <span class="dotted-bottom text-white" >{{ for }}s</span>
    </a>
    <ul class="dropdown-menu">
      <li class="{% ifequal for 'band' %}active{% endifequal %}">
        <a href="{% url 'requests' order 'artist' scope zipcode %}?{{ request.GET.urlencode }}">artists</a>
      </li>
      <li class="{% ifequal for 'venue' %}active{% endifequal %}">
        <a href="{% url 'requests' order 'venue' scope zipcode %}?{{ request.GET.urlencode }}">venues</a>
      </li>
    </ul>
  </span>
{% endblock %}

{% block availabilityForm %}{% endblock %}
{% block scope %}<span class="text-white">within</span>{% endblock %}
{% block within %}
  <li class="{% ifequal scope '50' %}active{% endifequal %}">
    <a href="{% url feedType order for '50' zipcode %}?{{ request.GET.urlencode }}">50 miles</a>
  </li>
  <li class="{% ifequal scope 'any-distance' %}active{% endifequal %}">
    <a href="{% url feedType order for 'any-distance' zipcode %}?{{ request.GET.urlencode }}">any distance</a>
  </li>
{% endblock %}

{% block orderOptions %}
  <li class="{% ifequal order 'expiring' %}active{% endifequal %}">
    <a href="{% url feedType 'expiring' for scope zipcode %}?{{ request.GET.urlencode }}">Expiring</a>
  </li>
  <li class="{% ifequal order 'latest' %}active{% endifequal %}">
    <a href="{% url feedType 'latest' for scope zipcode %}?{{ request.GET.urlencode }}">Latest</a>
  </li>
{% endblock %}

{% block feed %}
  {% include "feeds/requests/_feed.html" with requests=posts %}
{% endblock %}
