{% extends 'feeds/base.html' %}


{% block navColor %}{% block bgColor %}blue{% endblock %}{% endblock %}
{% block requestsClass %}active{% endblock %}
{% block feedType %}Requests{% endblock %}
{% block forForm %}
  <span class="text-white">Looking for </span>
  <span class="dropdown">
    <a class="text-white dropdown-toggle" href="#" type="button" data-toggle="dropdown" aria-expanded="true">
      {{ for|capfirst }}s <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="{% ifequal for 'band' %}active{% endifequal %}">
        <a href="{% url 'requests' order 'band' 'all' zipcode %}?{{ request.GET.urlencode }}">Bands</a>
      </li>
      <li class="{% ifequal for 'venue' %}active{% endifequal %}">
        <a href="{% url 'requests' order 'venue' 'all' zipcode %}?{{ request.GET.urlencode }}">Venues</a>
      </li>
    </ul>
  </span>
{% endblock %}

{% block availabilityForm %}{% endblock %}

{% block scopeNav %}
  <li class="{% block localClass %}{% endblock %}">
    <a href="{% url 'requests' order for 'local' zipcode %}?{{ request.GET.urlencode }}">Local</a>
  </li>
  <li class="{% block globalClass %}{% endblock %}">
    <a href="{% url 'requests' order for 'all' zipcode %}?{{ request.GET.urlencode }}">All</a>
  </li>
  {% if user.is_authenticated %}
    <li class="{% block followingClass %}{% endblock %}">
      <a href="{% url 'requests' order for 'following' zipcode %}?{{ request.GET.urlencode }}">Following</a>
    </li>
  {% endif %}
{% endblock %}

{% block orderOptions %}
  <li class="{% ifequal order 'all' %}text-bold{% endifequal %}">
    <a href="{% url 'requests' 'all' for 'all' zipcode %}?{{ request.GET.urlencode }}">All</a>
  </li>
  <li class="{% ifequal order 'expiring' %}text-bold{% endifequal %}">
    <a href="{% url 'requests' 'expiring' for 'all' zipcode %}?{{ request.GET.urlencode }}">Expiring</a>
  </li>
  <li class="{% ifequal order 'new' %}text-bold{% endifequal %}">
    <a href="{% url 'requests' 'new' for 'all' zipcode %}?{{ request.GET.urlencode }}">New </a>
  </li>
{% endblock %}

{% block feed %}
  {% include "feeds/requests/_feed.html" with requests=posts %}
{% endblock %}
