
.row {
  margin-right:0px;
  margin-left:0px;
}

.col {
  position:relative;
  height:125px;
  .color {

    position: absolute;
    bottom:0;
    vertical-align:bottom;
    visibility:hidden;
    font-weight:700;
    font-size:14pt;
  }
  &:hover,
  &:focus,
  &:active,
  .active {
    .color {
      visibility:visible;
    }
  }
}


#black {
  color:@black;
}
#white {
  color:@white;
}

.black {
  background-color:@black;
}
.black-light {
  background-color:@black-light;
}
.silver {
  background-color:@silver;
}
.silver-light {
  background-color:@silver-light;
}
.white {
  background-color:@white;
}

.gray-darker {
  background-color:@gray-darker;
}
.gray-dark {
  background-color:@gray-dark;
}
.gray {
  background-color:@gray;
}
.gray-light {
  background-color:@gray-light;
}
.gray-lighter {
  background-color:@gray-lighter;
}

.dark-blue {
  background-color:@dark-blue;
}
.muted-blue {
  background-color:@muted-blue;
}
.blue {
  background-color:@blue;
}
.light-blue {
  background-color:@light-blue;
}
.faded-blue {
  background-color:@faded-blue;
}

.dark-green {
  background-color:@dark-green;
}
.muted-green {
  background-color:@muted-green;
}
.green {
  background-color:@green;
}
.light-green {
  background-color:@light-green;
}
.faded-green {
  background-color:@faded-green;
}

.dark-orange {
  background-color:@dark-orange;
}
.muted-orange {
  background-color:@muted-orange;
}
.orange {
  background-color:@orange;
}
.light-orange {
  background-color:@light-orange;
}
.faded-orange {
  background-color:@faded-orange;
}

.dark-purple {
  background-color:@dark-purple;
}
.muted-purple {
  background-color:@muted-purple;
}
.purple {
  background-color:@purple;
}
.light-purple {
  background-color:@light-purple;
}
.faded-purple {
  background-color:@faded-purple;
}

.dark-red {
  background-color:@dark-red;
}
.muted-red {
  background-color:@muted-red;
}
.red {
  background-color:@red;
}
.light-red {
  background-color:@light-red;
}
.faded-red {
  background-color:@faded-red;
}
