.landing-page {
  color:@white;
  .jumbotron {
    margin-bottom: 0px;
  }
  .composers-couch {
    background-color:@white;
    color:@black;
    .image-frame {
      margin-bottom:48px;
    }
    .container {
      max-width:750px;
      .moto {
        margin-bottom:30px;
      }
    }
  }
  .black {
    background-color:@black;
  }
  .blue {
    background-color:@blue;
  }
  .green {
    background-color:@green;
  }
}
