.landing-page {
  background-color: @white;
  margin-bottom: 0px;
  h1 {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 50px;
  }
  .couch {
    color: @blue;
  }
  .modal-dialog {
    width: auto;
  }
  .modal-header {
    margin-bottom: 15px;
  }
  .authentication {
    .sign-in {
      margin: 0px;
      p {
        font-size: @font-size-base;
      }
    }
  }
}
