{% load crispy_forms_tags  %}


{% if my_genres or category %}
  <div class="text-right">
    <a class="btn btn-sm btn-danger-inv" href="{{ request.path }}"><span class="fa fa-filter"><span> <u>Remove Filters</u></a>
    </p>
  </div>
{% endif %}
{% if request.user.is_authenticated %}
  {% if following %}
    <div class="panel">
      <div class="panel-body">
        {% if feed_type == "artists" or feed_type == "venues" %}
          <p>You are not currently following any {{ feed_type }}.</p>
        {% else %}
          <p>No {{ feed_type }} at this time.</p>
        {% endif %}
      </div>
    </div>
  {% elif zipcodeForm %}
    <div class="panel">
      <div class="panel-body">
        <p>No {{ feed_type }} feel free to try a diffrent zipcode.</p>
        <form class="form-inline zipcode-form" role="filter" method="POST" action="{% url 'zipcode' %}">
          <input type="hidden" name="path" value="{% firstof request.path '/' %}">
          {% crispy zipcodeForm %}
        </form>
      </div>
    </div>
  {% else %}
    <div class="panel">
      <div class="panel-body">
        <p>No {{ feed_type }} at this time.</p>
      </div>
    </div>
  {% endif %}
{% else %}
  {% if zipcode %}
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <p>No {{ feed_type }} at this time. please enter a {% if zipcode %}different{% endif %}
             zipcode or <a href="{% url 'signup' %}?next={% firstof request.path '/' %}">sign up</a>
             for more options.</p>
          <div class="col-sm-6">
            <form class="form-inline zipcode-form" role="filter" method="POST" action="{% url 'zipcode' %}">
              <input type="hidden" name="path" value="{% firstof request.path '/' %}">
              {% crispy zipcodeForm %}
            </form>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'signup' %}?next={% firstof request.path '/' %}" class="btn btn-primary">Join Composers Couch</a>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="panel">
      <div class="panel-body">
        <p>No {{ feed_type }} at this time. <a href="{% url 'signup' %}?next={% firstof request.path '/' %}">Sign Up</a> for more options.</p>
      </div>
    </div>
  {% endif %}
{% endif %}
