{% from "profile/macros.html" import contact, mugshot %}
{#{% load inbox %}#}


{% if post %}
  <div class="post message">
    <div class="panel">
      <div class="panel-body">
        <div class="message-row reciver">
          <div class="message-image-col">
            <div class="message-image">
              <a href="{{ post.user.profile.get_absolute_url() }}">
                {{ mugshot(profile=post.user.profile, width=50, height=50) }}
              </a>
            </div>
          </div>
          <div class="message-content-col">
            <div class="message-content">
              {% if request.user == post.user or request.user == post.target %}
                <form method="POST" action="{{ url('remove_post') }}">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <input type="hidden" name="post" value="{{ post.id }}">
                  <div class="dropdown pull-right">
                    <a class="btn btn-default dropdown-toggle" href="javascript:void(0)" type="button" data-toggle="dropdown" aria-expanded="true">
                      <span class="fa fa-ellipsis-v text-muted"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li><input class="btn btn-link" type="submit" onclick="this.form.onsubmit(); return false; " value="Remove Post"></li>
                    </ul>
                  </div>
                </form>
              {% endif %}
            </div>
            <div class="body"><p>{{ post.message|safe|urlize|linebreaks }}</p></div>
            {% if post.photo %}
              <img src="{{ post.photo.image.url }}" alt="{{ post.title }}" width="200" height="200"/>
            {% endif %}
            <div class="footer text-muted">
              <a class="text-muted" href="{{ post.user.profile.get_absolute_url() }}">{{ post.user.profile }}</a>
              <span> | </span>
              <span class="date">{{ post.created_at|timesince }} ago</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="panel">
    <div class="panel-body">
      <p class="text-muted" >Removed</p>
    </div>
  </div>
{% endif %}
