{% extends 'base.html' %}
{% from "utils/form_macros.html" import form as render_form %}
{% from "accounts/macros.html" import singup_form, login_form as render_login_form %}


{% block overwriteHeader %}
<div class="header landing-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 title">
        <h1 class="composers">COMPOSERS<strong class="couch">COUCH</strong></h1>
        <div class="moto">
          <h3>Changing how local shows are booked and promoted.</h3>
        </div>
        <a href="{{ url('learn') }}" type="button" class="btn btn-lg btn-default">
          Learn more <small><span class="fa fa-chevron-right"></span></small>
        </a>
      </div>
      <div class="col-sm-4 authentication">
        {% if signupForm %}
        <div class="sign-in non-modal-form">
          <div role="tabpanel" class="modal-content">
            <div class="modal-header">
              <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                  <a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign up</a>
                </li>
                <li role="presentation">
                  <a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="signup">
                <div class="modal-body">
                  <form id="sign-up-form" method="post" action="{{ url('signup') }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    {{ singup_form(signupForm) }}
                    {{ render_form(zipcodeForm) }}
                    {{ render_form(emailForm) }}
                    <input type="hidden" name="next" value="{{next|default("")}}"/>
                    <div class="text-right">
                      <button type="submit" onclick="this.form.onsubmit();return false;" class="btn btn-primary">
                          Sign up
                      </button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="social-links text-center">
                    <p>or sign up with:</p>
                    <a href="{{ url('socialauth_begin', kwargs={'backend':'twitter'}) }}" class="btn btn-twitter-inv" role="button">
                      <span class="fa fa-twitter"></span> Twitter
                    </a>
                    <a href="{{ url('socialauth_begin', kwargs={'backend':'facebook'}) }}" class="btn btn-facebook-inv" role="button">
                      <span class="fa fa-facebook"></span> Facebook
                    </a>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="login">
                <div class="modal-body">
                  <form id="sign-in-form" method="post" action="{{ url('login') }}">
                    {{ render_login_form(login_form) }}
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="next" value="{{next|default("")}}"/>
                    <div class="text-right">
                      <button type="submit" onclick="this.form.onsubmit();return false;" class="btn btn-primary">
                        Login
                      </button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <div class="social-links text-center">
                    <p>or login with:</p>
                    <a href="{{ url('socialauth_begin', kwargs={'backend':'twitter'}) }}" class="btn btn-twitter-inv" role="button">
                      <span class="fa fa-twitter"></span> Twitter
                    </a>
                    <a href="{{ url('socialauth_begin', kwargs={'backend':'facebook'}) }}" class="btn btn-facebook-inv" role="button">
                      <span class="fa fa-facebook"></span> Facebook
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block navigation %}
<div class="navigation feed {% block bgColor %}blue{% endblock %}">
  <div class="container-fluid">
    <div class="main-nav">
      <span class="dropdown">
        <a class="btn btn-header dropdown-toggle toggle title" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
          {{ feedType |title }}<span class="caret-large text-white"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="{% block requestsClass %}{% endblock %}">
            {% if request.user.is_authenticated() and request.user.profile.profile_type == "m" %}
              <a href="{{ url('requests', kwargs={'order':'expiring', 'for':'band', 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Requests</a>
            {% else %}
              <a href="{{ url('requests', kwargs={'order':'expiring', 'for':'venue', 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Requests</a>
            {% endif %}
          </li>
          <li class="{% block showsClass %}{% endblock %}">
            <a href="{{ url('shows', kwargs={'order':'upcoming', 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Shows</a>
          </li>
          <li class="{% block artistsClass %}{% endblock %}">
            <a href="{{ url('artists', kwargs={'order':'all', 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Artists</a>
          </li>
          <li class="{% block venuesClass %}{% endblock %}">
            <a href="{{ url('venues', kwargs={'order':'all', 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Venues</a>
          </li>
          <li class="{% block updatesClass %}{% endblock %}">
            <a href="{{ url('updates', kwargs={'order':'latest', 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Updates</a>
          </li>
        </ul>
      </span>
      {% block forForm %}{% endblock %}
      {% if request.user.is_authenticated() %}
        {% block scope %}
          <span class="dropdown">
            <a class="btn btn-transparent-dropdown dropdown-toggle" href="javascript:void(0)" type="button" data-toggle="dropdown" aria-expanded="true">
              <span class="dotted-bottom text-white">{% block currentScope %}within{% endblock %}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="{% block withinClass %}active{% endblock %}">
                <a href="{{ url(feedType, kwargs={'order':order, 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">within</a>
              </li>
              {% block availabilityScope %}
                <li class="{% block availableClass %}{% endblock %}">
                  <a href="{{ url('available_artists', kwargs={'order':order, 'year':2014, 'month':32, 'day':32, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">available on</a>
                </li>
              {% endblock %}
              <li class="{% block followingClass %}{% endblock %}">
                <a href="{{ url(feedType, kwargs={'order':order, 'scope':'following', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">I'm following</a>
              </li>
            </ul>
          </span>
        {% endblock %}
      {% else %}
        <span class="text-white">within</span>
      {% endif %}
      {% if availabilityForm %}
        <span class="dropdown">
          <a class="btn btn-transparent-dropdown dropdown-toggle"
             data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
             <span class="dotted-bottom text-white">{% if date %}{{ local_time(date,"n/j/y") }}{% else %}Date{% endif %}</span>
          </a>
          <ul class="dropdown-menu dropdown-form" role="menu">
            <li>
              <div class="row">
                <label>Date:</label>
                <form class="availability-form" role="filter" method="POST" action="{{ url('availability') }}">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <input type="hidden" name="path" value="{{ request.path|default('/') }}">
                  {{ render_form(availabilityForm) }}
                  <button type="submit" onclick="this.form.onsubmit(); return false; " class="btn btn-primary">
                    Submit
                  </button>
                </form>
              </div>
            </li>
          </ul>
        </span>
      {% endif %}
      {% block locationForm %}
        {% block distance %}
          <span class="dropdown">
            <a class="btn btn-transparent-dropdown dropdown-toggle" href="javascript:void(0)" type="button" data-toggle="dropdown" aria-expanded="true">
              <span class="dotted-bottom text-white">{{ distance|default("any distance") }}</span>
            </a>
            <ul class="dropdown-menu">
              {% block within %}
                <li class="{% if scope == '50' %}active{% endif %}">
                  <a href="{{ url(feedType, kwargs={'order':order, 'scope':'50', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">50 miles</a>
                </li>
                <li class="{% if scope == 'any-distance' %}active{% endif %}">
                  <a href="{{ url(feedType, kwargs={'order':order, 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">any distance</a>
                </li>
              {% endblock %}
            </ul>
          </span>
          <span class="text-white nav-text">of</span>
        {% endblock %}
        <span class="dropdown">
          <a class="btn btn-transparent-dropdown dropdown-toggle"
             data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
             <span class="dotted-bottom text-white">{% if zipcode %}{{ zipcode }}{% else %}location{% endif %}</span>
          </a>
          <ul class="dropdown-menu dropdown-form" role="menu">
            <li>
              <div class="row">
                <label>Zipcode:</label>
                <form class="nav-form" role="filter" method="POST" action="{{ url('zipcode') }}">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <input type="hidden" name="path" value="{{ request.path|default('/') }}">
                  {{ render_form(locationForm) }}
                  <button type="submit" onclick="this.form.onsubmit(); return false; " class="btn btn-primary">
                    Submit
                  </button>
                </form>
              </div>
            </li>
          </ul>
        </span>
    {% endblock %}
    </div>
    <div class="row no-gutter">
      <div class="col-xs-6 left">
        {% if categories %}
          <span class="dropdown text-left filter">
            <a class="btn btn-transparent-dropdown dropdown-toggle"
               data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
              <span class="dotted-bottom">
                {% if category %}{{ category|title }}{% elif my_genres %}My Genres{% else %}All Genres{% endif %}
              </span>
            </a>
            <ul class="dropdown-menu dropdown-form" role="menu">
              {% block genreForm %}
                <li>
                  <b>Filter by:</b>
                  <div class="row no-gutter genres">
                    {% if my_genres %}
                      <a class="btn btn-xs btn-primary" href="{{ request.path }}">My genres X</a>
                    {% else %}
                      <a class="btn btn-xs btn-default" href="{{ request.path }}?my-genres=on">My genres</a>
                    {% endif %}
                    <span> or </span>
                    {% for genre in categories %}
                      {% if category == genre.slug %}
                        <a class="label label-primary" href="{{ request.path }}">{{ genre }} X</a>
                      {% else %}
                        <a class="label label-default" href="{{ request.path }}?genre={{ genre.slug }}">{{ genre }}</a>
                      {% endif %}
                    {% endfor %}
                    <span class="more-genres">
                      {% for genre in more_categories %}
                        {% if category == genre.slug %}
                          <a class="label label-primary" href="{{ request.path }}">{{ genre }} X</a>
                        {% else %}
                          <a class="label label-default" href="{{ request.path }}?genre={{ genre.slug }}">{{ genre }}</a>
                        {% endif %}
                      {% endfor %}
                    </span>
                  </div>
                  <a id="load-more-genres" class="btn btn-sm btn-default" href="javascript:void(0)">Show More</a>
                </li>
              {% endblock %}
            </ul>
          </span>
        {% endif %}
      </div>
      <div class="col-xs-6 right text-right">
        {% if order %}
          <span class="dropdown text-left filters order">
            <a class="btn btn-transparent-dropdown dropdown-toggle"
               data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
               <span class="dotted-bottom">{{ order|default("Order")|title }}</span>
            </a>
            <ul class="dropdown-menu" role="menu">
              {% block orderOptions %}
                <li class="{% if order == 'all' %}active{% endif %}">
                  <a href="{{ url(feedType, kwargs={'order':'all', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">All</a>
                </li>
                <li class="{% if order == 'latest' %}active{% endif %}">
                  <a href="{{ url(feedType, kwargs={'order':'latest', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Latest</a>
                </li>
              {% endblock %}
            </ul>
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="feed">
    <div class="cards">
      {% block feed %}{% endblock %}
    </div>
  </div>
{% endblock %}
