{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% crispy AvailabilityForm AvailabilityForm.helper %}
{% crispy GenreForm GenreForm.helper %}
{% crispy ZipcodeForm ZipcodeForm.helper %}

{% block headerClass %}feed {% block bgColor%}blue{% endblock %}{% endblock %}

{% block header %}
  <div class="feed">
    <div class="main-nav" >
      <ul class="nav nav-pills" role="menu">
        <li class="{% block requestsClass %}{% endblock %}">
          <a href="{% url 'requests' 'expiring' 'default' 'all' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Requests</a>
        </li>
        <li class="{% block showsClass %}{% endblock %}">
          <a href="{% url 'shows' 'upcoming' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Concerts</a>
        </li>
        <li class="{% block artistsClass %}{% endblock %}">
          <a href="{% url 'artists' 'all' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Artists</a>
        </li>
        <li class="{% block venuesClass %}{% endblock %}">
          <a href="{% url 'venues' 'all' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Venues</a>
        </li>
        <li class="{% block updatesClass %}{% endblock %}">
          <a href="{% url 'updates' 'all' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Updates</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block navigation %}
<div class="navigation thread">
  <div class="container-fluid">
    <div class="feed">
      <div class="row no-gutter">
        <div class="col-xs-10 left">
          <ul class="nav nav-pills">{% block scopeNav %}{% endblock %}</ul>
        </div>
        <div class="col-xs-2 right">
          <div class="text-right">
            {% block filters %}
            <button class="btn btn-link text-black" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">
              Filters <span class="caret text-muted"></span>
            </button>
            {% endblock %}
          </div>
        </div>
      </div>
      <div class="collapse row no-gutter" id="filters">
        {% block genreForm %}
          <div class="col-xs-6" >
            <b>Filter by:</b>
            <form class="genre-form" role="filter" method="POST" action="{% url 'filter' %}">
              <input type="hidden" name="path" value="{% firstof request.path '/' %}">
              {% crispy genreForm %}
            </form>
          </div>
        {% endblock %}
        {% block orderForm %}
          <div class="col-xs-6" >
            <b>Order by:</b>
            <ul class="list-unstyled">{% block orderOptions %}{% endblock %}</ul>
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="feed">
    <div class="cards">
      <div>
        <span>{% block feedType %}results{% endblock %}</span>
        {% block forForm %}{% endblock %}
        {% block availabilityForm %}
          <span>available on</span>
          <a href="#" role="button" data-toggle="popover"
             id="availability-select" class="toggle" title="Availability">
            {% if date %}{{ date|date:"n/j/y" }}{% else %}Availability{% endif %}<span class="caret"></span>
          </a>
          <div class="availability-content hide">
            <form class="availability-form" role="filter" method="POST" action="{% url 'availability' %}">
              <input type="hidden" name="path" value="{% firstof request.path '/' %}">
              {% crispy availabilityForm %}
            </form>
          </div>
        {% endblock %}
        {% block zipcodeForm %}
          <span> near</span>
          <a href="#" role="button" data-toggle="popover"
             id="zipcode-select" class="toggle" title="Zipcode">
            {% if zipcode %}{{ zipcode }}{% else %}Zipcode{% endif %}<span class="caret"></span>
          </a>
          <div class="zipcode-content hide">
            <form class="nav-form" role="filter" method="POST" action="{% url 'zipcode' %}">
              <input type="hidden" name="path" value="{% firstof request.path '/' %}">
              {% crispy zipcodeForm %}
            </form>
          </div>
        {% endblock %}
      </div>
      {% block feed %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ script.super }}
  <script type="text/javascript" >
    $('#availability-select').popover({
        html: true,
        placement: 'bottom',
        content: function () {
            return $('.availability-content').html();
        }
    });
    $('#zipcode-select').popover({
        html: true,
        placement: 'bottom',
        content: function () {
            return $('.zipcode-content').html();
        }
    });
    $('html').on('click', function (e) {
      $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
          $(this).popover('hide');
        }
      });
    });
    $('#availability-select').on('shown.bs.popover', function () {
        $(function () {
            $('#id_date').datetimepicker({pickTime: false});
        });
    })
    $('#zipcode-select').on('shown.bs.popover', function () {
          {% comment %}TODO: get url with not so fancy javascript{% endcomment %}
          $('#div_id_zip_code').yourlabsWidget({
              autocompleteOptions: {
                  url: '/autocomplete/ZipcodeAutocomplete/',
                  choiceSelector: '[data-value]',
                  placeholder: '',
              },
          });
    })
  </script>
{% endblock %}
