{% from "schedule/macros.html" import show %}
{% from "utils/macros.html" import paginate %}
{% from "search/cards.html" import artist_card, venue_card, post_card %}
{% from "request/macros.html" import public_request %}


{% macro empty_feed(request, feed_type, following) -%}
  {% if request.user.is_authenticated() %}
    {% if following %}
      <div class="panel">
        <div class="panel-body">
          {% if feed_type == "artists" or feed_type == "venues" %}
            <p>You are not currently following any {{ feed_type }}.</p>
          {% else %}
            <p>No {{ feed_type }} at this time.</p>
          {% endif %}
        </div>
      </div>
    {% elif locationForm %}
      <div class="panel">
        <div class="panel-body">
          <p>No {{ feed_type }} feel free to try a diffrent zipcode.</p>
          <form class="form-inline zipcode-form" role="filter" method="POST" action="{{ url('zipcode') }}">
            <input type="hidden" name="path" value="{{ request.path|default('/') }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            {{ render_form(locationForm) }}
          </form>
        </div>
      </div>
    {% else %}
      <div class="panel">
        <div class="panel-body">
          <p>No {{ feed_type }} at this time.</p>
        </div>
      </div>
    {% endif %}
  {% else %}
    {% if zipcode %}
      <div class="panel">
        <div class="panel-body">
          <div class="row">
            <p>No {{ feed_type }} at this time. please enter a {% if zipcode %}different{% endif %}
               zipcode or <a href="{{ url('signup') }}?next={{ request.path|default('/') }}">sign up</a>
               for more options.</p>
            <div class="col-sm-6">
              <form class="form-inline zipcode-form" role="filter" method="POST" action="{{ url('zipcode') }}">
                <input type="hidden" name="path" value="{{ request.path|default('/') }}">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                {{ render_form(locationForm) }}
              </form>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="panel">
        <div class="panel-body">
          <p>No {{ feed_type }} at this time. <a href="{{ url('signup') }}?next={{ request.path|default('/') }}">Sign Up</a> for more options.</p>
        </div>
      </div>
    {% endif %}
  {% endif %}
{%- endmacro %}


{% macro shows_feed(request, shows, following='') -%}
  <div class="shows">
    {% for s in shows %}
      {# hack to until show clean up is ensured #}
      {% if s.events.first %}
        {{ show(request=request, show=s) }}
      {% endif %}
    {% else %}
      {{ empty_feed(request=request, feed_type="shows", following=following) }}
    {% endfor %}
    {{ paginate(request=request, page=shows) }}
  </div>
{%- endmacro %}

{% macro artists_feed(request, artists, following='') -%}
  <div class="artists">
    {% for artist in artists %}
      <div class="artist">
        {{ artist_card(request=request, artist=artist) }}
      </div>
    {% else %}
      {{ empty_feed(request=request, feed_type="artists", following=folloing) }}
    {% endfor %}
    {{ paginate(request=request, page=artists) }}
  </div>
{%- endmacro %}

{% macro venues_feed(request, venues, following='') -%}
  <div class="venues">
    {% for venue in venues %}
      <div class="venue">
        {{ venue_card(request=request, venue=venue) }}
      </div>
    {% else %}
      {{ empty_feed(request=request, feed_type="venues", following=folloing) }}
    {% endfor %}
    {{ paginate(request=request, page=venues) }}
  </div>
{%- endmacro %}

{% macro updates_feed(request, activities, following='') -%}
  <div class="activities">
    {% if activities %}
      {% for activity in activities %}
        <div class="activity">
          {{ post_card(request=request, post=activity.post) }}
        </div>
      {% endfor %}
      {#{{ paginate(request=request, page=activities) }}#}
    {% else %}
      {{ empty_feed(request=request, feed_type="updates", following=folloing) }}
    {% endif %}
  </div>
{%- endmacro %}

{% macro requests_feed(request, publicRequests, following='') -%}
  <div class="requests">
    {% for publicRequest in publicRequests %}
      <div class="publicRequest">
        <div class="panel panel-default">
          {{ public_request(request=request, publicRequest=publicRequest) }}
          {% if request.user != publicRequest.requester %}
            {% if request.user.is_authenticated() and not noApply and not publicRequest.fulfilled %}
              {% if publicRequest.applicants and user.profile.profile_type == 'm' %}
                <div class="panel-footer text-right">
                  <a href="{{ url('request_appy_to_venue', kwargs={'request_id':publicRequest.id}) }}" class="btn btn-default">
                    Apply
                  </a>
                </div>
              {% elif not publicRequest.applicants %}
                <div class="panel-footer text-right">
                  <a href="{{ url('request_appy_to_band', kwargs={'request_id':publicRequest.id}) }}" class="btn btn-default">
                    Apply
                  </a>
                </div>
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% else %}
      {{ empty_feed(request=request, feed_type="requests", following=folloing) }}
    {% endfor %}
    {{ paginate(request=request, page=requests) }}
  </div>
{%- endmacro %}
