{% extends 'feeds/base.html' %}
{% from "feeds/feeds.html" import requests_feed %}


{% block bgColor %}dark-blue{% endblock %}
{% block requestsClass %}active{% endblock %}
{% block availabilityScope %}{% endblock %}
{% block forForm %}
  <span class="text-white">for</span>
  <span class="dropdown">
    <a class="btn btn-transparent-dropdown dropdown-toggle" href="javascript:void(0)" type="button" data-toggle="dropdown" aria-expanded="true">
      <span class="dotted-bottom text-white" >{{ for }}s</span>
    </a>
    <ul class="dropdown-menu">
      <li class="{% if for == 'band' %}active{% endif %}">
        <a href="{{ url('requests', kwargs={'order':order, 'for':'artist', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">artists</a>
      </li>
      <li class="{% if for == 'venue' %}active{% endif %}">
        <a href="{{ url('requests', kwargs={'order':order, 'for':'venue', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">venues</a>
      </li>
    </ul>
  </span>
{% endblock %}

{% block scope %}<span class="text-white">within</span>{% endblock %}
{% block within %}
  <li class="{% if scope == '50' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':order, 'for':for, 'scope':'50', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">50 miles</a>
  </li>
  <li class="{% if scope == 'any-distance' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':order, 'for':for, 'scope':'any-distance', 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">any distance</a>
  </li>
{% endblock %}

{% block orderOptions %}
  <li class="{% if order == 'expiring' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':'expiring', 'for':for, 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Expiring</a>
  </li>
  <li class="{% if order == 'latest' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':'latest', 'for':for, 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Latest</a>
  </li>
{% endblock %}

{% block feed %}
  {{ requests_feed(request=request, publicRequests=object_list) }}
{% endblock %}
