{% extends 'feeds/base.html' %}
{% from "feeds/feeds.html" import shows_feed %}

{% block showsClass %}active{% endblock %}
{% block bgColor %}dark-green{% endblock %}
{% block availabilityScope %}{% endblock %}

{% block orderOptions %}
  <li class="{% if order == 'all' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':'all', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode }}">All</a>
  </li>
  <li class="{% if order == 'upcoming' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':'upcoming', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode }}">Upcoming</a>
  </li>
  <li class="{% if order == 'latest' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':'latest', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode }}">Latest</a>
  </li>
{% endblock %}

{% block feed %}
  {{ shows_feed(request=request, shows=object_list) }}
{% endblock %}
