{% extends 'feeds/updates_updates.html' %}
{% from "feeds/feeds.html" import empty_feed %}
{% from "search/cards.html" import post_card %}
{% from "utils/macros.html" import paginate %}


{% block feed %}
  <div class="posts">
    {% for object in object_list %}
    <div class="post">
      {{ post_card(request=request, post=object) }}
    </div>
    {% else %}
      {{ empty_feed(request=request, feed_type="updates", following=folloing) }}
    {% endfor %}
    {{ paginate(request=request, page=object_list) }}
  </div>
{% endblock %}
