{% extends 'feeds/base.html' %}
{% from "feeds/feeds.html" import updates_feed %}


{% block updatesClass %}active{% endblock %}
{% block bgColor %}purple{% endblock %}
{% block availabilityScope %}{% endblock %}

{% block orderOptions %}
  <li class="{% if order == 'latest' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':'latest', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">Latest</a>
  </li>
{% endblock %}

{% block feed %}
  {{ updates_feed(request=request, activities=activities, following="Ture") }}
{% endblock %}
