{% extends 'feeds/base.html' %}

{% block updatesClass %}active{% endblock %}
{% block bgColor %}purple{% endblock %}
{% block availabilityScope %}{% endblock %}

{% block orderOptions %}
  <li class="{% if order == 'latest' %}active{% endif %}">
    <a href="{{ url(feedType, kwargs={'order':'latest', 'scope':scope, 'zipcode':zipcode}) }}?{{ request.GET.urlencode }}">Latest</a>
  </li>
{% endblock %}

{% block feed %}
  {% include "feeds/_updates_feed.html" with activities=activities %}
{% endblock %}
