{% extends 'feeds/base.html' %}
{% from "feeds/feeds.html" import venues_feed %}


{% block venuesClass %}active{% endblock %}
{% block bgColor %}blue{% endblock %}

{% block availabilityScope %}
  <li class="{% block availableClass %}{% endblock %}">
    <a href="{{ url('available_venues', kwargs={'order':order, 'year':2014, 'month':32, 'day':32, 'zipcode':zipcode}) }}?{{ request.GET.urlencode() }}">available on</a>
  </li>
{% endblock %}

{% block feed %}
  {{ venues_feed(request=request, venues=object_list) }}
{% endblock %}
