{% extends 'fan/detail.html' %}


{% block photosClass %}active{% endblock %}
{% block dropdownTitle %}Photos{% endblock %}

{% block panelBody %}
  <div class="row no-gutter page-header">
    <a class="{{isEditable}} btn btn-success" href="{{ url('photos:upload') }}">
      <span class="fa fa-plus"></span> Add Photo
    </a>
  </div>
  <div class="{% if not images %}{{isEditable}}{% endif %}">
    {% from "profile/pages.html" import photos %}{{ photos(images=images) }}

  </div>
{% endblock %}
