<script type="text/javascript">
  var myPlaylist = new jPlayerPlaylist({
    jPlayer: "#jquery_jplayer_{{ id }}",
    cssSelectorAncestor: "#jp_container_{{ id }}"
  },
{% if playlist %}{{ playlist }},{% endif %}
  {
    playlistOptions: {
      enableRemoveControls: false
    },
    swfPath: "/js",
    supplied: "ogv, m4v, oga, mp3",
    keyEnabled: true,
    displayTime: 0,
    audioFullScreen: false // Allows the audio poster to go full screen via keyboard
  });
  $(document).ready(function() {
      $('#jquery_jplayer_{{ id }}').hide();
  });

</script>
